// Neutral color variables
$white: #FFFFFF;
$black: #333333;
$gray-90: #5C5C5C;
$gray-80: #666666; /*changed from domino-gray*/
$gray-60: #858585;
$gray-30: #C1C1C1;
$gray-20: #D6D6D6;
$gray-10: #EAEAEA;
$gray-05: #F3F3F3;
$green: #00BC02;

// Brand color variables
$blue: #00CCFF;
$navy: #105585;
$red: #FF0000;
$orange: orange;

// Alert color variables
$red: #FF0000;

// Colors w/ alpha channel
$blue-alpha-25: rgba(0, 204, 255, 0.25);
$blue-alpha-50: rgba(0, 204, 255, 0.5);
$blue-alpha-75: rgba(0, 204, 255, 0.75);

// Text Colors
.white { color: $white; }
.black { color: $black; }
.gray-90 { color: $gray-90; }
.gray-80 { color: $gray-80; }
.gray-60 { color: $gray-60; }
.gray-30 { color: $gray-30; }
.gray-20 { color: $gray-20; }
.gray-10 { color: $gray-10 }
.gray-05 { color: $gray-05; }

.blue { color: $blue; }
.red { color: $red; }
.orange { color: $orange; }
.green { color: $green; }


// Background colors
.bg-transparent{ background-color: transparent; }
.bg-white { background-color: $white; }
.bg-gray-05 { background-color: $gray-05; }
.bg-gray-10 { background-color: $gray-10; }
.bg-gray-20 { background-color: $gray-20; }
.bg-gray-60 { background-color: $gray-60; }
.bg-blue { background-color: $blue; }
.bg-red { background-color: $red; }
.bg-navy { background-color: $navy; }

// Border colors
.border-gray-10 { border-color: $gray-10; }
.border-gray-30 { border-color: $gray-30; }
.border-gray-60 { border-color: $gray-60; }

//Hover
.blue--hover:hover {
  color: $blue;
}

// Overlays
.overlay {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
  }
  & * { z-index: 1; }
}
.overlay-blue-alpha-75 {
  &::before { background-color: $blue-alpha-75; }
}