.calculator-section.dark
  .drawing
    = embedded_svg "Drawings.svg"
  .row
    .col-md-3.col-md-offset-1
      = render "calculator"
    .col-md-3.col-md-offset-3
      .offsite-solar
        %h4 Offsite Solar
        %p
          Get the financial and energy saving benefits of solar panels with none
          of the maintenance.
        %p
          Up to $2059 more cash in your pocket/year with Offsite Solar and
          Ground Heat.
