.explanation
  .row
    .col-md-5.col-md-offset-2
      .section
        %h2
          What the Hell is
          %span.green Going Green?
        %p
          We think of
          %span.green Going Green
          as taking actions that reduce your energy
          footprint and put cash back in your pocket at the same time. Solar
          panels mean free electricity. Geothermal systems mean free heating +
          cooling. Electric cars mean no more gas-ups.
          %strong What could that mean for you?
      .section
        %h2 Put More Cash In Your Pocket By..
        %p
          .glyphicon.glyphicon-ok
          Switching from expensive to cheaper or free energy
        %p
          .glyphicon.glyphicon-ok
          Grabbing the tens of 1000s of dollars available to most households
        %p
          .glyphicon.glyphicon-ok
          Paying nothing upfront
        %p
          .glyphicon.glyphicon-ok
          Combining actions (like charging your electric car with rooftop solar)
    .col-md-3
      .info-box
        = embedded_svg "Chat Icon.svg"
        %h2 Talk To Us
        %p
          Domino gives you an energy concierge who can recommend the best actions
          for your home, family and lifestyle. We’ve found 4,326 ways to
          %span.green Go Green
          and sourced deals with hundreds of providers so you don’t have to.
        = render "reserve_button"
        .subtext
          %p Domino is 100% free for homeowners
