.amazon_picture, .task_icon
{
  display: flex;
  position: relative;
  min-height: 225px;
  img
  {
    margin: auto;
  }
}
.store.panel
{
  margin-bottom: 100px;
}
.product, .task
{
  cursor: pointer;
  .done
  {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 10rem;
    color: #51E0A3;
    .glyphicon
    {
      margin: auto;
    }
  }
}
.recommendation
{
  border-radius: 6px;
  overflow: hidden;
  border: 3px solid $ultra-light-gray;
  min-height: 375px;
  margin-bottom: 20px;
  &:hover
  {
    border: 3px solid $blue; 
  }
  position: relative;
  .status
  {
    padding: 5px 8px;
    .completion-status-icon
    {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 1px solid $blue;
      display: inline-block;
      position:relative;
      bottom: -3px;
      background-color: #D8D8D8;
    }
    &.completed .completion-status-icon
    {
      background-color: $blue;
      border: 1px solid $white;
      box-shadow: 0px 0px 0px 2px $blue;
    }
  }
  .icon
  {
    margin-top: 40px;
    img
    {
      max-height: 104px;
      width: auto;
    }
  }
  .title
  {
    padding: 0px 20px;
    margin: 20px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .description
  {
    padding: 0px 40px;
    font-size: .9rem;
    height: 80px;
    overflow: hidden;
  }
  .glyphicon-remove.btn
  {
    color: #d9534f;
    &:hover
    {
      color: #A23D3A;
    }
  }
  &.completed
  {
    opacity: .5;
    &:hover
    {
      opacity: 1;
    }
  }
  &:hover
  {
    cursor: pointer;
  }
}
.btn-group.filters .btn
{
  &.btn-transparent
  {
    background-color: #FFF;
    color: $gray;
    border-color: $light-gray;
  }
  font-size: .9rem;
  padding: .6rem .6rem .4rem;
  margin: 16px 0px 56px;
}
.comment-box
{
  padding: 15px;
  font-size: .8rem;
  color: #333;
  background-color: $ultra-light-gray;
  border-radius: 6px;
}