:css
  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
#checkout.pt4
  .max-width-3.mx-auto.mt4
    .clearfix.mb2
      .sm-col.sm-col-12.mx-auto
        %h1.center.blue.m0{style: "font-size: 25px;"}
          Only
          %span{style:'font-size: 80px;position:relative;font-weight:200;'}
            %span#fee
              = @code_valid ? 0 : 99
            %span{style: 'font-size:18px;position:absolute;left:-10px;top:18px;'}
              $
          %span{style: 'margin-left:-22px;'}
            \/year
        /.wrap{style: 'float:left;position:relative;left:50%;'}
        /.content{style: 'float:left;position:relative;left:-50%;'}
        %ul.px4.list-reset.mt0.max-width-2.mx-auto{style:'color:#555555;'}
          %li
            %h4.mt0
              %span
                %i.fa.fa-check.fa-3.blue
              A live energy savings concierge at your service
          %li
            %h4
              %span
                %i.fa.fa-check.fa-3.blue
              Your personalized path to 100% clean energy and big savings
          %li
            %h4
              %span
                %i.fa.fa-check.fa-3.blue
              An easy to use, cool dashboard to track your progress
          %li
            %h4
              %span
                %i.fa.fa-check.fa-3.blue
              Access to our seriously cool research on products and vendors
          %li
            %h4
              %span
                %i.fa.fa-check.fa-3.blue
              Exclusive energy and environmental educational stuff
          %li
            %h4
              %span
                %i.fa.fa-check.fa-3.blue
              Privileged access to our product previews and events

        =simple_form_for @profile, remote: true do |form|
          .clearfix.mx-auto
            .col.col-12.sm-col.sm-col-6.xs-center
              %label.right#partner-code-label HAVE A PARTNER CODE?
            .col.col-12.sm-col.sm-col-6.xs-center
              =form.input_field :partner_code, class: 'blue', style: "text-transform: uppercase; padding-left: 8px; border: 2px solid #00CCFF;display:inline;height:34px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;width:100px;"
              %button.inline{type: "button", id: 'btn-apply', style: 'padding:8px;border:2px solid #00CCFF;background-color: #00CCFF;border-bottom-right-radius: 5px;border-top-right-radius: 5px;margin-left:-6px;color:white;'} APPLY
            .col.col-12.center.px2
              %p No Partner Code? No worries! Click Submit and talk to a concierge before you pay.
          .mt2.px2
            =form.submit "BACK", class: "bg-white black inline-block", style: "border: 2px solid black; border-radius: 20px;width: 120px; height: 40px;"
            =form.submit "SUBMIT", class: "bg-cerulean white right border-none inline-block", style: "border-radius: 20px;width: 120px; height: 40px;"



:javascript
  $(document).ready(function(){
    $('#btn-apply').on('click', function(){
      var partnerCode = $('#profile_partner_code').val();
      $.ajax({
        type: "POST",
        url: '/profiles/#{@profile.id}/apply-partner-code', //sumbits it to the given url of the form
        data: { '_method':'PUT', 'profile': {'partner_code': partnerCode }},
        dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
          console.log("success", json);
      });
    });

    //submit buttons may not be pushed multiple times
    $("form").submit(function() {
      $(this).submit(function() {
        return false;
      });
      return true;
    });
     //mobile
    $(window).scrollTop(0)
  });
