#interests.pt4
  .max-width-3.mx-auto.mt4
    .clearfix.mb2
      .col.col-12.center
        .max-width-1.mx-auto.h2.line-height-2
          I am interested in learning more about the following...
      .col.col-12.h4.center.italic (Check all that apply)
    .clearfix.mx-auto
      =simple_form_for @profile, remote: true do |form|
        .sm-col.sm-col-12
          .clearfix
            .sm-col.sm-col-12.md-col-6.px4
              -5.times do |index|
                =render "profiles/interest_checkbox", :index => index
            .sm-col.sm-col-12.md-col-6.px4
              -4.times do |index|
                =render "profiles/interest_checkbox", :index => index + 5
          .display-none
            =form.association :offerings, label: false, :as => :check_boxes, collection: Offering.all
          .mt2.px2
            =form.submit "BACK", class: "bg-white black inline-block", style: "border: 2px solid black; border-radius: 20px;width: 120px; height: 40px;"
            =form.submit "NEXT", disabled: true, class: "bg-gray white right border-none inline-block", style: "border-radius: 20px;width: 120px; height: 40px;"

:javascript
  $(document).ready(function(){
    $('#navbar, #navbar-brand, #link-login').css('color', '#666666');

    $('.btn-interest').on('click', function(){
      if($(this).hasClass('active')){
        $(this).css('background-color', 'white');
        $(this).css('border-color', 'black');
        $('i', this).css('display', 'none');
        $(this).removeClass('active');
      }else{
        $(this).css('background-color', '#00CCFF');
        $(this).css('border-color', '#00CCFF');
        $('i', this).css('display', 'inline');
        $(this).addClass('active');
      }
      var target = '#' + $(this).data('target');
      $(target).prop('checked', function( i, val ) {
        return !val;
      });
    });

    //initial state check if any checkbox is selected
    if( $('.active').size() > 0 ){
      $("input[value='NEXT']").removeAttr("disabled");
      $("input[value='NEXT']").addClass("btn-submit-active");
    }

    $('.btn-interest').on('click', function(){
      if( $('.active').size() > 0 ){
        $("input[value='NEXT']").prop("disabled", false);
        $("input[value='NEXT']").addClass("btn-submit-active");
      }else{
        $("input[value='NEXT']").attr("disabled", true);
        $("input[value='NEXT']").removeClass("btn-submit-active");
      }
    });

  });            