%h1 Interests
-flash.each do |key, value|
  .flash
    =value
=simple_form_for @profile, remote: true do |form|
  =form.association :offerings, :as => :check_boxes, collection: Offering.all, :checked => @checked_interests
  =form.submit "back"
  =form.submit "Next"

:javascript
  / $.uriAnchor.setAnchor({
  /   step   : 'interests',
  / });