
#living-situation.pt4
  .max-width-3.mx-auto.mt4
    .clearfix.mb2
      .col.col-12.center
        .max-width-1.mx-auto.h2.line-height-2
          Tell us some information about your home
    .clearfix.mx-auto
      =simple_form_for @profile, remote: true do |form|
        .sm-col.sm-col-12.px2
          .clearfix
            .sm-col.sm-col-6.px2.details
              %label.h4 ADDRESS LINE 1
              %br
              =form.input_field :address_line_1, class: "geocode h3 bg-transparent rounded border border-light-gray border-width-2 height-32", placeholder: ""
              %span#span-street_number.display-none{data: {geo: 'street_number'}}
              %span#span-route.display-none{data: {geo: 'route'}}

              %label.h4 ADDRESS LINE 2
              %br
              =form.input_field :address_line_2, class: "h3 bg-transparent rounded border border-light-gray border-width-2 height-32", placeholder: ""
              .clearfix.mt2
                .sm-col.sm-col-12.md-col-6.md-pr2
                  %label.h4 CITY
                  %br
                  =form.input_field :city, class: "geocode h3 bg-transparent rounded border border-light-gray border-width-2 height-32", placeholder: ""
                  %span#span-city.display-none{data: {geo: 'locality'}}
                .sm-col.sm-col-6.md-col-3.sm-pr2
                  %label.h4 STATE
                  %br
                  =form.input_field :state, collection: us_states, class: "h3 bg-transparent rounded border border-light-gray border-width-2"
                  %span#span-state.display-none{data: {geo: 'administrative_area_level_1_short'}}
                .sm-col.sm-col-6.md-col-3
                  %label.h4 ZIP
                  %br
                  =form.input_field :zip_code, type: "tel", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', class: "geocode h3 bg-transparent rounded border border-light-gray border-width-2 height-32", maxlength: "5", placeholder: ""
                  %span#span-zipcode.display-none{data: {geo: 'postal_code'}}
              %label.h4 PHONE
              %br
              =form.input_field :phone, class: "h3 bg-transparent rounded border border-light-gray border-width-2 height-32", placeholder: ""

            .sm-col.sm-col-6.sm-pl4
              .sm-mt2.mb2.px2{style: 'height:64px;'}
                %label.h4 HOUSING
                %br
                %button.bg-white.btn-housing.border-light-gray.gray-80.border-width-2.border-solid.pill-left.px2{type: "button", data: {value: "rent"}, class: "#{ @profile.housing =='rent' ? 'btn-onboard-active': ''}"} RENT
                %button.bg-white.mln10px.btn-housing.border-light-gray.gray-80.border-width-2.border-solid.pill-right.px2{type: "button", data: {value: "own"}, class: "#{ @profile.housing =='own' ? 'btn-onboard-active' : ''}" } OWN
              .mt2.px2
                %label.h4 AVG. ELECTRIC BILL
              .inline-block.pl2
                #slider{style: "width:200px"}
              .inline-block
                %h2.m0
                  &nbsp;$
                  %span#slider_val 0
              =form.input :housing, :as => :hidden, input_html: { value: @profile.housing }
              =form.input :avg_electrical_bill, as: :hidden, input_html: { value: @profile.avg_electrical_bill || "0" }
          .mt4.relative{style: 'height:72px;'}
            =form.submit "BACK", class: "btn btn-md btn-secondary inline-block absolute", style: "bottom: 2em;"
            =form.submit "NEXT", class: "btn btn-md btn-primary inline-block absolute", style: "bottom: 2em; right: 0;"


:javascript
  $( document ).ready( function() {
    $(".geocode").geocomplete({ details: ".details", detailsAttribute: "data-geo" });

    $('.geocode').bind("geocode:result", function(e, r) {
      $('#profile_state').val($('#span-state').html());
      $('#profile_city').val($('#span-city').html());
      $('#profile_zip_code').val($('#span-zipcode').html());
      $('#profile_address_line_1').val($('#span-street_number').html() + " " + $('#span-route').html());
    });

    $('#navbar, #navbar-brand, #link-login').css('color', '#666666');

    $('#profile_phone').formance('format_phone_number');

    $( "#slider" ).slider({
      range: "min",
      animate: "fast",
      max: 250,
      value: #{@profile.avg_electrical_bill},
      create: function( event, ui ) {
        $('#slider_val').html(#{@profile.avg_electrical_bill});
        $('#slider > span').css({cursor: 'pointer', outline: '0'});
      },
      slide: function( event, ui ) {
        $('#slider_val').html(ui.value);
        $('#profile_avg_electrical_bill').val(ui.value);
      }
    });

    $('.btn-housing').on('click', function(){
      $('.btn-housing').not(this).removeClass('btn-onboard-active');
      $(this).toggleClass('btn-onboard-active');
      if( $('.btn-onboard-active').size() > 0 ){
        var val = $(this).data("value");
        $('#profile_housing').val(val);
      }else{
        $('#profile_housing').val("");
      }
    });

    //submit buttons may not be pushed multiple times
    $("form").submit(function() {
      $(this).submit(function() {
        return false;
      });
      return true;
    });
     //mobile
    $(window).scrollTop(0)
  });
