
#living-situation.pt4
  .max-width-3.mx-auto.mt4
    .clearfix.mb2
      .col.col-12.center
        .max-width-1.mx-auto.h2.line-height-2
          Tell us about your home
    .clearfix.mx-auto.pt4
      =simple_form_for @profile, remote: true do |form|
        .sm-col.sm-col-12.md-col-6.pr2.md-pr4.pl2.pt1
          %label.h4 
            Phone
          %i.fa.fa-question-circle-o.pointer
          %br
          =form.input_field :phone, class: "h3 bg-transparent rounded", placeholder: ""
          %p#phone-input-hint.mt0.display-none.gray-80
            Your number makes it quicker for our concierge team to start helping you.
          .mt0.md-mt2.pt1
            %label.h4 Average Electric Bill (Optional)
            .clearfix.pl1
              .col.col-8.mt1
                #slider
              .col.col-4.pl1
                .inline-block.center
                  %h2.m0
                    &nbsp;$
                    %span#slider_val 0
              =form.input :avg_electrical_bill, as: :hidden, input_html: { value: @profile.avg_electrical_bill || "0" }
        .sm-col.sm-col-12.md-col-6.pl2.sm-pl-0.pr2
          .clearfix.details
            .pt1
              %label.h4 Street address (Optional)
              %br
              =form.input_field :address_line_1, class: "geocode h3 bg-transparent rounded", placeholder: ""
              %span#span-street_number.display-none{data: {geo: 'street_number'}}
              %span#span-route.display-none{data: {geo: 'route'}}
            
            .col.col-5.pt1
              %label.h4 City
              %br
              =form.input_field :city, class: "geocode h3 bg-transparent rounded", placeholder: ""
              %span#span-city.display-none{data: {geo: 'locality'}}
            .col.col-3.pt1
              .pl1
                %label.h4 State
                %br
                =form.input_field :state, collection: us_states, class: "h3 bg-transparent rounded"
                %span#span-state.display-none{data: {geo: 'administrative_area_level_1_short'}}
            .col.col-4.pt1
              .pl1
                %label.h4 Zip
                %br
                =form.input_field :zip_code, type: "tel", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', class: "geocode h3 bg-transparent rounded", maxlength: "5", placeholder: ""
                %span#span-zipcode.display-none{data: {geo: 'postal_code'}}
            .col.col-12.pt1
              %label.h4 Housing
              %br
              .btn-group
                %button.btn.btn-sm.btn-secondary{class: "#{'btn-secondary--active' if @profile.housing == 'rent'}", type: "button", data: {value: "rent"}} Rent
                %button.btn.btn-sm.btn-secondary{class: "#{'btn-secondary--active' if @profile.housing == 'own'}", type: "button", data: {value: "own"}} Own
              =form.input :housing, :as => :hidden, input_html: { value: @profile.housing }
        .clearfix
          .col.col-12
            .px2.mt4.relative{style: 'height:97px;'}
              =render :partial => "profiles/onboard_submit_btns", :locals=>{:form=>form}

:javascript
  $( document ).ready( function() {
    $(".geocode").geocomplete({ details: ".details", detailsAttribute: "data-geo" });

    $('.geocode').bind("geocode:result", function(e, r) {
      $('#profile_state').val($('#span-state').html());
      $('#profile_city').val($('#span-city').html());
      $('#profile_zip_code').val($('#span-zipcode').html());
      $('#profile_address_line_1').val($('#span-street_number').html() + " " + $('#span-route').html());
    });

    $('#navbar, #navbar-brand, #link-login').css('color', '#666666');

    $('#profile_phone').formance('format_phone_number');
    //toggle phone input hint
    $('.fa-question-circle-o').on('click', function(){
      $(this).toggleClass('blue');
      $('#phone-input-hint').toggleClass('display-none');
    });
    $( "#slider" ).slider({
      range: "min",
      animate: "fast",
      max: 250,
      value: #{@profile.avg_electrical_bill},
      create: function( event, ui ) {
        $('#slider_val').html(#{@profile.avg_electrical_bill});
        $('#slider > span').css({cursor: 'pointer', outline: '0'});
      },
      slide: function( event, ui ) {
        $('#slider_val').html(ui.value);
        $('#profile_avg_electrical_bill').val(ui.value);
      }
    });

    //housing toggle button
    $('.btn-group .btn').on('click', function(){
      $('.btn-group .btn').not(this).removeClass('btn-secondary--active');
      $(this).toggleClass('btn-secondary--active');
      if( $('.btn-secondary--active').size() > 0 ){
        var val = $(this).data("value");
        $('#profile_housing').val(val);
      }else{
        $('#profile_housing').val("");
      }
    });

    //submit buttons may not be pushed multiple times
    $("form").submit(function() {
      $(this).submit(function() {
        return false;
      });
      return true;
    });
     //mobile
    $(window).scrollTop(0)
  });
