
.clearfix
  -flash.each do |key, value|
    .flash.center
      =value
  %h1.center Let's learn about your home
  .sm-col.sm-col-2 &nbsp;
  =simple_form_for @profile, remote: true do |form|
    .sm-col.sm-col-4
      %label ADDRESS LINE 1
      %br
      =form.input_field :address_line_1
      %br
      %label ADDRESS LINE 2
      %br
      =form.input_field :address_line_2, label: false
      %br
      %label CITY
      %br
      =form.input_field :city
      %br
      %label STATE
      %br
      =form.input_field :state
      %br
      %label ZIP
      %br
      =form.input_field :zip_code
      %br
      %label PHONE
      %br  
      =form.input_field :phone
      
    .sm-col.sm-col-4.center
      %label Housing
      %br
      %button.btn-housing{type: "button", data: {value: "rent"}, class: "#{'bg-blue' if @profile.housing == 'rent'}"} RENT
      %button.btn-housing{type: "button", data: {value: "own"}, class: "#{'bg-blue' if @profile.housing == 'own'}"} OWN
      #slider
      %p
        $
        %span#slider_val 0
      =form.input :housing, :as => :hidden, :input_html => { :value => @profile.housing }
      =form.input :avg_electrical_bill, :as => :hidden, :input_html => { :value => "0" }


    .sm-col.sm-col-12.center
      =form.submit "back"
      =form.submit "Next"

:javascript
  $( "#slider" ).slider({
    animate: "fast",
    max: 250, 
    slide: function( event, ui ) {
      $('#slider_val').html(ui.value);
      $('#profile_avg_electrical_bill').val(ui.value);
    }
  });

  $('.btn-housing').on('click', function(){
    $('.btn-housing').not(this).removeClass('bg-blue');
    $(this).toggleClass('bg-blue');
    var val = $(this).data("value"); 
    $('#profile_housing').val(val);
  });

  /*$('#btn-rent').on('click', function(){
    $(this).toggleClass('bg-blue');
    $('#profile_housing').val("rent")
  });

  $('#btn-own').on('click', function(){
    $('#profile_housing').val("own")
  });*/