/ =simple_form_for @profile, remote: true, method: @response[:method] do |form|
/   =form.label :first_name
/   =form.input_field :first_name
/   =form.label :last_name
/   =form.input_field :last_name
/   =form.label :email 
/   =form.input_field :email
/   =form.submit "Get Started"
=simple_form_for @profile, remote: true, method: @response[:method] do |form|
  =form.input :first_name, error_html: { class: 'error' }
  =form.input :last_name, error_html: { class: 'error' }
  =form.input :email, error_html: { class: 'error' }
  =form.submit "Get Started"

:javascript
  $.uriAnchor.setAnchor({
    step   : 'name-and-email',
  });