-content_for :name_and_email do
  .center.white.mt4
    %h1.mt3.mb1.light.line-height-1
      Ditch dirty power.
      %br
      Switch to clean.
    %h3.white.mb2.line-height-2 Join the action path to your 100% clean energy lifestyle.
    .my4
      %i.white.fa.fa-play-circle.fa-4x.relative
      %p.mt0.white.relative Watch the video

  .clearfix.mx-auto.max-width-2.px2
    =simple_form_for @profile, method: @response[:method] do |form|
      .clearfix.py2
        .col.col-6
          =form.input_field :first_name, class: "h3 bg-white gray-80 rounded required-field", placeholder: "First name", data: {reg: '\\w', target: '#first-name-error-msg'}
          #first-name-error-msg.display-none.red.m0
            'First name' is blank
        .col.col-6.pl1
          =form.input_field :last_name, class: "h3 bg-white gray-80 rounded required-field", placeholder: "Last name", data: {reg: '\\w', target: '#last-name-error-msg'}
          #last-name-error-msg.display-none.red.m0
            'Last name' is blank
        .col.col-6.mt1
          =form.input_field :email, class: "h3 bg-white gray-80 rounded border border-white required-field", placeholder: "Email address", data: {reg: '^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$', target: '#email-error-msg'}
          #email-error-msg.display-none.red.m0
            This email is invalid.
        .col.col-6.pl1.mt1
          =form.submit "Get started", id: 'btn-begin-onboard', class: "btn btn-md btn-primary btn-primary--hover",style: "height:42px;line-height: 0.6rem;width:100%;"

-if @browser.device.mobile?
  #name-and-email.mobile-form.pt4.relative.bg-cover
    .overlay-mobile
    #form-container.relative.z2
      =yield :name_and_email
-else
  #name-and-email
    .video-container.relative.overflow-hidden
      .overlay-nonmobile.absolute
      %video{:autoplay => "", :loop => "", :preload => 'auto', :poster => 'assets/poster.jpg', :muted => ""}
        %source{:src => "https://s3-us-west-2.amazonaws.com/mydomino/assets/silent_video_header_360p.mp4", :type => "video/mp4"}
        Your browser does not support the video tag. Please update your browser.
      #form-container.absolute.z2{style: 'top:100px;left:0;right:0'}
        :css
          .invalid-field { border-color:red!important; }
          .fa-play-circle:hover { color: #00ccff; }
        .center.white
          .h0.mt3.mb1.light.line-height-1
            Ditch dirty power. Switch to clean.
          .h2.white.mb2 Join the action path to your 100% clean energy lifestyle.
          %i.fa.fa-play-circle.fa-5x.pointer.mt3
          %p.mt0.white Watch the video

      .absolute.bottom-0.left-0.right-0.clearfix.mx-auto.px2.z2.py1{style: 'background-color: rgba(0,0,0,0.3)'}
        .max-width-4.mx-auto
          =simple_form_for @profile, method: @response[:method] do |form|
            .clearfix
              .sm-col.sm-col-12.md-col-6.py1
                .clearfix
                  .col.col-6.px1
                    =form.input_field :first_name, class: "h3 bg-white gray-80 rounded required-field", placeholder: "First name", data: {reg: '\\w', target: '#first-name-error-msg'}
                    #first-name-error-msg.display-none.red.m0
                      'First name' is blank
                  .col.col-6.px1
                    =form.input_field :last_name, class: "h3 bg-white gray-80 rounded required-field", placeholder: "Last name", data: {reg: '\\w', target: '#last-name-error-msg'}
                    #last-name-error-msg.display-none.red.m0
                      'Last name' is blank
              .sm-col.sm-col-12.md-col-6.py1
                .clearfix
                  .col.col-6.md-col-8.px1
                    =form.input_field :email, class: "h3 bg-white gray-80 rounded border border-white required-field", placeholder: "Email address", data: {reg: '^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$', target: '#email-error-msg'}
                    #email-error-msg.display-none.red.m0
                      This email is invalid.
                  .col.col-6.md-col-4.px1
                    =form.submit "Get started", id: 'btn-begin-onboard', class: "btn btn-sm btn-primary btn-primary--hover",style: "height:42px;width:100%;"

:javascript
  $(document).ready(function(){

    var $requiredFields = $('.required-field');

    $('#btn-begin-onboard').on('click', function(e){
      e.preventDefault();
      if (validateRequiredFields($requiredFields)){
        $(".simple_form").submit();
      }
    });

    var validateRequiredFields = function($fields){
      $.each($fields,function(index, value){
        patt = new RegExp($(value).data('reg'));
        if(patt.test($(value).val()) == false  ){
          $(value).addClass('invalid-field');
          $($(value).data('target')).removeClass('display-none');
        }
      });
      return $('.invalid-field').length == 0 ? true : false;
    };

    $requiredFields.bind('input change propertychange', function(){
      patt = new RegExp($(this).data('reg'));
      if(patt.test($(this).val()) == true ){
        $(this).removeClass('invalid-field');
        $($(this).data('target')).addClass('display-none');
      }
    });

    //submit buttons may not be pushed multiple times
    $(".simple_form").submit(function() {
      $(this).submit(function() {
        return false;
      });
      return true;
    });
  });
