#name-and-email.pt4
  .center.white
    %h1.mb3{style: 'font-size:50px;font-weight:100;line-height:50px;'}
      Ditch the dirty.
      %br
      Switch to clean.
    %p.white.mb3 Join the action path to your 100% clean energy lifestyle.
  .clearfix.mx-auto.max-width-2.px2
    =simple_form_for @profile, remote: true, method: @response[:method] do |form|
      .clearfix
        = render 'shared/error_messages', object: form.object
        .sm-col.sm-col-12.md-col-6.px2.py1
          %label.white First Name
          =form.input_field :first_name, class: "input_field bg-transparent white fit #{'error' if (@profile.errors[:first_name].size >= 1)}", style: 'border: 2px solid white;border-radius:3px; height:40px; font-size:20px;', placeholder: "Jon"
        .sm-col.sm-col-12.md-col-6.px2.py1
          %label.white Last Name
          =form.input_field :last_name, class: "bg-transparent white fit #{'error' if (@profile.errors[:last_name].size >= 1)}", style: 'border: 2px solid white;border-radius:3px; height:40px;font-size:20px;', placeholder: "Smith"
      .clearfix
        .sm-col.sm-col-12.md-col-12.px2.mt1
          %label.white Email Address
          =form.input_field :email, class: "bg-transparent white fit #{'error' if (@profile.errors[:email].size >= 1)}", style: 'border: 2px solid white;border-radius:3px;height:40px;font-size:20px;', placeholder: "penguin@mydomino.com"
      .sm-col.sm-col-12.my3
        .center
          =form.submit "GET STARTED", class: "bg-blue", style: 'display:inline;border-radius:40px; border:none; width:250px; height:50px; color:white;'

:javascript
  $(document).ready(function(){
    $('#navbar, #navbar-brand, #link-login').css('color', 'white');

    $('input').placeholder();
  });
