=form.submit "Back", class: "btn btn-sm btn-secondary btn-secondary--hover inline-block absolute", style: "bottom: 1em;"


=form.submit "#{form_name == "checkout" ? "Submit" : "Next"}", class: "btn btn-sm btn-primary btn-primary--hover inline-block absolute", style: "bottom: 1em; right: 1rem;"
