:css
#summary.pt4
  .max-width-1.mx-auto.my4.bg-white.rounded.p4
    %p.h1.blue.center.line-height-2
      = "Congrats #{@profile.first_name}!"
      You're on the path to a clean energy lifestyle
      %span.absolute.ml1
        =image_tag "smiley.png"
    %h2.center
      Learn more below

:javascript
  $(document).ready(function(){
    navbarScroll('#fff', '#00ccff');
    //mobile
    $('#profile-forms').css('background-color', '#c5c5c5');
    $(window).scrollTop(0)

  });
