:css
#summary.pt4
  .max-width-1.mx-auto.mt4
    %p.h1.blue.center{style: 'line-height:1.2em;'}
      = "Congrats #{@profile.first_name}!"
      You're on the path to a clean energy lifestyle
      %span.absolute
        =image_tag "smiley.png"
    %h1.center
      Scroll down to learn more

:javascript
  $(document).ready(function(){
    $('#navbar, #navbar-brand, #link-login').css('color', '#666666');
  });
