.clearfix
  .sm-col.sm-col-4 &nbsp;
  .sm-col.sm-col-4
    %h1.blue.center
      = "Congrats #{@profile.first_name}!"
      %br
      You're on the path to a clean
      %br
      energy lifestyle :)
    %h1.center
      Scroll down to learn more