#summary.pt4{style: 'border-bottom: 2px solid lightgray;'}
  .max-width-3.mx-auto.mt4.px2
    %h1.charcoal.center.line-height-2
      = "Thanks for signing up, #{@profile.first_name.capitalize}!"
    %h2.charcoal.center.line-height-2
      One of our energy savings concierges will contact you shortly.

    .center.mt4
      %p.mb0 Having trouble?
      =link_to "Resend email", "#", class: 'underline charcoal', id: 'lnk-send-email'
      %span.charcoal or 
      =link_to "Contact us", "mailto: hello@mydomino.com", class: 'underline charcoal'

:javascript
  $(document).ready(function(){
    $('#lnk-send-email').on('click', function(e){
      e.preventDefault();
      $.ajax({
        cache: 'false',
        type: "GET",
        url: "/welcome-email/#{@profile.id}", 
        dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
          console.log("success", json);
      });
    });
    //navbarScroll('#666', '#00ccff');
    //mobile
    $(window).scrollTop(0)
  });
