$('#summary').html(
  "<div class='max-width-3 mx-auto mt4 px2'>" +
    "<h1 class='charcoal center line-height-2'>" +
      "Email Sent" + 
    "</h1>" +
    "<h2 class='charcoal center line-height-2'>" +
      "Check your email shortly.<br/>If you didn't get anything, feel free to contact us." + 
    "</h2>" +
    "<p class='black center'>hello@mydomino.com<br/>800-979-2215</p>" +
  "</div>"
);