.max-width-3.mx-auto.p4.rounded.bg-gray-05.center
  %h1.gray-80.line-height-2
    Email Sent 
  %h4.gray-60.line-height-2
    Check your email shortly.
    %br
    If you didn't get anything, feel free to contact us.

  .my2
    %a.h4.gray-60.text-decoration-none{type: 'email', href: 'mailto:hello@mydomino.com'}  hello@mydomino.com
    %br
    %a.h4.gray-60.text-decoration-none{type: 'tel', href: 'tel:8009792215'}
      800-979-2215

  =link_to root_path do
    .btn.btn-sm.btn-secondary.btn-secondary--hover Return to homepage
  
