.calculator
  %h3.center
    Choose One or More to See How
    %strong Green
    You Can Go In

  = form_tag('/calculate', remote: true) do |f|
    = text_field_tag 'city_or_zip', nil, placeholder: 'Enter City, State or Zip'
  .button-row
    .selector-title
      .glyphicon.glyphicon-flash
      Electricity
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "rooftop_solar"}
        Rooftop Solar
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "offsite_solar"}
        Offsite Solar
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "led"}
        Upgrades
  .button-row
    .selector-title
      .glyphicon.glyphicon-fire
      Heating and Cooling
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "smart_thermostat"}
        Thermostat
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "electric_heat_pump"}
        Air Heat
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "geothermal_heat_pump"}
        Ground Heat
  .button-row
    .selector-title
      .glyphicon.glyphicon-tint
      Gasoline
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "hybrid_car"}
        Hybrid
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "plug_in_hybrid"}
        Hybrid Electric
      %label.btn.btn-default
        %input{name: "calculator", type: "checkbox", value: "electric_car"}
        All Electric
  .start-over
    = link_to "" do
      .glyphicon.glyphicon-remove-circle
      Start over
