.calculator
  %h3.center
    Choose One or More to See How
    %strong Green
    You Can Go In

  = text_field_tag 'city_or_zip', nil, placeholder: 'Enter City, State or Zip'
  .button-row
    .selector-title
      .glyphicon.glyphicon-flash
      Electricity
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default#rooftop_solar
        Rooftop Solar
      %label.btn.btn-default#offsite_solar
        Offsite Solar
      %label.btn.btn-default#led
        Upgrades
  .button-row
    .selector-title
      .glyphicon.glyphicon-fire
      Heating and Cooling
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default#smart_thermostat
        Thermostat
      %label.btn.btn-default#electric_heat_pump
        Air Heat
      %label.btn.btn-default#geothermal_heat_pump
        Ground Heat
  .button-row
    .selector-title
      .glyphicon.glyphicon-tint
      Gasoline
    .btn-group{data: {toggle: "buttons"}}
      %label.btn.btn-default#hybrid_car
        Hybrid
      %label.btn.btn-default#plug_in_hybrid
        Hybrid Electric
      %label.btn.btn-default#electric_car
        All Electric
