.intro.dark
  .row
    .col-md-12
      .graphic.center
        = embedded_svg "Main Graphic.svg"
  .row
    .col-md-12
      %h1.center
        = snippet 'testmex-child'
      %h1.center
        What if
        %strong Going Green
        also meant more cash in your pocket?