.row.navbar.navbar-default.navbar-fixed-top
  .col-md-4.col-md-offset-2.element
    %a{href: '#'}
      = image_tag "Domino Logo.png"
  .col-md-1.center.element
    = link_to "ABOUT", '#'
  .col-md-3.element
    = render 'reserve_button'