<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for Contacting Domino</h1>
    <p>
      Thank you for contacting Domino!<br />
      Our fabulous energy savings concierge team will contact you soon!
    </p>
    <p>
      Warmly,<br/>
      The Domino Team
    </p>
    <hr />
    ​Office: 800-979-2215<br/>
    Learn More about Domino<br/>
    Domino in the News<br/>
    More Domino Press:<br/>
    http://energyefficiencymarkets.com/bewildered-energy-consumers-no-more/
  </p>
  </body>
</html>