<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
    <center style="display:table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #02ccff">
      <table style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #02ccff">
        <tbody>
          <tr>
            <td style="padding: 0;vertical-align: top">&nbsp;</td>
            <td class="logo" style="padding: 0;vertical-align: top;mso-line-height-rule: at-least;padding-top: 20px;padding-bottom: 26px;width: 600px">
              <div class="logo-center" style="font-size: 36px;line-height: 44px;color: #e6e6e6;font-family: sans-serif;text-align: center" align="center" id="emb-email-header"><a style="color: #e6e6e6;text-decoration: none" href="http://mydomino.com" target="_blank">
              <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;margin-left: auto;margin-right: auto;max-width: 442px" src="https://s3-us-west-2.amazonaws.com/mydomino/Domino_Horizontal_AllWhite_Tag.png" alt="MyDomino - energy savings concierge" width="295" height="98"></a></div></td>
            <td style="padding: 0;vertical-align: top">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <table style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #02ccff">
        <tbody>
          <tr>
            <td style="padding: 0; vertical-align: top" align="center">
              <table class="one-col-feature centered" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;table-layout: fixed;width: 600px">
                <tbody>
                  <tr>
                    <td class="column" style="padding: 0;vertical-align: top;text-align: left">
                      <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;background-color: #ffffff">
                        <tbody>
                          <tr>
                            <td style="padding: 0;vertical-align: top">
                              <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                                <tbody>
                                  <tr>
                                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">
                                      <div style="height:30px">&nbsp;</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                                <tbody>
                                  <tr>
                                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">
                                      <h1 style="font-weight: normal; color: #fff;font-family: sans-serif; font-size: 30px; line-height: 46px;text-align: center">
                                        <span style="color:#000000">
                                          <span style="text-align:left">
                                            Thanks for contacting MyDomino!
                                          </span>
                                        </span>
                                      </h1>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align='center' style='font-family: sans-serif;'>
                                      Click <a style='text-decoration: none; color: #00ccff;' href='http://www.mydomino.com/users/sign_up?email=<%= "#{@profile.email}" %>' >HERE</a> to access your action dashboard.
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="image" style="font-size: 12px;margin-bottom: 32px;mso-line-height-rule: at-least;color: #bdbdbd;font-family: sans-serif" align="center">
                                <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;" src="https://s3-us-west-2.amazonaws.com/mydomino/thanks_for_contacting_domino.gif" alt="Thanks for contact domino! Talk to you soon!" width="100%" height="auto">
                              </div>
                              <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                                <tbody>
                                  <tr>
                                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">
                                      <div style="height:30px">&nbsp;</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table style="border-collapse: collapse;border-spacing: 0;width: 100%" width="100%">
                                <tbody>
                                  <tr>
                                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word">
                                      <p style="margin-top: 0;font-weight: 400;color: #bdbdbd;font-family: sans-serif;font-size: 18px;line-height: 30px;margin-bottom: 32px;text-align: left"><span style="color:rgb(34, 34, 34)">Our fabulous energy savings concierge team will contact you soon!</span></p>
                                        <p style="margin-top: 0;font-weight: 400;color: #bdbdbd;font-family: sans-serif;font-size: 18px;line-height: 30px;margin-bottom: 32px;text-align: left"><span style="color:rgb(34, 34, 34)">Warmly,
                                        <br />The MyDomino Team</span>
                                        </p>
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="separator" style="font-size: 20px;line-height: 20px;background-color: #02ccff">&nbsp;</div>
      <table class="footer" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;background-color: #02ccff">
        <tbody>
          <tr>
            <td style="padding: 0;vertical-align: top;text-align: left;color: #e6e6e6;font-family: sans-serif">
              &nbsp;
            </td>
            <td class="inner" style="padding: 0;vertical-align: top;text-align: left;color: #e6e6e6;font-family: sans-serif;padding-top: 40px;padding-bottom: 75px;width: 560px">
              <table style="border-collapse: collapse;border-spacing: 0;width: 100%">
                <tbody>
                  <tr>
                    <td class="campaign" style="padding: 0;vertical-align: top;text-align: left;color: #e6e6e6;font-family: sans-serif;font-size: 12px;line-height: 20px">
                      <div>​
                        Office:&nbsp;800-979-2215
                        <br>
                        <a href="http://mydomino.com">Learn More about MyDomino</a><br>
                        <a href="http://mydomino.strikingly.com/">MyDomino in the News</a><br>
                        More MyDomino Press:
                        <br>
                        <a href="http://energyefficiencymarkets.com/bewildered-energy-consumers-no-more/">http://energyefficiencymarkets.com/bewildered-energy-consumers-no-more/</a></div>
                        <div style="line-height: 17px; font-size: 17px;">
                          &nbsp;
                        </div>
                        <div>
                          You are receiving this email because you were signed up at mydomino.com
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="padding: 0;vertical-align: top;text-align: left;color: #e6e6e6;font-family: sans-serif">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>