.container
  .row
    .col-xs-6
      %h1 Stats
      %ul
        %li
          Storefronts:
          =@dashboard_count
        %li
          Recommendations Made:
          =@recommendations_count
        %li
          Recommendations Completed:
          =@recommendations_completed_count
    .col-xs-6
      %h1 Recent Activity
      .btn-group.filters{"aria-label" => "Filters", :role => "group"}
        =link_to 'All', {filter: 'all'}, class: "btn uppercase #{(@filter == 'all') ? 'blue' : 'btn-transparent'}"
        =link_to 'Mine', {filter: "mine"}, class: "btn uppercase #{(@filter == 'mine') ? 'blue' : 'btn-transparent' }"
      %ul.list-inline
        -@recent_events.reverse.each do |event|
          %li.border{style: "border: 2px solid #ccc; padding: 10px;border-radius: 6px;margin-bottom: 10px;"}
            =link_to event.dashboard.lead_name, dashboard_path(event.dashboard)
            marked
            =event.recommendable.name
            done
            =time_ago_in_words event.updated_at
            ago
