.container
  .row
    .col-xs-6
      .panel
        %h1 Stats
        %ul
          %li
            Storefronts:
            =@storefront_count
          %li
            Recommendations Made:
            =@recommendations_count
          %li
            Recommendations Completed:
            =@recommendations_completed_count