.snippet
  .actions
    = link_to snippet, {title: "Delete",
          data: {:confirm => "Are you sure?", toggle: "tooltip"},
          method: :delete} do
      .glyphicon.glyphicon-remove-circle
    |
    = link_to new_snippet_path(parent_id: snippet),
          {title: "Create Child", data: {toggle: "tooltip"}, remote: true} do
      .glyphicon.glyphicon-plus
  .content
    = link_to snippet.name, snippet, remote: true
