=simple_form_for @task do |form|
  .clearfix
    =form.label :name, class: 'block'
    =form.input_field :name, class: 'field col-12'
  .clearfix
    =form.label :description, class: 'block'
    =form.input_field :description, class: 'field col-12'
  .clearfix
    =form.label :cta_link, class: 'block'
    =form.input_field :cta_link, class: 'field col-12'
  .clearfix
    =form.label :cta_text, class: 'block'
    =form.input_field :cta_link, class: 'field col-12'
  .clearfix
    =form.label :icon, class: 'block'
    =form.select :icon, {collection: Task::ICON_OPTIONS}, {}, {class: 'field col-12'}
  .clearfix
    =form.submit "Add Action", class: 'btn bg-blue white rounded h3 px3 py2 mt3'
