.clearfix.flex.items-center.px2
  .col.sm-col-2.center
    %h3
      =link_to task_toggle_default_path(task.id), method: "POST", class: 'text-decoration-none blue' do
        -if (task.default)
          .fa.fa-check-square-o
        -else
          .fa.fa-square-o
        Default
  .col.sm-col-2
    =image_tag task.icon, width: "75px"
  .col.sm-col-5
    %h3.bold.mb0
      =task.name
    %h3.mt0
      =task.description
  .col.sm-col-3.center.hover-show
    =link_to "Edit", edit_task_path(task), class: 'btn btn-sm btn-primary'
    =link_to "Delete", task_path(task), class: 'btn btn-sm btn-secondary',  method: :delete, data: {confirm: 'Are you sure?'}
