.modal.fade{id: "task-#{task.id}"}
  .container
    .modal-dialog
      .modal-content
        .modal-header.relative
          .absolute.top-0.left-0.close.lh0{"data-dismiss" => "modal"}
            %span{ style: 'font-size: 2rem;' }
              .fa.fa-times.blue
        .modal-body
          .clearfix
            .sm-col.sm-col-12.md-col-6.center.py4
              =image_tag task.icon
            .sm-col.sm-col-12.md-col-6
              %h3
                =task.name
              %p
                =task.description
              -if(task.cta_link.present?)
                =link_to task.cta_text, task.cta_link, class: 'btn block center bg-navy white rounded mb1'
              -if(!recommendation.done)
                =link_to "I've done this", recommendation_complete_path(recommendation.id), class: 'btn block center bg-blue white rounded', method: "POST"
              -else
                =link_to "Mark as Incomplete", recommendation_undo_complete_path(recommendation.id), class: 'center btn block bg-blue white rounded', method: "DELETE"