.task
  .status.caps{class: ('completed' if recommendation.done)}
    .completion-status-icon
    Completed
  .center.py3
    =image_tag task.icon
  %h4.caps.center
    =task.name
  .description
    %p
      =task.description
