.task{class: task.id, data: {toggle: 'modal', target: "#task-#{task.id}"}}
  .status.uppercase{class: ('completed' if recommendation.done)}
    .completion-status-icon
    Completed
  .icon.text-center
    =image_tag task.icon
  %h4.uppercase.bold.title.text-center
    =task.name
  .description
    %p
      =task.description