.col-xs-12
  .task.panel.row
    .col-xs-2.blue.text-center
      Completed?
      =link_to "Yes", recommendation_complete_path(recommendation.id), class: 'btn transparent full-width uppercase'
    .col-xs-10
      %h5.uppercase.bold
        =task.name
      %p
        =task.description