.col-xs-12
  .task.panel.row
    .col-xs-2.blue.text-center
      Completed?
      %button.transparent.full-width.uppercase
        yes
    .col-xs-10
      %h5.uppercase.bold
        =task.name
      %p
        =task.description