.clearfix.mx-auto.max-width-4.modal.fixed.top-0.bottom-0.left-0.right-0.fade{id: "task-#{task.id}"}
  .modal-dialog
    .modal-content.bg-white
      .modal-header.relative
        .absolute.top-0.left-0.close.pointer{"data-dismiss" => "modal"}
          .fa.fa-times.fa-2x.blue
      .modal-body
        .clearfix.max-width-4
          .sm-col.sm-col-12.md-col-6.center.py4
            =image_tag task.icon
          .sm-col.sm-col-12.md-col-6
            %h3
              =task.name
            %p
              =task.description
            -if(task.cta_link.present?)
              =link_to task.cta_text, task.cta_link, class: 'btn-shame block center bg-navy white rounded mb1'
            -if(!recommendation.done)
              =link_to "I've done this", recommendation_complete_path(recommendation.id), class: 'center btn-shame block bg-blue white rounded mt1', method: "POST"
            -else
              =link_to "Mark as Incomplete", recommendation_undo_complete_path(recommendation.id), class: 'center btn-shame block bg-blue white rounded', method: "DELETE"