.container
  .row
    .col-xs-12.text-center
      =link_to "Add a new Task", new_task_path, class: 'btn blue'
  .row
    -@tasks.each do |task|
      .col-xs-12.col-sm-6.col-md-3
        .panel
          .icon.text-center
            =image_tag task.icon, style: "max-height: 100px;margin-bottom: 10px;"
            %h5.uppercase.bold.text-center
              =task.name
          =link_to "Edit", edit_task_path(task), class: 'pull-left'
          =link_to "Delete", task_path(task), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'pull-right'