.container
  .clearfix.bg-white.rounded-top.mt3.p2
    .col.col-12
      %h1.mt0.inline-block Actions
  .clearfix.bg-white.px2
    -@default_tasks.each do |task|
      =render 'index_task', task: task
    -@non_default_tasks.each do |task|
      =render 'index_task', task: task
