.mobile-onboard-submit-btns
  =form.submit "#{form_name == "checkout" ? "Submit" : "Next"}", class: "btn btn-sm btn-primary btn-primary--hover block full-width my1"

  =form.submit "Back", class: "btn btn-sm btn-secondary btn-secondary--hover block full-width my1"


