.max-width-3.mx-auto.center.mt1.mb2.px2
  %table#steps
    %tbody
      %tr
        %td{class: "#{'blue' if step == 1}"}
          Your interests
        %td
          %hr
        %td{class: "#{'blue' if step == 2}"}
          Your house
        %td
          %hr
        %td
          Your membership