#interests{class: "#{@browser.device.mobile? ? 'mobile-form' : 'mb4'}"}
  .spacer

  -if flash[:notice]
    =render 'profiles/flash_notice'
    
  = render :partial => 'steps_progress', :locals => {:step => 1} 

  .max-width-3.mx-auto.p2.rounded{class: "#{@browser.device.mobile? ? 'bg-white' : 'bg-gray-05'}"}

    .clearfix.mb2
      .col.col-12.center
        .h1.mx-auto.line-height-2{class: "#{'py4' if !@browser.device.mobile?}"}
          What are you interested in?

    .clearfix.mx-auto
      =simple_form_for @profile, turboboost: true, method: :put, url: wizard_path do |form|
        .max-width-2.mx-auto
          .flex.justify-center
            .inline-block.ml1
              -5.times do |index|
                =render "profiles/interest_checkbox", :index => index
            .inline-block.align-top.ml2
              -4.times do |index|
                =render "profiles/interest_checkbox", :index => index + 5
          .display-none
            =form.association :offerings, label: false, :as => :check_boxes, collection: Offering.all

        =render :partial => 'onboard_submit_btns', :locals => {:form  => form, :form_name => 'interests', :vertical_offset => '107px'}
