.mt1.relative
  -if recommendation.comment.present?
    .bg-gray.p2.white.rounded
      =recommendation.comment
      -if concierge_signed_in?
        %span{data: {"reveal-next" => "add-comment"}, style: "position: absolute; display: inline-block; right: 10px; bottom: 5px;cursor: pointer;"}
          Edit
        =render 'recommendations/comment_form', recommendation: recommendation
  -else
    -if concierge_signed_in?
      %button.col-12.btn.bg-gray.caps.white.rounded{data: {"reveal-next" => "add-comment"} }
        .fa.fa-plus
        Comment
      =render 'recommendations/comment_form', recommendation: recommendation