.sm-col.sm-col-12.md-col-4.p2
  .bg-blue.white.center.p2.rounded-20-top
    %h1.mt0.mb0.inline-block
      .fa.fa-check
  .recommendation.rounded-20-bottom.px2.py3.relative.border-left.border-right.border-bottom
    -if current_user.role == 'concierge'
      =link_to recommendation_path(recommendation), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'absolute right-10 top-10 bg-gray p1 white lh1 rounded' do
        .fa.fa-times
    =render recommendation.recommendable, recommendation: recommendation
-if(recommendation.recommendable_type == 'Product')
  =render 'products/product_modal', recommendation: recommendation, product: recommendation.recommendable
-if(recommendation.recommendable_type == 'Task')
  =render 'tasks/task_modal', recommendation: recommendation, task: recommendation.recommendable