.add-comment{style: "display: none;"}
  =simple_form_for recommendation do |form|
    =form.input_field :comment, class: 'field black col-12'
    .clearfix
      =form.submit "Save", class: 'btn bg-blue white rounded right p1'