=simple_form_for [@storefront, @recommendation] do |form|
  =form.label "Recommendation", :recommendable_id
  =form.select :recommendable_id, options_from_collection_for_select(AmazonProduct.all, :id, :name)
  =form.label :comment, "A comment about this recommendation"
  =form.text_area :comment
  =form.submit "Save", class: "btn blue"