-if(recommendation.recommendable_type == 'AmazonProduct')
  =render 'products/product_inline', product: recommendation.recommendable, recommendation: recommendation
-if(recommendation.recommendable_type == 'Task')
  =render 'tasks/task_inline', task: recommendation.recommendable, recommendation: recommendation