-if(recommendation.recommendable_type == 'Product')
  =render 'products/product', product: recommendation.recommendable, recommendation: recommendation
-if(recommendation.recommendable_type == 'Task')
  =render 'tasks/task', task: recommendation.recommendable, recommendation: recommendation