.sm-col.sm-col-12.md-col-4.p2
  .recommendation.border-3.rounded.p2.relative{class: ('completed' if recommendation.done)}
    -if concierge_signed_in?
      =link_to recommendation_path(recommendation), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'absolute right-0 top-0 bg-gray p1 white lh1' do
        .fa.fa-times
    =render recommendation.recommendable, recommendation: recommendation
    =render 'recommendations/comment', recommendation: recommendation
-if(recommendation.recommendable_type == 'Product')
  =render 'products/product_modal', recommendation: recommendation, product: recommendation.recommendable
-if(recommendation.recommendable_type == 'Task')
  =render 'tasks/task_modal', recommendation: recommendation, task: recommendation.recommendable