%tr
  %td
    =link_to "#{contest.name} (#{contest.start_date} - #{contest.end_date})", contest_path(contest)
  %td
    =link_to "Edit Contest", edit_contest_path(contest), class: 'btn bg-blue white rounded'
  %td
    =link_to "Show Contest", contest_path(contest), class: 'btn bg-blue white rounded'