=simple_form_for @contest do |form|
  .clearfix
    .col-12
      =form.label :name
  .clearfix
    =form.input_field :name, class: "field col-12"
  .clearfix
    .col-12
      =form.label :headline
  .clearfix
    =form.input_field :headline, class: "field col-12"
  .clearfix
    .col-12
      =form.label :start_date
  .clearfix
    .col-12
      =form.input_field :start_date, class: "field"
  .clearfix
    .col-12
      =form.label :end_date
  .clearfix
    .col-12
      =form.input_field :end_date, class: "field"
  =form.submit "Create Contest", class: 'btn bg-blue white rounded pull-right mt2'