.container
  .bg-white.p2.clearfix.mt2
    %h1.mt0 Contests
    %table.table-light
      %tr
        %th
          Contest Name
        %th
          Edit
        %th
          Show
      %tr
        =render @contests
    =link_to "New Contest", new_contest_path, class: 'btn bg-blue white rounded pull-right mt3'