.col-xs-12.col-sm-4
  .amazon_product{class: amazon_product.id,data: {toggle: 'modal', target: "#product-#{amazon_product.id}"}}
    -if concierge_signed_in?
      =link_to "", recommendation_path(recommendation), method: "DELETE", class: "pull-right glyphicon glyphicon-remove btn-danger btn", style: "padding: 4px;"
    .amazon_picture
      =image_tag amazon_product.image_url
      -if(recommendation.done)
        .done
          .glyphicon.glyphicon-ok
    =amazon_product.name
  .comment
    -if recommendation.comment.present?
      =recommendation.comment
    -else
      %button.btn.tiny.gray.uppercase{data: {"reveal-next" => "add-comment"}}
        .glyphicon.glyphicon-plus
        Comment
      .add-comment{style: "display: none;"}
        =render 'recommendations/comment_form', recommendation: recommendation

.modal.fade{id: "product-#{amazon_product.id}"}
  .container
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .row
            .col-xs-12.col-sm-6
              =image_tag amazon_product.image_url
            .col-xs-12.col-sm-6
              %h3
                =amazon_product.name
              %p
                =amazon_product.description
              =link_to "#{amazon_product.price} on Amazon", amazon_product.url, class: "btn blue full-width", target: "_blank"
              -if(!recommendation.done)
                =link_to "I've bought this", recommendation_complete_path(recommendation.id), class: 'btn full-width', method: "POST"
              -else
                =link_to "Mark as Unpurchased", recommendation_undo_complete_path(recommendation.id), class: 'btn full-width', method: "DELETE"
          -if recommendation.comment.present?
            %hr
            .row
              .col-xs-12
                %h5.uppercase.bold 
                  =recommendation.concierge.name
                  Says
                %p
                  =recommendation.comment
