-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
  
:javascript
  modulejs.require('cm_gauge');

.max-width-4.mx-auto
  .center
    .flex.items-center.justify-center
      = link_to fat_date_path(@prev_date.year, @prev_date.month, @prev_date.day) do
        %i.fa.fa-2x.fa-angle-left.gray-80.blue--hover
      %h2.gray-80.mx2= @fat_day[:date].strftime("%b %d, %Y")
      - if @next_date <= @current_date
        = link_to fat_date_path(@next_date.year, @next_date.month, @next_date.day) do
          %i.fa.fa-2x.fa-angle-right.gray-80.blue--hover
    .h1 What did you eat today?
  = react_component('FoodActionTracker', {fatDay: @fat_day})

