.max-width-4.mx-auto.my2
  .center
    %h2.gray-80= @date.strftime("%b %d, %Y")
    %h1 What did you eat today?
    -@meal_types.each do |meal_type|
      .p2.rounded.border
        = meal_type.name.capitalize
        = render "food_categories"
    -#gauge.gauge.gauge-big.gauge-blue
      -#.gauge-arrow{data: {percentage: "0"}, style: "transform: rotate(0deg);"}
    %button#btn-carbon-footprint.btn.btn-lg.btn-primary.btn-primary--hover
      See my carbon footprint
    #carbon-footprint{style: 'display: none;'}

:javascript
  modulejs.require('cm_gauge');
  modulejs.require('fat_day')();
  