.max-width-4.mx-auto.my2
  .center
    %h2.gray-80= @date.strftime("%b %d, %Y")
    %h1 What did you eat today?
    .rounded.border
      -@meal_types.each_with_index do |meal_type, i|
        .col.col-12{class: "#{'border-top' if i > 0}"}
          .max-width-3.mx-auto.py2
            .left
              = meal_type.name.capitalize
            .right{style: 'width: 192px;'}
              Meal size: 
              %span#txt-meal-size.gray-80 Average
              .px2.py1.mx-auto
                .slider
        = render "food_categories"
    -#gauge.gauge.gauge-big.gauge-blue
      -#.gauge-arrow{data: {percentage: "0"}, style: "transform: rotate(0deg);"}
    %button#btn-carbon-footprint.btn.btn-lg.btn-primary.btn-primary--hover.mt2
      See my carbon footprint
    #carbon-footprint{style: 'display: none;'}

:javascript
  modulejs.require('cm_gauge');
  modulejs.require('fat_day')();
  