:css
  .pointer {
    cursor: pointer;
  }
  .chart rect {
    /*fill: steelblue;*/
  }
  .chart text {
    fill: black;
    font: 16px sans-serif;
    text-anchor: end;
  }

  .axis text {
    font: 16px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .x.axis path {
    display: none;
  }

  .x2.axis path {
    stroke: lightgrey;
  }

.max-width-4.mx-auto
  %h1 Results
  %svg.chart{viewBox: "0 0 960 300", preserveAspectRatio:"xMidYMid meet"}
  


:javascript
  modulejs.require('fat_graph')(#{@cf.to_json});
