.container
  .row
    .col-xs-12
      %h1 Actions
      .row
        -@actions.each do |action|
          .col-xs-12.col-sm-6.col-md-3
            .panel
              =action.name
              =link_to "Edit", edit_action_path(action), class: 'btn small full-width'
              =link_to "Delete", action_path(action), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'btn small full-width'
        .col-xs-12.col-sm-6.col-md-3.text-center.storefront
          =link_to new_action_path do
            .new_storefront{style: "padding:50px 0px; border: 4px dashed #DDD;border-radius: 4px;"}
              .icon
                .glyphicon.glyphicon-plus{style: 'background-color: #02CCFF; color: #FFF;font-size: 2rem; padding: 8px 8px 10px 10px;border-radius: 50%;'}
              Create a new Action