$border-width: 1px !default;
$border-width-2: 2px !default;
$border-radius: 4px !default;

// Custom Media Query Variables


/* Basscss Border */

.border {
  border-style: solid;
  border-width: $border-width-2;
}

.border-2 {
  border-style: solid;
  border-width: $border-width-2;
}
.border-top {
  border-top-style: solid;
  border-top-width: $border-width;
}

.border-right {
  border-right-style: solid;
  border-right-width: $border-width;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}

.border-left {
  border-left-style: solid;
  border-left-width: $border-width;
}

.border-none { border: 0 }

.rounded { border-radius: $border-radius }
.rounded-top { border-radius: $border-radius $border-radius 0 0; }
.rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }

.circle  { border-radius: 50% }

.rounded-top    { border-radius: $border-radius $border-radius 0 0 }

.rounded-right  { border-radius: 0 $border-radius $border-radius 0 }

.rounded-bottom { border-radius: 0 0 $border-radius $border-radius }

.rounded-left   { border-radius: $border-radius 0 0 $border-radius }

.rounded-top-left { border-radius: $border-radius 0 0 0}

.rounded-top-right { border-radius: 0 $border-radius 0 0}

.rounded-bottom-left { border-radius: 0 0 0 $border-radius; }

.rounded-bottom-right { border-radius: 0 0 $border-radius 0; }

.not-rounded { border-radius: 0 }

.border-top--gray {border-top:1px solid $gray-4}

.border-gray-4 { border-color: $gray-4; }

.box-shadow-1 {box-shadow: 0 0 40px #B4F7F7;}

@media #{$breakpoint-sm} {
  .sm-not-rounded{ border-radius: 0; }
  .sm-rounded-top-right { border-radius: 0 $border-radius 0 0; }
  .sm-rounded-bottom-right { border-radius: 0 0 $border-radius 0; }
  .sm-rounded-bottom-left { border-radius: 0 0 0 $border-radius; }
}
