// Converted Variables
$width-half: 12rem !default;
$width-1: 24rem !default;
$width-2: 32rem !default;
$width-3: 48rem !default;
$width-4: 64rem !default;

// Custom Media Query Variables


/* Basscss Layout */

.inline       { display: inline }

.block        { display: block }

.inline-block { display: inline-block }

.table        { display: table }

.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }

.overflow-scroll { overflow: scroll }

.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.left  { float: left }

@media #{$breakpoint-sm} {
  .sm-left { float: left; }
  .sm-right { float: right; }
}

.right { float: right }

.fit { max-width: 100% }

.max-width-half { max-width: $width-half }

.fill-x { width: 100% }

.fill-y { height: 100% }

.fill { width: 100%; height: 100%; }



// Width
@for $i from 1 through $layout-count {
  .x#{$i} {width: #{$i * .5}rem;}
    .max-x#{$i} {max-width: #{$i * .5}rem;}
    .min-x#{$i} {min-width: #{$i * .5}rem;}
  .y#{$i} {height: #{$i * .5}rem;}
    .max-y#{$i} {max-height: #{$i * .5}rem;}
    .min-y#{$i} {min-height: #{$i * .5}rem;}
}

.max-width-1 { max-width: $width-1 }

.max-width-2 { max-width: $width-2 }

.max-width-3 { max-width: $width-3 }

.max-width-4 { max-width: $width-4 }

.border-box { box-sizing: border-box }

//Icon Sizing
.icon-l {
  width: 32px;
  height: 32px;
}

.icon-m {
  width: 24px;
  height: 24px;
}

.icon-s {
  width: 16px;
  height: 16px;
}
// Food Type Icon Sizing

.icon-xl {
  width: 3.5rem; //56px
}

//What is this for?
body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}


// CSS classes from WordPress

.alignleft {
  float: left;
  margin: 0.375em 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.5em 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;
}

/* Make article images fit within blog width */

.wp-caption {
  max-width: 100%;
}

.post-content, post-header {
  img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
  }
}

/* Makes Youtube Videos Responsive */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed, .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
