// Converted Variables
$width-half: 12rem !default;
$width-1: 24rem !default;
$width-2: 32rem !default;
$width-3: 48rem !default;
$width-4: 64rem !default;

// Custom Media Query Variables


/* Basscss Layout */

.inline       { display: inline }

.block        { display: block }

.inline-block { display: inline-block }

.table        { display: table }

.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }

.overflow-scroll { overflow: scroll }

.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.left  { float: left }

.right { float: right }

.fit { max-width: 100% }

.max-width-half { max-width: $width-half }

.max-width-1 { max-width: $width-1 }

.max-width-2 { max-width: $width-2 }

.max-width-3 { max-width: $width-3 }

.max-width-4 { max-width: $width-4 }

.border-box { box-sizing: border-box }


// CSS classes from WordPress

.alignleft {
  float: left;
  margin: 0.375em 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0.375em 0 1.5em 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;
}

.post-content img { max-width: 100% }

/* Makes Youtube Videos Responsive */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed, .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
