-if object.errors.any?
  #error_explanation.mx-auto.center.rounded
    .alert.alert-error
      %h3.m0.white
        = "The form contains #{pluralize(object.errors.count, 'error')}."
    %ul.inline-block.m0.left-align.pl0
      -object.errors.full_messages.each do |msg|
        %li.white 
          =msg
