%tr
  %td
    =lead.email
  %td
    =time_ago_in_words(lead.created_at) << " ago"
  %td
    =lead.first_name
  %td
    =lead.last_name
  %td
    =lead.address
  %td
    =lead.referer
  %td
    =lead.saved_to_zoho
  %td
    =lead.email
  %td
    =lead.campaign
  %td
    =lead.latitude
  %td
    =lead.longitude