-content_for :navbar_class do
  dark overlay

.contest.hero
  .overlay
    %h1.content
      Enter our Energy Awareness Month giveaway!
.blue
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .reserve.panel#reserve{style: "margin-top: -100px;"}
          .row
            .col-xs-12.col-sm-8.col-sm-offset-2
              Fill in the form below for a free chat with a Domino Concierge, and you’ll be entered in a drawing to win your choice of:
              %br
              %br
              %ul.text-left
                %li 
                  =link_to 'Nest 3rd Generation Learning Thermostat', 'http://www.amazon.com/Nest-Learning-Thermostat-3rd-Generation/dp/B0131RG6VK'
                %li
                  =link_to 'Kill A Watt Home Electricity Usage Monitor', 'http://www.amazon.com/Automatic-Link1-ON-Smart-Driving-Assistant/dp/B00FJXKE5E%20http://www.amazon.com/P3-International-P4480-Electricity-Electronic/dp/B001U638PM/'
                %li 
                  =link_to 'Automatic Smart Driving Assistant', 'http://www.amazon.com/Automatic-Link1-ON-Smart-Driving-Assistant/dp/B00FJXKE5E'
              %strong Enter by October 31 for your chance to win!
              %br
              %br
              %br
              =render 'form', button_text: 'Get Started'
              %small By submitting this form, you confirm that you have read and agree to the official Sweepstakes rules and conditions.
