-content_for :navbar_class do
  bg-blue white sm-col-12 absolute top-0

.bg-blue{style: "margin-top:90px;"}
  .container
    .clearfix.center
      %h1
        Ready for cool savings with clean energy?
        %br
        Let Domino be your guide.
    .clearfix.center
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8.bg-white.rounded.p3
        And it starts with a quick chat. 
        %br
        We don’t mean to exaggerate, but this phone call could change the world.
        =render 'form', button_text: 'Get Started'
    .clearfix
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8.mt2.mb2.center.caps
        %p Other ways to reach a Domino concierge
    .clearfix
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8
        .clearfix.mxn2
          .col.col-12.sm-col-6.px2
            .col.col-3
              = image_tag 'phone_icon.png'
            .col.col-9
              %p 
                800-979-2215
                %br
                9am to 9pm ET, Monday-Friday
          .col.col-12.sm-col-6.px2
            .col.col-3
              = image_tag 'email_icon.png'
            .col.col-9
              %p= link_to 'myconcierge@mydomino.com', "mailto:myconcierge@mydomino.com"
.bg-gray
  .container
    .clearfix
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8
        %h2 We’re not salespeople, we’re energy wonks. We’re obsessed with clean energy actions that don’t compromise your lifestyle and put more cash back in your pocket.
        %div{style: "text-align:center;"}
          = link_to getstarted_path(anchor: 'reserve') do
            %button.btn.bg-blue.white.caps.rounded.m3
              Get Started