-content_for :navbar_class do
  bg-blue white sm-col-12
-content_for :logo_class do
  white

.bg-blue
  .container
    .clearfix.center
      %h1.white
        Ready for cool savings with clean energy?
        %br
        Let Domino be your guide.
    .clearfix.center
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8.bg-white.rounded.p3
        %h3
          And it starts with a quick chat. 
          %br
          We don’t mean to exaggerate, but this phone call could change the world.
        =render 'form', button_text: 'Get Started'
    .clearfix
      .sm-col.sm-show.sm-col-2
        &nbsp;
      .col.col-12.sm-col-8.mb4.border.p2
        .clearfix.mxn2
          .col.col-12.mt3.mb1.center.caps.white
            %p Other ways to reach a Domino concierge
          .col.col-12.sm-col-6.px2
            .col.col-3
              = image_tag 'phone_icon.png'
            .col.col-9.white 
              800-979-2215
              %br
              9am to 9pm ET, Monday-Friday
          .col.col-12.sm-col-6.px2
            .col.col-3
              = image_tag 'email_icon.png'
            .col.col-9
              = link_to 'myconcierge@mydomino.com', "mailto:myconcierge@mydomino.com", class: "white"