%nav.navbar.navbar-default{class: 'transparent overlay' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
.hero.dark{style: "background-image: url('#{image_url('WindPower.png')}');"}
  .row
    .col-xs-12
      %h2.uppercase.text-center{style: 'margin-top: 40px;'} About Domino
      %p.text-center{style: 'margin-bottom: 40px;'} Domino is the best way to save money and be fossil fuel free.
.container.about
  .row
    .col-xs-12.col-md-8.col-md-push-2
      %h2.uppercase{style: 'margin-top: 50px;'}
        Why Domino
      %p 
        We know that no two families, homes, cities, or lifestyles are the same. Americans want personzlied advice on how to ditch fossil fuels and save money, especially for big decisions like solar and electric cars. Our concierge service provides that missing link.
        %br
        Domino concierges are not salespeople and do not work on commission. If solar power or an electric car doesn't make sense for you, we'll tell you! It's your choice what action to take - we just offer options for you to consider.

      .row{style: 'margin: 15px 0px;'}
        .col-xs-12.col-md-6
          %h4.uppercase{style: 'margin: 30px 0px 15px;color: #777;'} Domino Guarantee
        .col-md-6.col-xs-12.text-left
          =image_tag('domino_guarantee.png', style: "max-height: 75px;")
      %p We stand behind every product and service we provide. 
      %p The Domino Three-Point Guarantee:
      %p 1) We guarantee that you will receive quality services and products at competitive prices from reputable providers. We only work, and will only refer you, to companies and products with excellent credentials.
      %p 2) We guarantee you Domino's first-class service throughout the discovery, purchasing, and installation process. You will work with a concierge who is not paid on commission, and whose focus is to help you move beyond fossil fuels without any pressure.
      %p 3) We guarantee that we will be with you throughout the entire life of any product or service purchased through Domino. Should any issue arise, we will assist you to help resolve the issue to your 100% satisfaction.

      %h2.uppercase How Domino Makes Money

      %p Domino is 100% free for homeowners. We make a small referral fee from vendor products and services purchased through us. This referall fee costs the vendors less than acquiring customers in other ways, so you save.

      %h2.uppercase Domino Team

      Lorem Ipsum

      =image_tag 'team-photo.png'