-content_for :navbar_class do
  bg-transparent fixed charcoal sm-col-12

.clearfix.mx-auto.max-width-4.pb4
  #about-header.page-header-image
    .max-width-3.mx-auto{style:'padding-top: 6em'}
      %h1.m0.center.white{style: 'font-size: 56px;font-weight: 200;'} About Us

  .center.max-width-3.mx-auto.px2
    %h1.charcoal.mt4
      Our Story
    %p.left-align.charcoal
      We all want clean energy, air, and water. The technology for that is available today. But where do you start? Can you afford it? Do you have to make lifestyle sacrifices? This confusion may keep you from taking action.

    %p.left-align.charcoal
      That’s why we started MyDomino. We’re a concierge service that helps you switch from dirty fuels to 100% clean energy. Through consultation and personalized recommendations, we cut through the confusion and make it easy for anyone to make the switch -- while lowering your energy bills.
    %p.left-align.charcoal
      We’ll help you take clean energy actions -- from picking the right LED light bulbs for your home to getting solar quotes to finding an electric car, and more.

    %h1.charcoal.mt3
      How We're Different
    %p.left-align.charcoal
      We offer something for everyone in our clean energy action path. Not everyone can go solar -- but everyone can do something to contribute to a cleaner and healthier environment. We’ve done extensive research to vet the products and services that help you make a difference.
    %p.left-align.charcoal
      MyDomino concierges are not salespeople and do not work on commission. So they’ll never pressure you to do something you aren’t sure about. Our team helps you take actions that make sense for you.
    %p.left-align.charcoal
      As a B Corp, we work for the public good of preserving a healthy planet for our children and for future generations.
    %h1.charcoal.mt3
      The MyDomino Effect
    %p.left-align.charcoal
      You might think you’re not doing much if you replace a light bulb. But if 60 people switch to LEDs, that’s like taking 25 cars off the road for a year. If just 25 people go solar, that’s like planting 97,000 trees -- or 400 football fields’ worth.
    %p.left-align.charcoal
      We believe in the power of individuals and communities across the globe to come together and make a huge impact -- starting with small actions like these. 
    %p.left-align.charcoal
      With each step you take on your path to 100% clean energy, we get closer to our mission of creating 1 billion actions toward our clean energy future. Together, we can create an epic MyDomino Effect. 

:javascript

  navbarScroll('#666', '#666');
