-content_for(:navbar_class) do
  bg-transparent absolute top-0 z1 white
-content_for(:logo_class) do
  white
-content_for(:link_color_class) do
  white

.bg-cover.py4.flex.flex-center.overlay-3{style: "background-image: url('#{image_url('SkyandWater.jpeg')}');background-position:bottom center;min-height:320px;"}
  .clearfix.mx-auto.z1
    .col-12.white
      %h1.bold.center.mt2 About MyDomino
      %h2.center.mt2 Our mission is to create 1 billion actions toward a clean energy future.
.container.mb4.measure
  .clearfix
    .col-12
      .clearfix
        .mx-auto
          %h1.mt4.mb2
            Why MyDomino
          %p
            We care about the planet, and we care about our customers. Which is why MyDomino cuts through the confusion to make going green easy and affordable for everyone.
          %p
            With more environmentally friendly choices than ever, we understand that you’re overwhelmed with options. At MyDomino, we’ll help you with everything from getting and comparing solar quotes to finding the right electric car to picking the right LED light bulbs for your home.
          %p
            MyDomino concierges are not salespeople and do not work on commission. So we’ll never pressure you to do something you aren’t sure about. Our team helps you take actions that make sense for you.
      .clearfix.mt4
        .sm-hide.col-12.mt4
          .left.col-12
            =image_tag('domino_guarantee.png', style: "max-height: 175px;position: relative; top: -85px;")
          .col-12
            %p The MyDomino Three-Point Guarantee:
            %p We stand behind every product and service we provide.
            %p 1) We guarantee that you will receive quality services and products at competitive prices from reputable providers. We only work with, and will only refer you to, companies and products with excellent credentials.
            %p 2) We guarantee you MyDomino's first-class service throughout the discovery, purchasing, and installation process. You will work with a concierge who is not paid on commission, and whose focus is to help you move beyond fossil fuels without any pressure.
            %p 3) We guarantee that we will be with you throughout the entire life of any product or service purchased through MyDomino. Should any issue arise, we will assist you to help resolve the issue to your 100% satisfaction.

        .sm-show.col-12.mt4{style: 'border-radius: 20px;border: 2px solid #ac7d2c;'}
          .center
            =image_tag('domino_guarantee.png', style: "max-height: 175px;position: relative; top: -85px;")
          .px3
            %p The MyDomino Three-Point Guarantee:
            %p We stand behind every product and service we provide.
            %p 1) We guarantee that you will receive quality services and products at competitive prices from reputable providers. We only work with, and will only refer you to, companies and products with excellent credentials.
            %p 2) We guarantee you MyDomino's first-class service throughout the discovery, purchasing, and installation process. You will work with a concierge who is not paid on commission, and whose focus is to help you move beyond fossil fuels without any pressure.
            %p 3) We guarantee that we will be with you throughout the entire life of any product or service purchased through Domino. Should any issue arise, we will assist you to help resolve the issue to your 100% satisfaction.

      .col-12
        %h1.mt4.mb2 How MyDomino Makes Money
        %p MyDomino makes a small referral fee from vendor products and services purchased through us. This referral fee costs the vendors less than acquiring customers in other ways, so you save!
      .col-12
        %h1.mt4.mb2 MyDomino Team

        %p Our crew of energy experts and analysts comes from all walks of life. We share one thing in common: a passion for the planet. We’re here to help you save cash and take action!

        =image_tag 'team-photo.png'
