<div class="m4">
<a href="#" class="btn btn-sm btn-primary btn-primary--hover">Login</a>
<a href="#" class="btn btn-md btn-primary btn-primary--hover">Meet the Team</a>
<a href="#" class="btn btn-lg btn-primary btn-primary--hover">Finish</a>

<div class="mt2">
<a href="#" class="btn btn-sm btn-secondary btn-secondary--hover">Button</a>
<a href="#" class="btn btn-md btn-secondary btn-secondary--hover">Button</a>
<a href="#" class="btn btn-lg btn-secondary btn-secondary--hover">Button</a>
</div>

<div class="mt3">
<button class="btn btn-sm btn-primary is-disabled" disabled>Disabled</button>
<button class="btn btn-sm btn-secondary is-disabled" disabled>Disabled</button>
</div>

<div class ="mt3">
<div class ="btn-group">
<button class= "btn btn-sm btn-secondary"> Button 1</button>
<button class= "btn btn-sm btn-secondary"> Button 2</button>
<button class= "btn btn-sm btn-secondary"> Button 3</button>
</div>
</div>
