.max-width-4.mx-auto
  %section.mt2
    %a.btn.btn-sm.btn-primary.btn-primary--hover Login
    %a.btn.btn-md.btn-primary.btn-primary--hover Meet the Team
    %a.btn.btn-lg.btn-primary.btn-primary--hover Finish

  %section.mt2
    %a.btn.btn-sm.btn-secondary.btn-secondary--hover Button
    %a.btn.btn-md.btn-secondary.btn-secondary--hover Button
    %a.btn.btn-lg.btn-secondary.btn-secondary--hover Button

  %section.mt3
    %button.btn.btn-sm.btn-primary.is-disabled{disabled: "disabled"} Disabled
    %button.btn.btn-sm.btn-secondary.is-disabled{disabled: "disabled"} Disabled

  %section.mt3
    .btn-group.clearfix
      %button.btn.btn-sm.btn-secondary.rounded-left.btn-secondary--hover Button 1
      %button.btn.btn-sm.btn-secondary.not-rounded.btn-secondary--hover Button 2
      %button.btn.btn-sm.btn-secondary.rounded-right.btn-secondary--hover Button 3

  %section.mt3
    .radio.mt3
      = radio_button_tag(:age, "child")
      = label_tag(:age_child, "I am younger than 21")
      = radio_button_tag(:age, "adult")
      = label_tag(:age_adult, "I'm over 21")
