-content_for :navbar_class do
  bg-transparent fixed charcoal sm-col-12

.clearfix.mx-auto.max-width-4.pb4
  #about-header.page-header-image
    .max-width-3.mx-auto{style:'padding-top: 6em'}
      %h1.m0.center.white{style: 'font-size: 56px;font-weight: 200;'} About Us


%header.fixed.col-12.bg-blue.px2
  %nav.h3
    %p Link 1
    %p Link 1
    %p Link 1
    %p Link 1
