.clearfix.mx-auto.pb4
  .bg-bottom.bg-cover.flex.items-center.page-header#page-header--faq
    .max-width-3.mx-auto
      %h1.m0.center.white Frequently Asked Questions

  #accordion.max-width-4.mx-auto.mx2.px2.mt4
    %h1.accordion-toggle.pointer.closed.line-height-3
      %span.toggle.inline-block +
      How you can ditch &amp; switch with help from MyDomino
    .accordion-content.ml3.pl1
      %p.bold.my0
        What is MyDomino?
      .pl2
        %p.mt0
          At MyDomino, we want to make a substantial, positive impact on climate for current and future generations. We believe in the power of individuals and communities across the globe to come together and make a huge impact, starting with small actions.
        %p
          Our energy savings concierge service helps you take actions to switch from dirty fuels to 100% clean energy. Through consultation and personalized recommendations, we cut through the confusion and make it easy for anyone to make the switch -- while lowering your energy bills.
        %p
          Your personal energy savings concierge is your guide on the path to a 100% clean energy lifestyle.

        %ul
          %li Want to go solar? We’ll get you quotes and help you compare them.
          %li Don’t own your home? We’ll create a customized plan for you even if you rent.
          %li Not sure if you can afford clean energy? We’ll show you how much you can save over time -- and find you financing options for big-ticket items like solar.

        %p.mb3
          We couldn’t be more excited about getting to 100% clean energy. We hope you’ll join us on the path.

      %p.bold.mb0
        How can I save money by ditching dirty fuels and saving energy?

      .pl2
        %p.mt0 Here are just a few ways you can save:

        %ul
          %li You can switch from expensive, dirty fuels to cheaper, clean energy -- for example, by putting solar panels on your roof.
          %li You can take simple actions like switching to efficient LED bulbs -- and save more than you might think.
          %li You can save even more by combining some actions -- like running your electric car on solar power.

        %p.mb3 Your MyDomino energy savings concierge will help you identify all the ways you can start saving now. It’s your choice which ones to try out.

      %p.bold.mb0
        Do I have to take lots of big actions to save?
      .pl2
        %p.mt0
          No! You can start saving right away with actions as simple as upgrading to LED bulbs or a smart thermostat. Or you can go all-in and install solar panels, or even start driving electric.

        %p.mb3
          The more you do, the more you’ll save. But even if all you do is buy some LED bulbs, you can start saving now.

      %p.bold.mb0 Do I have to own my home to ditch & switch?
      .pl2
        %p.mt0.mb3
          No! Even renters can ditch dirty fuels with a
          %a.text-decoration-none.blue{href: 'http://mydomino.com/blog/how-to-go-green-power/', target: '_blank'}
            clean power plan
          and use 100% clean energy. You can also save energy and money with simple actions like switching to LED bulbs, a smart thermostat, and smart power strips.

      %p.bold.mb0 Why aren’t more people switching to clean energy?
      .pl2
        %p.mb3.mt0
          Most people would rather be using clean energy than dirty fuels. But where do you start if you want to make the switch? Can you afford it? Do you have to make lifestyle sacrifices? This confusion keeps people from taking action. Our concierges will cut through the confusion for you.

      %p.bold.mb0 How does MyDomino make money?
      .pl2
        %p.mb3.mt0
          MyDomino is a yearly $99 paid subscription service. From time to time we offer discounts on energy-saving products to our customers, and we get small referral fees from our trusted vendors.

      %p.bold.mb0 What’s a B Corp?
      .pl2
        %p.mb3.mt0
          A for-profit company certified by the nonprofit B Lab to meet rigorous standards of social and environmental performance, accountability, and transparency. That means we’re a mission-driven company that focuses on people and planet, as well as profits. As B Lab says, “B Corp is to business what Fair Trade certification is to coffee or USDA Organic certification is to milk.”

    %h1.accordion-toggle.pointer.closed.line-height-3
      %span.toggle.inline-block +
      Solar power
    .accordion-content.ml3.pl1
      %p.bold.my0
        Isn’t solar expensive?
      .pl2
        %p.mt0
          Not anymore. If you can afford to pay your electric bill, you can afford solar -- and you'll keep your electric bill from going up. You can even go solar for no money down and start saving right away.

        %p.mb3
          Your MyDomino energy savings concierge can get you started with free quotes from several installers.

      %p.bold.mb0 How can I save with solar?
      .pl2
        %p.mt0
          You
          %span
            %a.text-decoration-none.blue{href: 'http://mydomino.com/blog/solar-costs-and-savings/', target: '_blank'}
              save money
          by paying less for solar power than you pay now for power from your utility.
        %p
          You can choose to make monthly payments that are lower than your current electric bill. Or you can you buy your system with cash, in which case all the power it generates is yours for free once the system pays for itself in a few years or so.
        %p.mb3
          The price of power from your utility will keep rising over the years -- so you’ll save even more over time.

      %p.bold.mb0
        How will solar affect my home’s value?
      .pl2
        %p.mt0
          Solar panels can&nbsp;
          %span>= link_to 'increase the value of your home', 'http://mydomino.com/blog/want-to-increase-your-homes-value/', target: '_blank', class: 'text-decoration-none blue'
          , particularly if you own your system. Having solar on your home may even make it easier to sell.

      %p.bold.mb0
        Will solar panels damage my roof, and do they need much maintenance?
      .pl2
        %p.mt0
          Before putting any panels on, your solar installer will verify that your roof is in good enough shape. Solar panels can actually protect your roof from wear and tear.
        %p.mb3
          Solar panels are built to last for decades -- in rain, snow, and of course, sun. Hosing the panels off now and then and keeping leaves off them in the fall is about the&nbsp;
          %span>= link_to 'only maintenance required', 'http://mydomino.com/blog/solar-system-maintenance/', target: '_blank', class: 'text-decoration-none blue'
          \. Many installers will do that for you. And all equipment comes with long-term warranties -- usually for 25 years.

      %p.bold.mb0
        Do I need a big roof? How do I know if I have enough sun?
      .pl2
        %p.mt0.mb3
          How much space you need depends on how much electricity you use. As long as your roof is not shaded, it does not have to face south. Solar works well even in areas without much sun  --  and in snowy conditions. But you don't need to figure all this out yourself. Your installer will make this assessment for free.

      %p.bold.mb0 What if I can’t put panels on my roof?
      .pl2
        %p.mt0
          You don’t need panels on your roof to ditch dirty fuels and switch to clean energy.

        %p
          Anyone in the U.S. can sign up for a&nbsp;
          %span>= link_to 'clean power plan', 'http://mydomino.com/blog/how-to-go-green-power/', target: '_blank', class: 'text-decoration-none blue'
          \. That’s power that comes from the cleanest sources available -- usually wind, solar, or renewable energy certificates. When you sign up for a green power plan, you’re paying for 100% clean power, instead of power that may come from dirty fuels.

        %p.mb3
          Your MyDomino energy savings concierge will also let you know if there’s a&nbsp;
          %span>= link_to 'community solar option in your area', 'http://mydomino.com/blog/community-solar-popular/', target: '_blank', class: 'text-decoration-none blue'
          \. Community solar lets you go solar without putting anything on your roof. You buy solar power from panels installed in your community, and you get credit on your electricity bill for the power produced by those panels.

    %h1.accordion-toggle.pointer.closed
      %span.toggle.inline-block +
      LED bulbs
    .accordion-content.ml3.pl1
      %p.bold.my0
        What are LED bulbs?
      .pl2
        %p.mt0.mb3
          %span>= link_to "LEDs", 'http://mydomino.com/blog/americans-are-ready-for-leds/', target: '_blank', class: 'text-decoration-none blue'
          , or light-emitting diodes, are semiconductors that produce light when an electric current passes through them. They’re more efficient than other bulbs, and they last much longer.

      %p.bold.mb0
        How much do LEDs cost?
      %p.mt0.mb3.pl2
        LEDs are a lot cheaper than they used to be. Many of the best-selling LEDs go for well under $10 now.

      %p.bold.mb0
        How can I save with LEDs?
      %p.mt0.mb3.pl2
        LEDs are more efficient, so you’ll spend less to power them. And they can last over 20 years, compared to one year for an old-style bulb -- so you won’t have to buy as many bulbs. You’ll be surprised at how much you’ll save.

      %p.bold.mb0
        Will my light quality be as good with LEDs?
      %p.mt0.mb3.pl2
        The latest LED bulbs rival the look, dimming ability, and light quality of old-style incandescents. A good-quality LED like the Cree will produce great lighting for your home. Some bulbs even let you control the color with your smartphone!

    %h1.accordion-toggle.pointer.closed.line-height-3
      %span.toggle.inline-block +
      Smart thermostats
    .accordion-content.ml3.pl1
      %p.bold.my0 What is a smart thermostat?
      .pl2
        %p.mt0
          A smart thermostat can learn your preferences and adjust your home temperature to your lifestyle. It can automatically lower your heating or air conditioning when you’re away or asleep, and even adjust your energy consumption based on things like humidity and weather conditions.

        %p.mb3
          Another great thing about a smart thermostat is that you have total control. You can even control most smart thermostats from a remote location using your laptop or mobile device.

      %p.bold.mb0 How much do smart thermostats cost?
      %p.mt0.mb3.pl2 A smart thermostat can run about $250. It can sometimes pay for itself in less than two years.

      %p.bold.mb0 How can I save with a smart thermostat?
      .pl2
        %p.mt0
          A smart thermostat learns your preferences and adjusts your home temperature to your lifestyle -- for instance, it can lower your heating and air conditioning when you’re not using them. That means you won’t be wasting power when you’re away or asleep. You can even control your thermostat remotely when you’re not home.

        %p.mb3
          %span>= link_to "Savings can be significant", 'http://mydomino.com/blog/how-much-can-a-smart-thermostat-save-you/', target: '_blank', class: 'text-decoration-none blue'
          \. Several studies have shown that the Nest, one of the most popular smart thermostats, pays for itself in less than two years.

      %p.bold.mb0 What are the ideal home temperatures?
      %p.mt0.mb3.pl2
        For heating, try 68&deg; - 70&deg; F when you’re home, 53&deg; F when you’re away, and 60&deg; F while you’re asleep. For cooling, turn down your AC when you go out, and set it to 78&deg; F or higher when you’re home.

    %h1.accordion-toggle.pointer.closed.line-height-3
      %span.toggle.inline-block +
      Electric cars and hybrids
    .accordion-content.ml3.pl1
      %p.bold.my0 Are electric cars and hybrids expensive?
      .pl2
        %p.mt0
          With a wider range of options and many incentives, these cars are now&nbsp;
          %span>= link_to "cheaper than you might think", 'http://mydomino.com/blog/think-a-new-electric-car-is-out-of-reach/', target: '_blank', class: 'text-decoration-none blue'
          \:
        %ul.mb3
          %li Most electric cars are in the competitive range of $30,000 after the hefty incentives available -- compared to the average car price of $32,000 for gas-powered cars. Plus, it costs much less to operate and maintain an electric car.
          %li Plug-in hybrids also cost less to operate, and you can get one for about $25,000 after incentives.
          %li The average cost for a regular hybrid is $37,000 before incentives. Many states now offer incentives and other perks, like driving in the carpool lane. Hybrids cost less to operate than gas-powered cars because they don’t use as much gas.

      %p.bold.mb0 How can I save with an electric car or hybrid?
      .pl2
        %p.mt0
          You’ll save big on fuel, especially with an electric car. Most Americans spend about $2000 a year on gas. In contrast, the average annual fuel cost for an electric car is $575 -- that’s 70% less. For a plug-in hybrid, you’ll pay about $900 a year for fuel, and for a hybrid, $1000 -- about half of what most people spend on gas.
        %p
          You can save even more if you power your electric car or plug-in with&nbsp;
          %span>= link_to "clean electricity from the sun", 'http://mydomino.com/blog/10-things-we-love-about-solar/', target: '_blank', class: 'text-decoration-none blue'
          \.
        %p.mb3
          With an electric car, you’ll also save on maintenance, since these cars have far fewer moving parts than their gas-powered counterparts.

      %p.bold.mb0 How far can I drive?
      .pl2
        %p.mt0
          The average American drives less than 40 miles per day. Most electric cars can go twice as far as that, at least 80 miles.
        %p
          If that still won’t fit your needs, a plug-in hybrid might be right for you -- it will let you travel at least 300 miles (probably more like 450) on a combination of one charge and one gas tank.
        %p.mb3
          With a hybrid, you can go even farther. Just one tank of gas will take you about 550 miles, more than twice as far as the average 250 for a gas-powered car.

      %p.bold.mb0 How long does it take to charge an electric car or plug-in hybrid?
      .pl2
        %p.mt0
          Not as long as you might think. Since the average American drives less than 40 miles per day, and electric vehicles have a range of at least 80 miles, you probably won’t need to give your car a full charge every day. If you do, it takes about 4 - 6 hours to fully charge it.
        %p
          You can charge a plug-in hybrid in about 3 hours, and you won’t need to charge often since you can go 300 - 450 miles on one charge and one tank of gas.
        %p.mb3
          Most people charge at night, while they’re sleeping -- when electricity rates are often lower.

      %p.bold.mb0 How is driving an electric car or hybrid better than driving a gas-powered car?
      .pl2
        %p.mt0
          Even when they use coal-generated electricity, electric cars can cut emissions by 40%. In areas that use many clean energy sources, you can cut emissions by as much as 90%. If you power your car with clean power from the sun or through a clean energy program, you can drive with zero carbon emissions.
        %p
          Plug-in hybrids don’t cut emissions as much, but they’re still cleaner than gas-powered cars.
        %p.mb3
          Even regular hybrids produce about 30% less harmful emissions than comparable gas-powered cars.
