-content_for :navbar_class do
  bg-transparent fixed white sm-col-12
-content_for :link_color_class do
  white

.bg-white
  #profile-forms{style: 'height:100%;min-height:530px;border-bottom: 2px solid lightgray;'}
    =render 'profiles/name_and_email'

.bg-white.max-width-4.mx-auto
  .clearfix.my4
    %h4.center{style: "margin-bottom:-20px;"} HOW TO
    %h1.center.mb4 DITCH &amp; SWITCH
    .sm-col.sm-col-4.center.mb3.sm-mb0.px2
      .wrapper{style: "height:100px;"}
        =image_tag "icon_talk.svg"
      %h2.m0 1. Talk With Us
      %p.h4.m0
        Chat with our concierges to set up your
        %br.sm-hide
          path to clean energy savings

    .sm-col.sm-col-4.center.mb3.sm-b0.px2
      .wrapper{style: "height:100px;"}
        =image_tag "icon_action.svg"
      %h2.m0 2. Take Action
      %p.h4.m0
        Begin your action path with vetted
        %br.sm-hide
          products & services
    .sm-col.sm-col-4.center.px2
      .wrapper{style: "height:100px;"}
        =image_tag "icon_progress.svg", class:"mt2"
      %h2.m0 3. Track Progress
      %p.h4.m0
        Track the progress of your path to a
        %br.sm-hide
          clean energy lifestyle

%div#about-banner
  .max-width-4.mx-auto
    .clearfix.py4
      .sm-col.sm-col-2 &nbsp;
      .sm-col.sm-col-8.mx-auto
        .center.mt3
          = image_tag "penguin-white.svg", width: '150px'
        %h1.center.bold.white.mt0
          We're All About Good Energy
        %h2.center.white
          Good Energy to Power Your Life
        %p.center.white
          We're all about helping you switch from expensive, dirty fuel to
          good clean energy to power your life. We'll cut through the
          confusion to make it easy and affordable. We're clean energy
          nerds committed to helping you join the action path to a 100%
          clean energy lifestyle, and dedicated to a clean energy domino
          effect of innovation, hope, and opportunity for everyone.
        %h2.center.white
          Good Energy that's Guaranteed
        %p.center.white
          We work with, and will only refer you to, companies and products
          with excellent credentials. Our non-commission concierges' first-
          class service is guaranteed for the entire life of any product or
          service purchased through MyDomino. Should any issue arise, we'll
          help resolve it to your 100% satisfaction. Guaranteed good energy.
.bg-white
  .clearfix.max-width-3.py2.mx-auto
    %h1.center.pt4
      A small investment with epic savings
    %div.rounded.m4{style: "background-color:#f3f3f3;position:relative;"}
      %h1.center.blue{style: "font-size: 25px;"}
        Only
        %span{style:'font-size: 80px;position:relative;font-weight:200;'}
          99
          %span{style: 'font-size:18px;position:absolute;left:-10px;top:18px;'}
            $
        %span{style: 'margin-left:-22px;'}
          \/year
      %ul.list-reset.ml4.pb4{style:'color:#7c7c7c;'}
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            A live energy savings concierge at your service
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Your personalized path to 100% clean energy and big savings
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            An easy to use, cool dashboard to track your progress
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Access to our seriously cool research on products and vendors
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Exclusive energy and environmental educational stuff
        %li
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Privileged access to our product previews and events

.my2{style: 'background-color:#f3f3f3'}
  .clearfix.mx-auto
    .sm-col.sm-col-3 &nbsp;
    .sm-col.sm-col-6
      %h4.bold.center SMALL ACTIONS, EPIC EFFECT
      %h1.center.py3
        "With very little effort, I'm saving hundreds a month and using clean energy."
      %h4.py3.center
        JULIE C.
        %br Sebastopol, CA

.bg-white.py2.max-width-4.clearfix.mx-auto.my2
  .flex.items-center.justify-center
    .sm-col.sm-col-4.center
      =image_tag("rmi-logo-black.svg", width: "200px;")
    .sm-col.sm-col-4.center
      =image_tag("SEIA-2.png", width: "200px")
    %br.md-hide.lg-hide
    .sm-col.sm-col-4.center
      =image_tag("Bcorp.png", width: "100px")
    .sm-col.sm-col-4.center
      =image_tag("bbb.png", width: "100px;")



/ .bg-heather.py4
/   .container
/     .clearfix.px2
/       .sm-col-12.md-col-4.mx-auto
/         =embedded_svg 'testimonial.svg'
/     .clearfix
/       .sm-col-12.md-col-10.mx-auto.center.py2
/         -# .h1.text-center
/         -#   =embedded_svg 'quotation_begin.svg',style: "width: 32px;float:left;position:relative;top:-5px;", class:"mr2"
/         -#   With very little effort on my part, I'll be saving hundreds a month and using clean energy.
/         -#   =embedded_svg 'quotation_end.svg',style: "width: 32px; float:right;", class:"ml2"
/         .h1.text-center

/           &ldquo; With very little effort on my part, I'll be saving hundreds a month and using clean energy. &rdquo;

/         .h3.text-center.caps.py3
/           Julia C.
/           %br
/           Sebastopol, CA
/ .container.py4
/   .clearfix.px2
/     .sm-col-12.md-col.md-col-6
/       =embedded_svg('solarpanel.svg')
/     .sm-col-12.md-col.md-col-6.py4
/       %h1
/         Going solar can be confusing.
/         %br
/         We make it easy.
/       %p
/         Figuring out how to go solar can be overwhelming, but it doesn’t have to be.
/       %p
/         At MyDomino, a personal energy savings concierge will help you figure out which solar options are best for your household. We'll get you quotes, help you compare them, and walk you through the whole process.
/ .suggestions.bg-sky-white-gradient.py4{style: 'position: relative;z-index:2;'}
/   .container
/     .clearfix.px2
/       .col-12.sm-col-12.md-col-6.right
/         =embedded_svg('products.svg')
/       .col-12.sm-col-12.md-col-6.py4.left
/         %h1
/           MyDomino makes suggestions to help you save money.
/         %p
/           Don’t worry—our concierges are not salespeople. They're suggestion people.
/         %p
/           MyDomino researches and vets the best energy efficiency products and services on the market. We explain your options, so you can choose what's best for your family. Always your decision, never any pressure.
/ .bg-blue.px2
/   .container
/     .clearfix
/       .sm-col-12.md-col.md-col-6.md-mb4
/         =image_tag('icon_energy-plan.png')
/       .sm-col-12.md-col.md-col-6.md-p2
/         %h1
/           We give you a customized energy plan for free.
/         %p.mb4
/           We provide a clear path for you to take actions, big and small, in order to save money and make the switch to clean energy.

:javascript
  /* Replace 'APP_ID' with your app ID */
  window.intercomSettings = {
      app_id: 'fqxjzc3t'
      };
      /* Replace 'APP_ID' with your app ID */
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/APP_ID';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
%script{:async => "true", :charset => "utf-8", :language => "javascript", :src => "//ethn.io/93293.js", :type => "text/javascript"}
