-content_for :navbar_class do
  fixed white sm-col-12
-content_for :link_color_class do
  white
.alerts.absolute.ml-auto.mr-auto.left-0.right-0.max-width-1.z4
  =flash_messages

#profile-forms
  =render @response[:form]


.clearfix.bg-white.mx-auto
  .col.col-12.md-col-6.gray-90.p2.center.bg-gray-05.height-420
    .max-width-2.inline-block.pt4.left-align
      %h1.mt0 Why MyDomino? 
      %h3 
        We want to help change energy sources from dirty fossil fuels to clean, renewable energy. We believe this will have a substantial, positive impact on climate for people now and in the future.
      %h3.mb0
        Check out how MyDomino can help you. 
  %a
    .col.col-12.md-col-6#hp-video-placeholder.pointer.height-420
    
#video-modal.absolute.z4.top-0.bottom-0.left-0.right-0
  %i#close-modal.pointer.fa.fa-2x.fa-times.absolute.white
  %iframe{src:"https://player.vimeo.com/video/169288453?api=1", width:"100%", height:"100%", frameborder:"0", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}

#action-path.bg-white.max-width-4.mx-auto.my8
  .clearfix
    %h1.center.mb4 YOUR ACTION PATH

    .sm-col.sm-col-4.center.mb3.sm-mb0.px2.line-height-1
      .wrapper
        .blue
          =image_tag "windmill_solar_panel_icon.svg"
      %h2.m0 1. Switch from Dirty to Clean Electricity
      %p.h4.mt2
        We'll help you switch your electricity
        %br.sm-hide
          source to 100% clean power

    .sm-col.sm-col-4.center.mb3.sm-b0.px2.line-height-1
      .wrapper
        =image_tag "lightbulb_outlet_icon.svg", id: 'lightbulb-outlet-icon'
      %h2.m0 2. Maximize Your Clean Electricity
      %p.h4.mt2
        Next, we'll make your clean
        %br.sm-hide
          electricity super-efficient

    .sm-col.sm-col-4.center.px2.line-height-1
      .wrapper
        =image_tag "heatpump_car_icon.svg", id: 'heatpump-car-icon' 
      %h2.m0 3. Do Life on 100% Clean Energy
      %p.h4.mt2
        Track the progress of your path to a
        %br.sm-hide
          clean energy lifestyle


%div#about-banner.py4.px2
  .max-width-3.mx-auto
    .center.mt3
      = image_tag "penguin-white.svg", width: '150px'
    %h1.center.bold.white.mt0.mb3
      We're All About Good Energy
    %h2.center.white.mb0
      Good Energy to Power Your Life
    .sm-col-11.mx-auto.h3.center.white.mt0
      We're all about helping you switch from expensive, dirty fuel to
      good clean energy to power your life. We'll cut through the
      confusion to make it easy and affordable. We're clean energy
      nerds committed to helping you join the action path to a 100%
      clean energy lifestyle, and dedicated to a clean energy domino
      effect of innovation, hope, and opportunity for everyone.
    %h2.center.white.mt3.mb0
      Good Energy that's Guaranteed
    .sm-col-11.mx-auto.h3.center.white.mt0
      We work with, and will only refer you to, companies and products
      with excellent credentials. Our non-commission concierges' first-
      class service is guaranteed for the entire life of any product or
      service purchased through MyDomino. Should any issue arise, we'll
      help resolve it to your 100% satisfaction. Guaranteed good energy.

.bg-white
  .clearfix.max-width-3.mx-auto
    %h2.sm-h2.mb0.center.p2.my3.line-height-1
      A small investment with epic savings
    .rounded.sm-mx0.sm-my2.md-m2.relative.center.bg-gray-05
      %h1.m0.blue.pt2{style: "font-size: 25px;"}
        Only
        %span.relative{style:'font-size: 80px; font-weight:200;'}
          99
          %span.absolute{style: 'font-size:18px;left:-10px;top:18px;'}
            $
        %span{style: 'margin-left:-22px;'}
          \/year
      %ul.list-reset.pb3.px2.inline-block.gray-80
        %li.left-align
          %h3.mt0
            %span
              %i.fa.fa-check.fa-3.blue
            A live energy savings concierge at your service
        %li.left-align
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Your personalized path to 100% clean energy and big savings
        %li.left-align
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            An easy to use, cool dashboard to track your progress
        %li.left-align
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Access to our seriously cool research on products and vendors
        %li.left-align
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Exclusive energy and environmental educational stuff
        %li.left-align
          %h3
            %span
              %i.fa.fa-check.fa-3.blue
            Privileged access to our product previews and events

.bg-white.clearfix.mx-auto.m2.max-width-3
  .col.col-12.px1.center
    %h1.mt2.mb1.line-height-1
      Meet our team of clean energy nerds
    %p.mt0.mb3
      Dedicated to helping you save money and make a positive impact on the environment.
    =link_to "MEET THE TEAM", "/team" , class: "btn btn-md btn-primary btn-primary--hover"

.bg-white.clearfix.mx-auto.max-width-4.pt1{style: 'margin-bottom: -7px;'}
  =image_tag "team-photo2a.jpg", alt: "The Team", class: 'fit mt3'
%script{src: "//f.vimeocdn.com/js/froogaloop2.min.js", type: 'text/javascript'}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAx3fHcF5OsnzG_Utpl1Zm9dtKCNWxBBpk&libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>

:javascript
  navbarScroll('#FF0000', '#666');
  $(document).ready(function(){
    setTimeout(function(){
      $('.alerts').hide('slow');
    }, 2000);

    //homepage video js
    var iframe = $('iframe')[0];
    var player = $f(iframe);
    // When the player is ready/loaded, add a finish event listener
    player.addEvent('ready', function() {
        player.addEvent('finish', onFinish);
    });

    function onFinish(id) {
      $('#video-modal').fadeOut();
      player.api('unload');
      $('body').removeClass('lock-position');
    }
    $('#hp-video-placeholder').on('click', function(){
      $('#video-modal').fadeIn();
      $('body').addClass('lock-position');
      player.api('play');
    });

    $('#close-modal').on('click', function(){
      $('#video-modal').fadeOut();
      player.api('unload');
      $('body').removeClass('lock-position');
    });
  });