-content_for :navbar_class do
  fixed white sm-col-12
-content_for :link_color_class do
  white
/.alerts.absolute.ml-auto.mr-auto.left-0.right-0.max-width-1.z4
=#flash_messages

#profile-forms
  =render @response[:form]

#video-modal.absolute.z4.top-0.bottom-0.left-0.right-0
  %i#close-modal.pointer.fa.fa-2x.fa-times.absolute.white
  %iframe{src:"https://player.vimeo.com/video/169288453?api=1", width:"100%", height:"100%", frameborder:"0", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: ""}

#action-path.bg-white.max-width-4.mx-auto.my4
  .clearfix
    .max-width-3.mx-auto
      %h1.mb0.center Your clean energy action path starts here
      %p.mt1.mb4.center.max-width-2.mx-auto We believe changing energy sources from dirty fossil fuels to clean renewable energy will have a substantial, positive impact

    .sm-col.sm-col-4.center.mb3.sm-mb0.px2.line-height-1
      =image_tag "windmill_solar_panel_icon.svg", class: 'mb2'
      %h2.m0 1. Switch from Dirty to Clean Electricity
      %p.h4.mt2
        We'll help you switch your electricity
        %br.sm-hide
          source to 100% clean power

    .sm-col.sm-col-4.center.mb3.sm-b0.px2.line-height-1
      =image_tag "lightbulb_outlet_icon.svg", id: 'lightbulb-outlet-icon', class: 'mb2'
      %h2.m0 2. Maximize Your Clean Electricity
      %p.h4.mt2
        Next, we'll make your clean
        %br.sm-hide
          electricity super-efficient

    .sm-col.sm-col-4.center.px2.line-height-1
      =image_tag "heatpump_car_icon.svg", id: 'heatpump-car-icon', class: 'mb2'
      %h2.m0 3. Do Life on 100% Clean Energy
      %p.h4.mt2
        Track the progress of your path to a
        %br.sm-hide
          clean energy lifestyle


.bg-gray-05
  .clearfix.max-width-4.mx-auto
    .h1.center Blog
    .h2.center.gray-80 Learn about clean power options

    .col.col-6.blog-card.bg-white
      .clearfix
        .col.col-6.blog-card-image
        .col.col-6.p2
          .bold Solar 101 
          To help you sort through this confustion, we've put together this guide
          .gray-80.bold Read more...
          
    .col.col-6.blog-card.bg-white
      .clearfix
        .col.col-6.blog-card-image
        .col.col-6.p2
          .bold Solar 101 
          To help you sort through this confustion, we've put together this guide
          .gray-80.bold Read more...

    .col.col-6.blog-card.bg-white.my2
      .clearfix
        .col.col-6.blog-card-image
        .col.col-6.p2
          .bold Solar 101 
          To help you sort through this confustion, we've put together this guide
          .gray-80.bold Read more...

    .col.col-6.blog-card.bg-white.my2
      .clearfix
        .col.col-6.blog-card-image
        .col.col-6.p2
          .bold Solar 101 
          To help you sort through this confustion, we've put together this guide
          .gray-80.bold Read more...


.bg-white
  .clearfix.max-width-4.mx-auto.py4
    .h1.center.gray-30 Our community partners



%script{src: "//f.vimeocdn.com/js/froogaloop2.min.js", type: 'text/javascript'}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx3fHcF5OsnzG_Utpl1Zm9dtKCNWxBBpk&libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>

:javascript
  navbarScroll('#FF0000', '#666');
  $(document).ready(function(){
    setTimeout(function(){
      $('.alerts').hide('slow');
    }, 2000);

    //homepage video js
    var iframe = $('iframe')[0];
    var player = $f(iframe);
    // When the player is ready/loaded, add a finish event listener
    player.addEvent('ready', function() {
        player.addEvent('finish', onFinish);
    });

    function onFinish(id) {
      $('#video-modal').fadeOut();
      player.api('unload');
      $('body').removeClass('lock-position');
    }
    $('#hp-video-placeholder, .fa-play-circle').on('click', function(){
      $('#video-modal').fadeIn();
      $('body').addClass('lock-position');
      player.api('play');
    });

    $('#close-modal').on('click', function(){
      $('#video-modal').fadeOut();
      player.api('unload');
      $('body').removeClass('lock-position');
    });
  });
