
Context
REFERENCE

Top-Level API
Component API
Component Specs and Lifecycle
Supported Tags and Attributes
Event System
DOM Differences
Special Non-DOM Attributes
Reconciliation
React (Virtual) DOM Terminology
FLUX

Flux Overview
Flux TodoMVC Tutorial
TIPS

Introduction
Inline Styles
If-Else in JSX
Self-Closing Tag
Maximum Number of JSX Root Nodes
Shorthand for Specifying Pixel Values in style props
Type of the Children props
Value of null for Controlled Input
componentWillReceiveProps Not Triggered After Mounting
Props in getInitialState Is an Anti-Pattern
DOM Event Listeners in a Component
Load Initial Data via AJAX
False in JSX
Communicate Between Components
Expose Component Functions
this.props.children undefined
Use React with Other Libraries
Dangerously Set innerHTML
Tutorial Edit on GitHub
We'll be building a simple but realistic comments box that you can drop into a blog, a basic version of the realtime comments offered by Disqus, LiveFyre or Facebook comments.

We'll provide:

A view of all of the comments
A form to submit a comment
Hooks for you to provide a custom backend
It'll also have a few neat features:

Optimistic commenting: comments appear in the list before they're saved on the server so it feels fast.
Live updates: other users' comments are popped into the comment view in real time.
Markdown formatting: users can use Markdown to format their text.
Want to skip all this and just see the source?
It's all on GitHub.

Running a server
In order to start this tutorial, we're going to require a running server. This will serve purely as an API endpoint which we'll use for getting and saving data. In order to make this as easy as possible, we've created a simple server in a number of scripting languages that does exactly what we need it to do. You can view the source or download a zip file containing everything needed to get started.

For sake of simplicity, the server we will run uses a JSON file as a database. You would not run this in production but it makes it easy to simulate what you might do when consuming an API. Once you start the server, it will support our API endpoint and it will also serve the static pages we need.

Getting started
For this tutorial, we're going to make it as easy as possible. Included in the server package discussed above is an HTML file which we'll work in. Open up public/index.html in your favorite editor. It should look something like this (with perhaps some minor differences, we'll add an additional <script> tag later):

<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel" src="scripts/example.js"></script>
    <script type="text/babel">
      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.
    </script>
  </body>
</html>