.mx-auto.relative
  .page-header-image.bg-blue
  .absolute.max-width-3.bg-white.left-0.right-0.top-0.mx-auto{style: 'margin-top: 100px;'}
    = image_tag "http://placehold.it/150x150"
    .h1= "#{@profile.first_name} #{@profile.last_name}"
  .bg-gray-05
    %p content
    %p content
    %p content
    %p content
    %p content