-content_for :navbar_class do
  bg-transparent fixed white sm-col-12

.clearfix.max-width-4.mx-auto.center{style: 'height:65vh;'}
  .pt4{style: 'margin-top: 60px;'}
    %h1 Trying to access your action dashboard?
    %p MyDomino.com has been updated
    %p 
      ="An email has been sent to #{@db.lead_email} with instructions on how to access your action dashboard!"
:javascript
$(document).ready(function(){
  $('.navbar-element').css('color', '#666666');
  navbarScroll('#666666', '#00CCFF');
});
