$('#newsletter-email').val('');
$('#newsletter-email').after('<p class=\"blue my0\" id=\"msg-subscription\">Thanks for signing up!</p>'); 
setTimeout(function(){
  $('#msg-subscription').slideUp();
}, 4000);