.clearfix.mx-auto.pb4
  .page-header-image.flex.items-center.bg-gray-05
    .max-width-3.mx-auto
      .h1.light.center Our Partners
  %section.my4
    .h2.light.center Non-Profits
    .flex.flex-column.flex-wrap.sm-row.max-width-3.mx-auto.mt2
      =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
