-content_for :navbar_class do
  navbar-overlay logo-only

.solar.hero
  .container
    .row
      .col-xs-12.col-sm-6
        %h1.dynamic{style: "margin-bottom: 20px;"} What is the best solar company?
        .transparent
          =render 'leads/simple_form', button_text: "Ask an Expert", button_class: 'pull-left btn blue uppercase'
    .row
      .col-xs-12.text-center{style: "padding-top: 40px;"}
        =link_to anchor: 'ready-for-solar' do
          .glyphicon.glyphicon-chevron-down.large
#ready-for-solar.granite.padding{style: "  font-size: 1.4rem;line-height: 2.5rem;"}
  .container
    .row
      .col-xs-12
        %h2
          Ready to go solar -- but don't want pressure from salespeople or confusing quotes?
        We're green energy gurus with your best interests at heart. We aren't salespeople. We're guides who help you save energy, money, and time -- and it's 100% free.
  .container
    .row
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;color: #FFF;"}
          20%
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer
          %br
          savings per month
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;color: #FFF;"}
          3wks
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer time
          %br
          from concept to contract
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;color: #FFF;"}
          7.2tons
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer carbon
          %br
          reduction per month
.container
  .row
    .col-xs-12
      %h1.text-center{style: "padding: 100px 0px;color:#333;"} We give you...
.container{style: "padding: 0px 0px 100px;"}
  .row
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('message.svg')
      Unbiased answers to your questions about solar companies, quotes, tax credits, permitting, and financing.
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('assessment.svg')
      An assessment of your home and energy needs. If solar isn’t a good fit, we’ll let you know.
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('compass.svg')
      Help getting quotes, financing, and cutting the red tape. We make solar easy & guide you through the process.
.granite
  .container
    .row
      .col-xs-12.col-md-5.col-lg-5.testimonial-image{style: "min-height: 460px;background-image: url(\"#{image_path('testimonial.jpg')}\");background-size: cover;background-position: top center;"}
      .col-xs-10.col-xs-offset-1.col-md-7.col-md-offset-0.col-lg-6.col-lg-offset-1{style: "padding-top:40px;padding-bottom:40px;"}
        %h4.uppercase Domino Testimonials
        %h3{style: "padding: 50px 0px;max-width: 720px;"}
          &#8220;I wanted to go solar, but I wasn't sure if it made sense or which company to go with. The Domino concierge service was exactly what I needed.&#8221;
        .byline
          Julie C.
          %br
          %em Sebastopol, California
.container{style: "overflow: hidden;"}
  .row{ style: "padding: 40px 0px 20px; "}
    .col-xs-12.col-sm-5
      %h3.uppercase.blue-text{style: "color: #333"} How Domino Works

      Solar companies spend a lot of money to find customers. If you choose one of our partners because it's a great deal, they give us a referral fee for finding them a customer. 
      %strong
        Our bottom line is creating 1 billion actions toward our clean energy future.
    .col-sm-6.col-sm-offset-1.hidden-xs
      =image_tag('penguin_vertical')
.granite.padding
  .container
    .row
      .col-xs-12
        %h2.text-center.uppercase{style: "margin-bottom: 20px;"}
          Talk to a Domino Savings Concierge
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        =render 'leads/simple_form', namespace: 'bottom'