-content_for :navbar_class do
  navbar-roll-down navbar-overlay logo-only

.solar.hero
  .container
    .row
      .col-xs-12.col-sm-6
        %h1.dynamic{style: "margin-bottom: 20px;"} What is the best solar company?
        .transparent
          =render 'leads/simple_form', button_text: "Ask an Expert", button_class: 'pull-left btn blue uppercase'
    #bottom.row
      .col-xs-12.text-center{style: "padding-top: 40px;"}
        =link_to anchor: 'bottom' do
          .glyphicon.glyphicon-chevron-down.large
#ready-for-solar.seafoam.padding{style: "  font-size: 1.4rem;line-height: 2.5rem;"}
  .container
    .row
      .col-xs-12
        %h2
          You're ready to go solar -- but you don't want pressure from salespeople or confusing quotes.
        We're green energy gurus with your best interests at heart. We aren't salespeople. We're guides who help you save energy, money, and time -- and it's 100% free.
  .container
    .row
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;"}
          20%
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer
          %br
          savings per month
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;"}
          3wks
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer time
          %br
          from concept to contract
      .col-xs-12.col-sm-4.text-center
        %span.bold{style: "font-weight: bold; font-size: 50px;line-height: 40px;margin-top:40px;display: block;"}
          7.2tons
        .caption{style: "font-size: 15px;line-height: 18px;letter-spacing: .09rem;"}
          Average customer carbon
          %br
          reduction per month
.container
  .row
    .col-xs-12
      %h1.text-center{style: "padding: 100px 0px;color:#333;"} We Give You...
.container{style: "padding: 0px 0px 100px;"}
  .row
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('Message.svg')
      Unbiased answers to your solar company, quote, tax credit, permitting, contracts, and financing questions.
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('assessment.svg')
      An assessment of your family and home life. If solar isn't a good fit, we'll let you know.
    .col-xs-12.col-sm-4{style: "margin-bottom:30px;"}
      .icon{style: "min-height: 175px;"}
        =embedded_svg('compass.svg')
      Help quoting, financing, and cutting the red tape. We make going solar easy, guiding you through the process.
.row.seafoam
  .col-xs-12.col-md-5.testimonial-image
    =image_tag('david_pic.jpg')
  .col-xs-10.col-xs-offset-1.col-md-7.col-md-offset-0{style: "padding-top: 30px;padding-bottom: 30px;"}
    %h4.uppercase Domino Testimonials
    %h2{style: "padding: 50px 0px;"}
      "With very little effort on my part, I'll be saving hundreds a month and using clean energy."
    .byline
      David H.
      %br
      %em San Jose, California
.container{style: "overflow: hidden;"}
  .row{ style: "padding: 90px 0px; "}
    .col-xs-12.col-sm-5
      %h3.uppercase.blue-text{style: "color: #333"} How Domino Works
      We make a small referral free from the vendors you choose to work with, at no additional cost to you. This referral fee costs the vendors less than acquiring customers in other ways, so you save cold hard cash. Our goal is to empower you to take action. 
      %strong
        Our bottom line is creating 1 billion actions toward our clean energy future.
    .col-sm-5.hidden-xs
      =embedded_svg('penguin_no_logo.svg', style: "position: absolute; width: 700px; top: -100px; height: 600px;")
.seafoam.padding
  .container
    .row
      .col-xs-12
        %h2.text-center.uppercase{style: "margin-bottom: 20px;"}
          Talk to a Domino Savings Concierge
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        =render 'leads/simple_form'


