.max-width-4.mx-auto.bg-gray-1.my4
  .max-width-2.mx-auto.p4.line-height-2.gray-5
    %h1.mt0 We are sorry. We could not process your request ....
    %h2.line-height-2
      The error message is : 
      = @err_mesg
    
    = link_to root_path do 
      .btn.btn-md.btn-primary.btn-primary--hover
        Back to home