.m1.p3.bg-white.rounded{style: 'flex: 1'}
  .flex.flex-column.justify-between.fill-y
    .flex.items-center
      =image_tag "icons/i-concierge.png", :class => "mr1"
      %h2.gray-7.bold.inline.line-height-1
        Hungry for more?
    .p.line-height-4.gray-6.my2.center
      Your concierge can help you slay the carbon calories, plus give you a taste for LED bulbs, clean power, fossil-free driving, and much more!
    %div
      .h4.mb0.center
        Talk to your concierge
      .h3.mt1.mb2.line-height-2.center
        =link_to "tel:+18009792215", class:"black line medium" do
          Call 800-979-2215