.m1.p3.bg-white.rounded{style: 'flex: 1'}
  .flex.flex-column.justify-between.fill-y
    .flex.items-center
      =image_tag "icons/i-check.png", :class => "mr1"
      %h2.gray-7.bold.inline.line-height-1
        Track your progress
    .p.line-height-4.gray-6.my2.sm-mx4.center
      Keep track of your progress on your customized recommendations and products. 
    %div
      .h3.mt1.mb2.line-height-2.center
        =link_to "/dashboard", class:"black line medium" do
          Go to my Dashboard
