.m1.p3.bg-white.rounded{ style: 'flex: 1', data: {intro: 'Hello step five!'}}
  .flex.items-center
    =image_tag "icons/i-wallet.png", :class => "mr1"
    %h2.gray-90.bold.inline.line-height-1
      Coins back in your pocket
  %p.line-height-4.gray-80.my1.sm-mb4.center Get exclusive discounts on sustainable living products
  .clearfix.flex.items-center
    %div
      = image_tag "imperfect_produce", class: "fit"
    %div
      = image_tag "arcadia_power", class: "fit"
    %div
      = image_tag "farm_fresh", class: "fit"
  %h3.mb1.line-height-1.gray-60.medium.center
    =link_to "articles/coins-in-your-pocket", class:"black line medium" do
      See discount details