%nav.clearfix.bg-blue.white.fixed.top-0.col-12{style: "z-index: 1000"}
  .container
    .sm-col.p2
      = link_to "Concierge Menu", dashboards_path, class: "white"
    .sm-col-right.p2
      %a.white{data: {toggle: 'modal', target: "#new-recommendation"}}
        Add Recommendation
