%nav.clearfix.bg-white.fixed.top-0.col-12
  .container
    .sm-col.p2
      = link_to "Concierge Menu", dashboards_path
    .sm-col-right.p2
      %a{data: {toggle: 'modal', target: "#new-recommendation"}}
        Add Recommendation