=simple_form_for @dashboard do |form|
  .clearfix.mb2
    =form.label :lead_name, "Lead Name", class: "block"
    =form.text_field :lead_name, class: "col-12 field"
  .clearfix
    =form.label :lead_email, "Lead Email"
    =form.text_field :lead_email, class: "field col-12"
  .clearfix
    =form.submit "Add User", class: 'btn bg-blue white h3 px3 py2 rounded mt3'
