.container.dashboards
  .row
    .col-xs-12
      .row
        -@dashboards.each do |dashboard|
          .col-xs-12.col-sm-6.col-md-3.text-center
            .dashboard-list
              .avatar
                =link_to dashboard_path(dashboard), target: 'blank' do
                  =gravatar_image_tag(dashboard.lead_email, gravatar: { size: 150, default: "http://mydomino.com/assets/default_avatar.png" })
              .h4.uppercase
                =dashboard.lead_name
              %br
              =dashboard.recommendations.done.count
              \/
              =dashboard.recommendations.count
              %br
              =link_to "Delete", dashboard_path(dashboard), method: "DELETE", data: {confirm: "Are you sure?"}
        .col-xs-12.col-sm-6.col-md-3.text-center.dashboard-list
          =link_to new_dashboard_path do
            .new_storefront{style: "padding: 80px 0px; border: 4px dashed #DDD;border-radius: 4px;"}
              .icon
                .glyphicon.glyphicon-plus{style: 'background-color: #02CCFF; color: #FFF;font-size: 2rem; padding: 8px 8px 10px 10px;border-radius: 50%;'}
              Create a new dashboard