<div>
  <p class="gray-60 mb0"><%= format_post_date(@post_date) if @post_date != nil %></p>
  <h1 class="black mt0 mb1"><%= @title.try(:html_safe) %></h1>
  <% if @author != nil %>
    <h3 class="gray-80 my1">By <%= @author %></h3>
  <% end %>
  <%= image_tag(@feature_img) %>
</div>
