
<div class="justify">

  <!-- %= truncate(@post_content, :length => 120).html_safe % -->

  <%= render "post_intro" %>
  <div class="exrp"><h3> To read the whole story, please <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></h3></div>

</div>


