
<div class="max-width-3 mx-auto px2 sm-px3 mb3 sm-mb4">
  <%= render "post_intro" %>
  <div class="desc mb3 sm-mb4">
  	<%= @post_content.try(:html_safe) %>
  </div>
  <%= render "subscribe_box" %>
</div>