// Converted Variables

$border-radius: 3px !default;
$border-circle: 3em;
$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;

// Custom Media Query Variables


/* Basscss Btn Outline */



/* Btn Primary */

.btn-primary {
  border-radius: $border-circle;
}
