// Converted Variables

$border-width: 1px !default;
$bold-font-weight: bold !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: $bold-font-weight !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1.5rem !default;
$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;

$border-radius: 3px !default;
$border-circle: 50%;

/* Base Btn */

.btn {
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: $button-line-height;
  margin: 0;
  height: auto;
  border: $border-width solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn-sm {
  @extend .btn;
  padding: $button-padding-y $button-padding-x;
}
.btn-md {
  @extend .btn;
  padding: $button-padding-y * 2 $button-padding-x * 1.3333 ;
}
.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: $darken-2;
  box-shadow: 0 0 0 3px $darken-3;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Primary Button */


/* Secondary Button */
.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: $border-radius;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem $darken-1;
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem $darken-2,
    inset 0 3px 4px 0 $darken-3,
    0 0 1px $darken-2;
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}

