// Converted Variables

$border-width: 1px !default;
$bold-font-weight: bold !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: inherit !default;
$button-line-height: 1.125rem !default;
$button-sm-text: 1rem;
$button-md-text: 1.5rem;
$button-lg-text: 2rem;
$button-padding-y: .5rem !default; /* 8px */
$button-padding-x: 1rem !default;/* 16px */
$darken-1: rgba(0, 0, 0, .0625) !default;
$darken-2: rgba(0, 0, 0, .125) !default;
$darken-3: rgba(0, 0, 0, .25) !default;

$border-radius: 3px !default;
$border-circle: 32px;

/* Base Btn */

.btn {
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  height: auto;
  border: $border-width solid transparent;
  border-radius: $border-circle;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn-sm {
  padding: $button-padding-y $button-padding-x * 1.5;
  font-size: $button-sm-text;
  line-height: $button-sm-text;
}
.btn-md {
  padding: $button-padding-y $button-padding-x * 2;
  font-size: $button-md-text;
  line-height: $button-md-text;
}
/*width here might need to be larger */
.btn-lg {
  padding: $button-padding-y * 2 $button-padding-x * 3;
  font-size: $button-lg-text;
  line-height: $button-lg-text;
}

.btn:hover {
  text-decoration: none;
}
/* needs accessibility design consideration */
.btn:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Primary Button */
.btn-primary {
  background-color: $blue;
  color: $white;

}

/* Secondary Button */
.btn-secondary {
  background-color: $white;
  border-color: $gray-80;
  color: $gray-80;
}

/* Inherited from Basscss****

Button Outline */
.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: $border-radius;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem $darken-1;
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem $darken-2,
    inset 0 3px 4px 0 $darken-3,
    0 0 1px $darken-2;
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}
