/* BEGIN styles for FAT gauge */
#gauge {
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: block;
    margin: auto;
    /*margin-bottom: -6px;*/
}

/* END styles for FAT gauge */


/* Begin FAT graph styles */
.pointer {
  cursor: pointer;
}
.chart {
  vertical-align: top;
}
.chart rect {
  /*fill: steelblue;*/
}
.chart text {
  fill: black;
  font: 16px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.x2.axis path {
  stroke: lightgrey;
}
/* END FAT graph styles */