/* BEGIN styles for FAT gauge */
#gauge {
    background-color: white;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    display: block;
    margin: auto;
}

/* END styles for FAT gauge */


/* Begin FAT graph styles */
.pointer {
  cursor: pointer;
}
.chart {
  vertical-align: top;
}
.chart rect {
  /*fill: steelblue;*/
}
.chart text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.x2.axis path {
  stroke: lightgrey;
}
/* END FAT graph styles */
