/* BEGIN styles for FAT gauge */
#gauge {
    background-color: $gray-05;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    display: block;
    margin: auto;
    transition: opacity 0.5s linear;
}

/* END styles for FAT gauge */

/* Begin FAT graph styles */
.chart { vertical-align: top; }

.chart text {
  fill: black;
  text-anchor: middle;
}

.axis text { font-size: 16px;}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path { display: none; }

.x.axis text { fill: #666; }

.x2.axis path { stroke: lightgrey; }
/* END FAT graph styles */

#food-picker, #results-summary {
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .top-axis-label { display: none; }
}
