// Radio buttons

// Namespace custom radio components, .radio
.radio {
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-size: 16px;
  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #979797;
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }

  input[type=radio]:checked + label:after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #00ccff;
    position: absolute;
    left: 4px;
    top: 4px;
  }

  input[type=radio]:checked + label:before {
    border-color: $blue;
  }
}

// Custom styling for jQuery UI slider widget
.slider.ui-slider {
  border-color: #eaeaea;
  & > div{ background: #00CCFF }

  .ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
    top: -0.5em;
    border-radius: 16px;
  }
}
