// Input fields
.text-input {
  width: 100%;
  height: 42px;
  border-radius: $border-radius;
  border: 1px solid #666;
  outline: none;
  transition: all 0.30s ease-in-out;
  &:focus {
    border-color: $blue;
  }
  &::placeholder {
    color: #666666;
    font-weight: 200;
  }
}

// Error states
input.error { border-color: #D65A5A!important; }

// For parsley error messages
.invalid-message { color: #D65A5A; }

// Select box
.select-box {
  border: 1px solid #666;
  height: 42px;
  -webkit-appearance: none;
  width: 100%;
  padding-left: 10px;
  border-radius: $border-radius;
   &:focus {
    border-color: $blue;
  }
}
// Radio buttons
// Namespace custom radio components, .radio
.radio {
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
    font-size: 16px;
  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #979797;
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }

  input[type=radio]:checked + label:after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $blue;
    position: absolute;
    left: 4px;
    top: 4px;
  }

  input[type=radio]:checked + label:before {
    border-color: $blue;
  }
}

// Custom styling for jQuery UI slider widget

.slider{
  border-color: #eaeaea;
  & > div{ background: $blue; }

  .ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
    top: -0.5em;
    border-radius: 999px;
    outline: none;
    background: $white;

  }
}

.slider-l{
    height: 1.25rem;

  .ui-slider-handle{
    width: 2.5rem;
    height: 2.5rem;
    top:-0.8em;
    margin-left:-1.5rem;
  }

}
