// Radio buttons

// Namespace custom radio components, .radio
.radio {
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 12px;
  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 8px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 40px;
    text-align: center;
    line-height: 18px;
  }
}