-content_for(:logo_class) do
  blue

.container
  .clearfix
    .col-12.center
      =link_to "Step 1", step_1_get_started_path
      .fa.fa-chevron-right.gray.px2.inline-block
      .bold.inline-block Step 2
      .fa.fa-chevron-right.gray.px2.inline-block
      =link_to "Step 3", step_3_get_started_path
  .clearfix
    .col.col-12.center
      %h2
        I see you're interested in our offerings.
        %br
        Let's continue with some more details.
      %p
        We use this information to make better recommendations for you.
    .col.col-12
      %hr
  =simple_form_for @get_started, url: step_3_get_started_path, method: 'GET' do |form|
    .clearfix.mt4.mb2
      .md-show.md-col.md-col-3
        &nbsp;
      .col.col-12.md-col-6
        .clearfix.mxn2
          .col.col-12.px2
            =form.label :area_code
            =form.input_field :area_code, class: "field col-12"
          .col.col-12.px2
            %h4{style:'font-weight:normal;color:#333;padding: 32px 0 8px'} What is your average electricity bill?
            =form.hidden_field :average_electric_bill
          .col-12.col.sm-col-10.px2.py1
            #slider
          .col-12.col.sm-col-2.px2
            %h1.mt0.mb0.blue.inline-block#amount $0
    .col-12.right-align.mb3
      =form.submit 'Next', class: "btn bg-blue white caps rounded"


:javascript
  $(function() {
    $( "#slider" ).slider({
      value:#{@get_started.average_electric_bill || 0},
      min: 0,
      max: 500,
      step: 25,
      slide: function( event, ui ) {
        $( "#amount" ).text( "$" + ui.value );
        $('input[name="get_started[average_electric_bill]"]').val(ui.value);
      }
    });
    $( "#amount" ).text( "$" + $( "#slider" ).slider( "value" ) );
  });
