%nav.navbar.navbar-default{class: 'ultra-light-gray' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li
          =link_to '#' do
            %span.circle.light-gray
              1
            Interests
        %li
          =link_to '#' do
            %span.circle.light-gray
              2
            Home Details
        %li
          =link_to '#' do
            %span.circle.light-gray
              3
            Dashboard



.container
  .row
    .col-xs-12.col-md-8.col-md-push-2.text-center{style: 'padding-top: 120px;padding-bottom: 100px;'}
      %h3{style: 'color: #333;'}
        Almost done...
      %p 
        We just need some basic information so we can contact you to send your dashboard. The dashboard will show you 
        %strong
          products suggestions
        &ndash; personalized for you!
    .col-xs-12
      %hr
  .row
    .col-xs-12.col-md-8.col-md-push-2
      =simple_form_for @get_started, url: get_started_path do |form|
        =form.input :first_name
        =form.input :last_name
        %h4 What is your preferred method of contact?

        .btn-group{role: 'group'}
          #email.btn.btn-transparent{style: 'border: 1px solid #ccc;'}
            Email
          #phone.btn.btn-transparent.selected{style: 'border: 1px solid #ccc;'}
            Phone

    .col-xs-12.text-right
      =link_to 'Next', step_3_get_started_path, class: "btn btn-default"
