%nav.navbar.navbar-default.narrow{class: 'ultra-light-gray' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li
          =link_to '#' do
            %span.circle.light-gray
              1
            Interests
        %li.selected
          =link_to '#' do
            %span.circle.light-gray
              2
            Home Details
        %li
          =link_to '#' do
            %span.circle.light-gray
              3
            Dashboard



.container
  .row
    .col-xs-12.text-center{style: 'padding-top: 200px;padding-bottom: 100px;'}
      %h3{style: 'color: #333;'}
        I see you're interested in our offerings.
        %br
        Let's continue with some more details.
      %p 
        We use this information to make better recommendations for you.
    .col-xs-12
      %hr
  .row
    .col-xs-12.col-md-6.col-md-push-3
      =simple_form_for @get_started, url: get_started_path do |form|
        =form.input :area_code
        %h4{style: 'color: #333;'} What is your average electricity bill?
        #slider.col-xs-12.col-sm-10{style: 'margin: 20px 0px;padding: 0px;'}
        #amount.col-xs-12.col-sm-2{style: 'color: #00CCFF; font-size: 2rem;font-weight: bold;margin: 10px 0px;'} $0
    .col-xs-12.text-right
      =link_to 'Next', step_3_get_started_path, class: "btn btn-default"

:javascript
  $(function() {
    $( "#slider" ).slider({
      value:100,
      min: 0,
      max: 500,
      step: 50,
      slide: function( event, ui ) {
        $( "#amount" ).text( "$" + ui.value );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
  });