%nav.navbar.navbar-default.narrow{class: 'ultra-light-gray' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li
          =link_to step_1_get_started_path do
            %span.circle.light-gray
              .glyphicon.glyphicon-ok
            Interests
        %li.selected
          =link_to '#' do
            %span.circle.light-gray
              2
            Home Details
        %li
          =link_to step_3_get_started_path do
            %span.circle.light-gray
              3
            Dashboard



.container
  .row
    .col-xs-12.text-center{style: 'padding:160px 0 56px'}
      %h2{style: 'color: #333;'}
        I see you're interested in our offerings.
        %br
        Let's continue with some more details.
      %p
        We use this information to make better recommendations for you.
    .col-xs-12
      %hr.pd-64
  .row
    =simple_form_for @get_started, url: step_3_get_started_path, method: 'GET' do |form|
      .col-xs-12.col-md-6
        =form.input :area_code
        =form.hidden_field :average_electric_bill
        %h4{style:'font-weight:normal;color:#333;padding: 32px 0 8px'} What is your average electricity bill?
        #slider.col-xs-12.col-sm-10{style: 'margin: 20px 0px;padding: 0px;'}
        #amount.col-xs-12.col-sm-2{style: 'color: #00CCFF; font-size: 2rem;font-weight: bold;margin: 10px 0px;'} $0
      .col-xs-12.text-right
        =form.submit 'Next', class: "btn blue btn-default uppercase",style:'margin: 56px 0 160px;letter-spacing:4px;'


:javascript
  $(function() {
    $( "#slider" ).slider({
      value:#{@get_started.average_electric_bill || 0},
      min: 0,
      max: 500,
      step: 25,
      slide: function( event, ui ) {
        $( "#amount" ).text( "$" + ui.value );
        $('input[name="get_started[average_electric_bill]"]').val(ui.value);
      }
    });
    $( "#amount" ).text( "$" + $( "#slider" ).slider( "value" ) );
  });
