-content_for(:logo_class) do
  blue

.container
  .clearfix
    .col-12.center.mt4.mb2
      %h1.mb0{style: 'color: #333;'} Let's talk about what interests you...
      %p
        Knowing your interest allows us to give you product recommendations at the end.
    .col-12
      %hr.mt4.mb3
    .col.col-12
      %h3.py3
        Choose the offering(s) that you would like.
        %span{style: 'color:#BBB'}
          (Select all that apply)
  .clearfix.mxn2
    .col.col-12.md-col-6.center.px2
      #solar.panel.selectable.border-3.rounded.p3{class: ('selected' if @get_started.solar), style: 'min-height: 400px;'}
        %h3.py2 Solar
        =embedded_svg('line_solar.svg', style: 'fill-rule: evenodd;clip-rule: evenodd;stroke-linejoin: round;stroke-miterlimit: 1.41421;max-height: 200px;')
        %p{style:'text-align:left'} We help you pick out the right solar choice for you. Whether you already have quotes or not, we'll assist you all the way.
    .col.col-12.md-col-6.center.px2
      #energy-analysis.panel.selectable.border-3.rounded.p3{class: ('selected' if @get_started.energy_analysis), style: 'min-height: 400px;'}
        %h3{style: 'color: #333;padding-bottom:16px'} Energy Analysis
        =embedded_svg('line_energy.svg', style: 'fill-rule: evenodd;clip-rule: evenodd;stroke-linejoin: round;stroke-miterlimit: 1.41421;max-height: 200px;')
        %p{style:'text-align:left'} A brief analysis of your current energy usage. We'll customize a plan to help you save money.
  .clearfix.mt3.mb3
    .col.col-12.right-align
      =simple_form_for :get_started, method: 'GET', url: step_2_get_started_path do |lead|
        %div{style: 'display: none;'}
          =lead.input :solar, as: :radio_buttons
          =lead.input :energy_analysis, as: :radio_buttons
        =lead.submit 'Next', class: "btn rounded caps bg-blue white "
:javascript
  function toggle_solar()
  {
    if($('input[name="get_started[solar]"]:checked').val() !== 'true')
    {
      $('#get_started_solar_true').prop("checked", "true")
      $('#solar').addClass('selected');
    }
    else
    {
      $('#get_started_solar_false').prop("checked", "true");
      $('#solar').removeClass('selected');
    }
  }
  function toggle_energy_analysis()
  {
    if($('input[name="get_started[energy_analysis]"]:checked').val() !== 'true')
    {
      $('#get_started_energy_analysis_true').prop("checked", "true")
      $('#energy-analysis').addClass('selected');
    }
    else
    {
      $('#get_started_energy_analysis_false').prop("checked", "true");
      $('#energy-analysis').removeClass('selected');
    }
  }
  $(document).ready(function()
  {
    $('#solar').click(function(){
      toggle_solar();
    });
    $('#energy-analysis').click(function(){
      toggle_energy_analysis();
    })
  });
