-content_for(:logo_class) do
  blue

.container
  .clearfix
    .md-show.md-col.md-col-2
      &nbsp;
    .col.col-12.md-col-8.center
      %h2
        Almost done...
      %p
        We just need some basic information so we can contact you to send your dashboard. The dashboard will show you
        %strong
          product suggestions
        &ndash; personalized for you!
  .clearfix
    .col-12
      %hr
  =simple_form_for @lead, url: finish_get_started_path do |form|
    .clearfix
      .col-12.md-col-6.md-col
        =form.hidden_field :get_started_id
        .clearfix.mxn2
          .col-12.md-col.md-col-6.px2
            =form.label :first_name
            =form.input_field :first_name, class: 'field col-12'
          .col-12.md-col.md-col-6.px2
            =form.label :last_name
            =form.input_field :last_name, class: 'field col-12'
        %h4
          What is your preferred method of contact?
        -if !@lead.errors.messages[:contact_method].nil?
          .red.border.rounded.p2.mb2
            =@lead.errors.messages[:contact_method].first
        .inline-block.clearfix
          %button#email.left.btn.rounded-left.bg-blue.white{type: 'button'}
            Email
          %button#phone.left.btn.rounded-right.border-left.bg-blue.white{type: 'button'}
            Phone
        #email-field{style: "display: none"}
          =form.label :email
          =form.input_field :email, class: 'field col-12'
          .py2
            =form.label :subscribe_to_mailchimp do
              =form.check_box :subscribe_to_mailchimp
              Subscribe me to the Domino newsletter
        #phone-field.clearfix{style: "display: none"}
          =form.label :phone
          =form.input_field :phone, class: 'field col-12'
    .clearfix.mt2.mb4
      .col-12.right-align
        =form.submit 'Next', class: 'btn bg-blue white rounded caps'

:javascript
  $('#lead_phone').formance('format_phone_number');
  $('#email').click(function()
  {
    $('#phone-field').hide();
    $('#email-field').show();
    $('#email').removeClass('selected');
    $('#phone').removeClass('selected');
    $('#email').addClass('selected');
  });
  $('#phone').click(function()
  {
    $('#email-field').hide();
    $('#phone-field').show();
    $('#phone').removeClass('selected');
    $('#email').removeClass('selected');
    $('#phone').addClass('selected');
  });