-content_for :navbar_class do
  blue
-content_for :logo_class do
  blue
.container
  .clearfix
    .sm-show.sm-col.sm-col-2.py1
    .col.col-12.sm-col-8.center
      .clearfix.mt4.mb2
        -if !@lead.get_started.energy_analysis || !@lead.get_started.solar
          .sm-show.sm-col.sm-col-3.py1

        -if @lead.get_started.solar
          .col.col-12.sm-col-6
            =embedded_svg('line_solar.svg', style: 'fill-rule: evenodd;clip-rule: evenodd;stroke-linejoin: round;stroke-miterlimit: 1.41421;max-height: 200px;')
        -if @lead.get_started.energy_analysis
          .col.col-12.sm-col-6
            =embedded_svg('line_energy.svg', style: 'fill-rule: evenodd;clip-rule: evenodd;stroke-linejoin: round;stroke-miterlimit: 1.41421;max-height: 200px;')
  .clearfix
    .sm-show.sm-col.sm-col-2.py1
    .col.col-12.sm-col-8.center.center.mt2.mb3
      .h0.mt0
        Thanks
        =@lead.first_name.capitalize
        =@lead.last_name.capitalize

      %h1
        ="We will contact you soon#{@lead.interests_as_string}"
    .col-xs-12.col-md-8.col-md-push-2.center
      =link_to root_path do
        %btn.btn.p3.outline.caps.blue.border.rounded.mb4
          Back to Home
:javascript
  $(document).ready(function()
  {
    track_lead_creation();
  });