/***

Anything that is defined by HTML itself goes here.

****/

body {
  font-family: 'proxima-nova',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; /*change to medium, but needs typekit support*/
}

p {
  color:#333;
}

svg {fill: currentColor;}

/*
  Box Sizing
  Per the argument made by http://tachyons.io/docs/layout/box-sizing/
  "Box sizing makes sure that when you declare a width,
  that is the width of the element,
  regardless of how much border or padding you add to the element."
*/

html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}