// Text Colors
.white { color: $white; }
.black { color: $black; }
.gray-7 { color: $gray-7; }
.gray-6 { color: $gray-6; }
.gray-5 { color: $gray-5; }
.gray-4 { color: $gray-4; }
.gray-3 { color: $gray-3; }
.gray-2 { color: $gray-2 }
.gray-1 { color: $gray-1; }

.blue { color: $blue; }
.blue--light {color: $blue--light;}
.red { color: $red; }
.orange { color: $orange; }
.green { color: $green; }
.aqua {color: $aqua;}
.leaf {color: $leaf;}


// Background colors
.bg-transparent{ background-color: transparent; }
.bg-white { background-color: $white; }
.bg-gray-1 { background-color: $gray-1; }
.bg-gray-2 { background-color: $gray-2; }
.bg-gray-3 { background-color: $gray-3; }
.bg-gray-5 { background-color: $gray-5; }
.bg-blue { background-color: $blue; }
.bg-blue--light{background-color: $blue--light;}
.bg-red { background-color: $red; }
.bg-navy { background-color: $navy; }
.bg-aqua {background-color: $aqua;}
.bg-leaf {background-color: $leaf;}
.bg-orange {background-color: $orange;}

// Border colors
.border-gray-2 { border-color: $gray-2; }
.border-gray-4 { border-color: $gray-4; }
.border-gray-5 { border-color: $gray-5; }

.border-orange {border-color: $orange;}

//Hover
.blue--hover:hover {
  color: $blue;
}
// Overlays
.overlay {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
  }
  & * { z-index: 1; }
}
.overlay-blue-alpha-75 {
  &::before { background-color: $blue-alpha-75; }
}

// SVG color utilities
/*svg icons*/
.fill-blue path { fill: $blue; }
.fill-blue rect { stroke: $blue; }

.fill-gray-6 path { fill:$gray-6; }
.fill-gray-5 path { fill:$gray-5; }
.fill-gray-4 path {fill: $gray-4; }
.fill-gray-3 path {fill: $gray-3; }
.fill-gray-1 path { fill: $gray-1; }

.fill-black path{ fill: $black; }
.fill-black rect { stroke: $black; }

.fill-white path { fill: white; }
