// Text Colors
.white { color: $white; }
.black { color: $black; }
.gray-90 { color: $gray-90; }
.gray-80 { color: $gray-80; }
.gray-60 { color: $gray-60; }
.gray-30 { color: $gray-30; }
.gray-20 { color: $gray-20; }
.gray-10 { color: $gray-10 }
.gray-05 { color: $gray-05; }

.blue { color: $blue; }
.red { color: $red; }
.orange { color: $orange; }
.green { color: $green; }
.aqua {color: $aqua;}
.leaf {color: $leaf;}


// Background colors
.bg-transparent{ background-color: transparent; }
.bg-white { background-color: $white; }
.bg-gray-05 { background-color: $gray-05; }
.bg-gray-10 { background-color: $gray-10; }
.bg-gray-20 { background-color: $gray-20; }
.bg-gray-60 { background-color: $gray-60; }
.bg-blue { background-color: $blue; }
.bg-red { background-color: $red; }
.bg-navy { background-color: $navy; }
.bg-aqua {background-color: $aqua;}
.bg-leaf {background-color: $leaf;}

// Border colors
.border-gray-10 { border-color: $gray-10; }
.border-gray-30 { border-color: $gray-30; }
.border-gray-60 { border-color: $gray-60; }

//Hover
.blue--hover:hover {
  color: $blue;
}
// Overlays
.overlay {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
  }
  & * { z-index: 1; }
}
.overlay-blue-alpha-75 {
  &::before { background-color: $blue-alpha-75; }
}
