

// Text Colors
.white { color: $white; }
.black { color: $black; }
.gray-90 { color: $gray-90; }
.gray-80 { color: $gray-80; }
.gray-30 { color: $gray-30; }
.gray-60 { color: $gray-60; }

.blue { color: $blue; }
.red { color: $red; }
.orange{ color:$orange; }
