$white: #FFFFFF;
$gray: #C5C5C5;
$blue: #00CCFF;
$navy: #105585;
$charcoal: #666666;
$black-10: rgba(0,0,0,.1);
$black-20: rgba(0,0,0,.2);
$black-30: rgba(0,0,0,.3);

.bg-gray
{
  background-color: $gray;
}
.bg-blue
{
  background-color: $blue;
}
.bg-navy
{
  background-color: $navy;
}
.bg-charcoal
{
  background-color: $charcoal;
}
.bg-transparent
{
  background-color: transparent;
}
.bg-sky-gradient
{
  background-image: linear-gradient(#42c9ff, #aae5fb);
}
.bg-sky-white-gradient
{
  background-image: linear-gradient(#d5f7ff, #ffffff 30%);
}