$white: #FFFFFF;
$cloud: #F9F9F9;
$heather: #F1F1F1;
$charcoal: #666666;
$black: #333333;
$gray: #C5C5C5;
$blue: #00CCFF;
$navy: #105585;
$cerulean:#00A3CC;

//Updated Grays///
$gray-80:#5C5C5C;
$gray-60:#858585;
$gray-30:#C1C1C1;
$gray-20:#D6D6D6;
$gray-10:#EAEAEA;
$gray-05:#F3F3F3;

$black-10: rgba(0,0,0,.1);
$black-20: rgba(0,0,0,.2);
$black-30: rgba(0,0,0,.3);
$red: #FF0000;
$light-red: #D65A5A;
$light-gray: #c5c5c5;

.border-light-gray {border-color: $light-gray;}

.border-solid{border-style: solid;}

.light-gray {color: $light-gray;}

.red {color: $red;}

.bg-red {background-color: $red;}

.black{color: $black;}

.bg-white{background-color: $white;}

.white {color: $white;}

.bg-cloud {background-color: $cloud;}

.bg-heather {background-color: $heather;}

.hover-bg-heather:hover {background-color: $heather;}

.cloud {color: $cloud;}

.bg-gray {background-color: $gray;}
.bg-gray-60 {background-color: $gray-60;}
.bg-gray-10 {background-color: $gray-10;}
.bg-gray-05 {background-color: $gray-05;}

.gray {color: $gray;}

.gray-80 { color: $gray-80}
.gray-60 { color: $gray-60}
.gray-30 { color: $gray-30}
.gray-20 { color: $gray-20}
.gray-10 { color: $gray-10}

.bg-blue {background-color: $blue;}

.blue {color: $blue;}

.border-navy{border-color: $navy}

.bg-navy{background-color: $navy;}

.navy{color: $navy;}
.cerulean{color: $cerulean;}
.bg-cerulean{background-color: $cerulean;}

.bg-charcoal {background-color: $charcoal;}

.charcoal {color: $charcoal;}

.border-charcoal {border-color:$charcoal;}

.bg-transparent{background-color: transparent;}
.bg-sky-gradient {background-image: linear-gradient(#42c9ff, #aae5fb);}
.bg-sky-white-gradient {background-image: linear-gradient(#d5f7ff, #ffffff 30%);}

svg {fill: currentColor;}
