.completion-status-icon
{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $blue;
  display: inline-block;
  position:relative;
  bottom: -3px;
  background-color: #D8D8D8;
}
.recommendation
{
  &:hover
  {
    border-color: $blue;
  }
  min-height: 425px;
}