.completion-status-icon
{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $blue;
  display: inline-block;
  position:relative;
  bottom: -3px;
  background-color: #D8D8D8;
}
.recommendation
{
  &:hover
  {
    border-color: $blue;
  }
  min-height: 425px;
}
.modal
{
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .modal-content
  {
    margin-top: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
  }
}
.modal-bg
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}