.completion-status-icon
{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $blue;
  display: inline-block;
  position:relative;
  bottom: -3px;
  background-color: #D8D8D8;
}
.recommendation
{
  &:hover
  {
    border-color: $blue;
  }
  min-height: 425px;
}
.modal
{
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .modal-content
  {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
  }
}
.modal-bg
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}
.progress
{
  height: 15px;
  overflow: hidden;
}
.progress-bar
{
  min-width: 2%;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.pagination
{
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  .previous_page, .next_page, a, em
  {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: .75em;
  }
  .previous_page, a, em
  {
    float: left;
    border-right: 0px;
  }
  .next_page
  {
    float: right;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}
nav
{
  .nav-bg
  {
    height: 100%;
    background: none;
    display: table;
    z-index: -1;
    .content
    {
      display: none;
    }
  }
  &.open
  {
    height: 100%;
    z-index: 1000;
    .nav-bg
    {
      background-color: rgba(16, 85, 133, .9);z-index:1000;
      position: fixed;
      .content
      {
        display: block;
      }
    }
  }
}
.selectable
{
  &:hover
  {
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  }
  &.selected
  {
    border-color: $blue;
  }
}
.overlay
{
  position: relative;
  &::after
  {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}
.overlay-3
{
  position: relative;
  &::after
  {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.3);
  }
}
.ease-in-out {
  webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ease-in-out-2 {
  webkit-transition: all 0.4s ease-in-out 4s;
  transition: all 0.4s ease-in-out 4s;
}
