/****

component-based css should be avoided as it tends to encourage bloat.
This file is trying to eventually create utlity classes that will build into components.

More on this can be found here:
http://www.jon.gold/2015/07/functional-css/

****/

/* Background Image */

.page-header-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 100px
}

/* Colors
  -removed cerulean because not in-use
 */
$white: #FFFFFF;
$cloud: #F9F9F9;
$heather: #F1F1F1;
$charcoal: #666666;
$black: #333333;
$gray: #C5C5C5;
$blue: #00CCFF;
$navy: #105585;
$cerulean:#00A3CC;

//Updated Grays///
$domino-gray:#666666;
$gray-60:#858585;
$gray-30:#C1C1C1;
$gray-20:#D6D6D6;
$gray-10:#EAEAEA;

$black-10: rgba(0,0,0,.1);
$black-20: rgba(0,0,0,.2);
$black-30: rgba(0,0,0,.3);
$red: #FF0000;
$light-red: #D65A5A;
$light-gray: #c5c5c5;

.border-light-gray {border-color: $light-gray;}

.border-solid{border-style: solid;}

.light-gray {color: $light-gray;}

.red {color: $red;}

.bg-red {background-color: $red;}

.black{color: $black;}

.bg-white{background-color: $white;}

.white {color: $white;}

.bg-cloud {background-color: $cloud;}

.bg-heather {background-color: $heather;}

.hover-bg-heather:hover {background-color: $heather;}

.cloud {color: $cloud;}

.bg-gray {background-color: $gray;}
.bg-gray-60 {background-color: $gray-60;}

.gray {color: $gray;}

.domino-gray { color: $domino-gray}
.gray-60 { color: $gray-60}
.gray-30 { color: $gray-30}
.gray-20 { color: $gray-20}
.gray-10 { color: $gray-10}

.bg-blue {background-color: $blue;}

.blue {color: $blue;}

.border-navy{border-color: $navy}

.bg-navy{background-color: $navy;}

.navy{color: $navy;}


.bg-charcoal {background-color: $charcoal;}

.charcoal {color: $charcoal;}

.border-charcoal {border-color:$charcoal;}

.bg-transparent{background-color: transparent;}
.bg-sky-gradient {background-image: linear-gradient(#42c9ff, #aae5fb);}
.bg-sky-white-gradient {background-image: linear-gradient(#d5f7ff, #ffffff 30%);}


/* Buttons */
.btn
{
  .disabled
  {
    background-color: $gray;
  }
}

.btn-domino {
  /*max-width: 256px;*/
  height:3em;
  padding:1em;
  line-height: 1em;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1rem;
  padding: .5rem 1rem;
  /*margin: 0;*/
  height: auto;
  /*border: 1px solid transparent;*/
  vertical-align: middle;
  -webkit-appearance: none;
}

.btn-onboard-active {
  background-color: #00ccff;
  color: white;
  border: 2px solid #00ccff!important;
}


/* Dashboard Styling */

.recommendation
{
  min-height: 310px;
  &:hover
  {
    border-color: $blue;
  }
}

.index-product
{
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  .hover-show
  {
    display: none;
  }
  &:hover
  {
    .hover-show
    {
      display: block;
    }
    border-color: rgba(0,0,0,.125);
  }

}

.border-hover
{
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  &:hover
  {
    border-color: rgba(0,0,0,.125);
  }
}

.hover-show
{
  display: none;
}

div:hover
{
  &>.hover-show
  {
    display: block;
  }
}

.modal
{
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .modal-content
  {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
  }
  [data-dismiss=modal]:hover
  {
    cursor: pointer;
  }
}
.modal-bg
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

.progress
{
  height: 15px;
  overflow: hidden;
}
.progress-bar
{
  min-width: 2%;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.pagination
{
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  .previous_page, .next_page, a, em
  {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: .75em;
  }
  .previous_page, a, em
  {
    float: left;
    border-right: 0px;
  }
  .next_page
  {
    float: right;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}
nav
{
  .nav-bg
  {
    height: 100%;
    background: none;
    display: table;
    z-index: -1;
    .content
    {
      display: none;
    }
  }
  &.open
  {
    height: 100%;
    z-index: 1000;
    .nav-bg
    {
      background-color: #00ccff;z-index:1000;
      position: fixed;
      .content
      {
        display: block;
      }
      .li a {
        background-color: #fff;
      }
    }
  }
}
.selectable
{
  &:hover
  {
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  }
  &.selected
  {
    border-color: $blue;
  }
}


/* Border Styles */

.border-hover
{
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  &:hover
  {
    border-color: rgba(0,0,0,.125);
  }
}
.hover-show
{
  display: none;
}
div:hover
{
  &>.hover-show
  {
    display: block;
  }
}


/* Overlay */

.overlay
{
  position: relative;
  &::after
  {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}

.overlay-3
{
  position: relative;
  &::after
  {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.3);
  }
}

.ease-in-out {
  webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ease-in-out-2 {
  webkit-transition: all 0.4s ease-in-out 4s;
  transition: all 0.4s ease-in-out 4s;
}

/***** BEGIN checkout onboarding form components *******/
#checkout {
  #checkout-price {
    font-size: 80px;
    font-weight: 200;

    #checkout-dollar-sign {
      font-size:18px;
      left:-10px;
      top:18px;
    }
  }

  /*partner code input field*/
  #profile_partner_code{
    text-transform: uppercase; 
    padding-left: 8px;
    height:34px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width:100px; 
  }

  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
/***** END checkout onboarding form components *******/
