// Breakpoints
$breakpoints: (
  xs: 32em,
  sm: 40em,
  md: 52em,
  lg: 64em,
  );


// Typography
$h0: 3rem !default; // 48px
$h1: 2rem !default; // 32px
$h2: 1.5rem !default; // 24px
$h3: 1.25rem !default; // 20px
$h4: 1rem !default; // 16px
$h5: .875rem !default; // 14px
$h6: .75rem !default; // 12px

$line-height-1: 1 !default;
$line-height-2: 1.125 !default;
$line-height-3: 1.25 !default;
$line-height-4: 1.5 !default;
$line-height-5: 2 !default;

$letter-spacing: 1 !default;
$caps-letter-spacing: .2em !default;
$bold-font-weight: bold !default;

$layout-count: 25;
