//Border
$border-width: 1px;
$border-radius: 4px;
$border-pill: 32px;

//Breakpoints
$breakpoint-xs: '(max-width: 40em)';
$breakpoint-sm: '(min-width: 40em)';
$breakpoint-md: '(min-width: 52em)';
$breakpoint-lg: '(min-width: 64em)';

$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;


// Loop Counts
$margin-count: 8; //Generates margin classes 0.5rem increments
$padding-count: 8; //Generates padding classes in 0.5rem increments

//why 25??
$layout-count: 25; //Generates height/width classes in 0.5rem increments

//Type Scale
$h0: 3rem;      // 48px
$h1: 2rem;      // 32px
$h2: 1.5rem;    // 24px
$h3: 1.25rem;   // 20px
$h4: 1rem;      // 16px
$h5: 0.875rem;  // 14px
$h6: 0.75rem;   // 12px

//Line Height Variables
$line-height-1:  1;
$line-height-2:  1.25;
$line-height-3:  1.5;
$line-height-4:  2;

// UI Color Definitions
$white: #FFFFFF;
$black: #333333;
$gray-90: #5C5C5C;
$gray-80: #666666; /*changed from domino-gray*/
$gray-60: #858585;
$gray-30: #C1C1C1;
$gray-20: #D6D6D6;
$gray-10: #EAEAEA;
$gray-05: #F3F3F3;

// UI Palette

// Brand Color Definitions
$blue: #00CCFF;
$navy: #105585;
$red: #FF0000;
$orange: #FD7E06;
