.pointer:hover {
  cursor: pointer
}

.error {
  /*color : red*/
}

input,textarea {
  width:100%;
  display:block;
}

button{
  outline: none;
}

#name-and-email {
    background: image-url('homepage_banner_nest.jpg');
    background-size:cover
}

#about-banner{
  background: image-url('homepage_banner_about.jpg');
  background-size:cover
}

.bg-lightgray{
  background-color: #F9F9F9;
}

.domino-gray{
  color: #666666;
}

input{
  padding-left: 10px;
}

#name-and-email ::placeholder{
  color: #B6C7CB;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
}

/* for jquery placeholder */
.placeholder {

}

.border-width-2 {
  border-width: 2px;
}




#profile-forms{
  input.error{
    border-color: $light-red!important;
  }

  input[type=text], input[type=email],input[type=tel], textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
    /*border: 1px solid #DDDDDD;*/
  }

  input[type=text]:focus, input[type=email]:focus,input[type=tel]:focus, textarea:focus, select:focus {
    border-color: #00ccff;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
    /*border: 1px solid rgba(81, 203, 238, 1);*/
  }

  .height-40{
    height:40px;
  }
  select{
    -webkit-appearance: none;
    border-color: black;
    width: 80px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMANzl8fX5/gKusOR4mYAAAAIRJREFUeAHtzstJBmEABMHPh46af8Ae5yYsrg4/VCXQfR4DAAAAAAAAPH9e9/F0bpSvy17OrTLqV0b9yqhfGfUrm/71g9fzZzLqV0b9yqhfGfUro35l3P/h4O38k4z6lVG/MupXRv3KqF8Z9Svtv5+JtD+S9kfS/kjaH8lv+wAAAAAAAN/yDxxm6uMIkQAAAABJRU5ErkJggg==);
  }
}

/* styles for dashboard recommendations */
.rounded-20 {
  border-radius: 20px;
}

.rounded-20-top {
  border-radius: 20px 20px 0 0;
}

.rounded-20-bottom {
  border-radius: 0 0 20px 20px;
}

/*.border-recommendation {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
}*/

#dashboard{
  hr {
      border: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0,0,0,0.125);
  }


  .border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
  }
  .border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,0.125);
  }

  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.125);
  }
  .caps {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .white {
    color: white;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}


.btn {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  /*border: 1px solid transparent;*/
  vertical-align: middle;
  -webkit-appearance: none;
}

#dashboards{

  .table-light th, .table-light td {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0,0,0,0.125);
     padding: 4px;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
  .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

  .pagination {
      border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
  }
}

.flash-msg-box {position: absolute; top: 50px;}

.btn-disabled {
  cursor: not-allowed!important;
}
