.pointer:hover { cursor : pointer}

.error { color : red }

input,textarea{
  width:100%;
  display:block;
}

button{
  outline: none;
}

#name-and-email {
    background: image-url('homepage_banner_nest.jpg');
    background-size:cover
}

#about-banner{
  background: image-url('homepage_banner_about.jpg');
  background-size:cover 
}

