.pointer:hover { cursor : pointer}

.error { color : red }

input,textarea{
  width:100%;
  display:block;
}

button{
  outline: none;
}

#name-and-email {
    background: image-url('homepage_banner_nest.jpg');
    background-size:cover
}

#about-banner{
  background: image-url('homepage_banner_about.jpg');
  background-size:cover 
}

.bg-lightgray{
  background-color: #F9F9F9;
}

.domino-gray{
  color: #666666;
}

input{
  padding-left: 10px;
}

#name-and-email ::placeholder{
  color: #B6C7CB;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
}

/* for jquery placeholder */
.placeholder {
  
}

.border-width-2 {
  border-width: 2px;
}




#profile-forms{
  input.error{
    border-color: red!important;
  }

  input[type=text], input[type=email],input[type=tel], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
    /*border: 1px solid #DDDDDD;*/
  }
   
  input[type=text]:focus, input[type=email]:focus,input[type=tel]:focus, textarea:focus {
    box-shadow: 0 0 0 2px #001f3f;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
    /*border: 1px solid rgba(81, 203, 238, 1);*/
  }

  .height-40{
    height:40px;
  }

}
