$domino-gray: #666666;

#footer {
  background-color: #f3f3f3; 
  #footer-address {
    color: $domino-gray;
  }

  ul li a {
    text-decoration: none;
    color: $domino-gray;
    font-weight: 100;
  }
}

