.modal-dialog
{
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}
.modal-content
{
  padding: 40px;
  button.close
  {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: $blue;
    opacity: 1;
    color: $white;
    box-shadow: none;
    padding-top: 2px;
    height: 20px;
    width: 20px;
  }
  .btn
  {
    color: $white !important;
    box-shadow: none;
    text-shadow: none;
    padding: .5rem 1.7rem .25rem;
    font-size: 1.2rem;
  }
}
.modal-header
{
  border-bottom: 0px;
}
.modal-footer
{
  border-top: 0px;
}