.slick-track{
  display: flex;

  .slick-slide{
      display: flex;
      flex-direction: column;
      height: auto;
      outline: none;
      background-color: #f1f1f1;
  }
}
// .slick-slide {
//   height: ;
//   outline: none;
//   box-shadow: 0 0 40px #B4F7F7;
// }

#btn-begin-onboard {
  height:42px;
  line-height: 0.6rem;
  width: 100%;
}

/* invalid state for housing toggle button on living situation form */
.btn-secondary--invalid {
  border-color: red!important;
  color: red!important;
}

/* interest form checkbox css*/
.btn-interest {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: solid 2px #666;
  position:relative;
  background-color: white;
  & > i {
    display: none;
  }
}

.btn-interest-active {
  background-color: #00CCFF;
  border-color: #00CCFF;
  & > i {
    display: inline;
  }
}
/* end interest form checkbox css */

/*onboarding icons*/
.fill-blue path { fill: #00ccff; }
.fill-blue rect { stroke: #00ccff; }

.onboarding-icon-2 {
  height: 2rem;
  width: 2rem;
}

.onboarding-icon-3 {
  height: 3rem;
  width: 3rem;
}

/*end onboarding icons*/

/* sticky footer css*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -434px;
}
.footer,
.push {
  height: 434px;
}

/* end sticky footer css */

/* css for progress bar */
table#steps {
  width: 100%;
  td { width: 20%; }
}

/* end css for progress bar */

.full-width { width: 100%; }

.onboarding-form {
  margin-top: 100px;
}

/******** concierge layout css ********/
.concierge-tools{
  background-color: #F9F9F9;
  .opt-concierge-tool { transition: all 0.1s linear; }
  .opt-concierge-tool:hover {
    background-color: #00ccff;
    a { color: white }
  }

  [data-disclosure] [data-details] {
    display: none;
  }
}

/******** highlight input fields with errors in red ********/
.invalid-field { border-color:red!important; }

/******** strikethrough css for price point on membership module ********/
.strikethrough { position: relative; }

.strikethrough:before {
  position: absolute;
  content: "";
  left: -10px;
  top: 50%;
  right: -10px;
  border-top: 4px solid orange;
  transform: rotate(-15deg);
}

#footer {
  a:hover, #social-icons .fa:hover { color: #00ccff; }
}

/********  blog cards on homepage css ********/
.blog-card-image { height: 256px; }

#solar-blog-card-img{ background-image: image-url('solar-house'); }

#cant-go-solar-blog-card-img{ background-image: image-url('wind-turbines'); }

#get-efficient-blog-card-img{ background-image: image-url('led-bulbs'); }

#family-blog-card-img{ background-image: image-url('family-blog-card'); }

/******** page header css for FAQ, About, and Team pages ********/
.page-header-image {
  background-position: center;
  height: 300px;
  margin-top: 10px;
  h1{
    font-size: 56px;
    font-weight: 200;
  }
}

#team-header { background-image: image-url('team-hero-img.jpg'); }

#about-header { background-image: image-url('about_header.jpg'); }

#faq-header { background-image: image-url('bg_faq.jpg'); }


/******** Dashboard Styling ********/
.recommendation {
  min-height: 310px;
  &:hover { border-color: #00CCFF; }
}

/******** Dashboards index view ********/
#tbl-dashboards th .current{
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

#tbl-dashboards th .asc{ background-image: image-url('up_arrow.gif'); }

#tbl-dashboards th .desc{ background-image: image-url('down_arrow.gif'); }

/******** modal used for displaying Task/Product from dashboard ********/
.modal {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  .modal-content {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 20px;
  }
}

.modal-bg {
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

nav {
  .nav-bg {
    height: 100%;
    display: table;
    z-index: -1;
    .content { display: none; }
  }
  &.open {
    height: 100%;
    z-index: 1000;
    .nav-bg {
      background-color: #00ccff;
      z-index:1000;
      position: fixed;
      .content { display: block; }
      .li a { background-color: #fff; }
    }
  }
}

.hover-show { display: none; }

div:hover {
  &>.hover-show { display: block; }
}

/* Overlay */
.overlay {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}

/***** BEGIN checkout onboarding form components *******/
#checkout {
  #checkout-price {
    font-size: 80px;
    font-weight: 200;

    #checkout-dollar-sign {
      font-size:18px;
      left:-10px;
      top:18px;
    }
  }

  /*partner code input field*/
  #profile_partner_code{
    text-transform: uppercase;
    height: 44px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    // width: 100px;
  }

  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
/***** END checkout onboarding form components *******/

$breakpoint-xs: '(max-width: 40em)' !default;
/* Basscss Responsive Margin */
@media #{$breakpoint-xs} {
  .xs-center { text-align: center; }
}

/* BEGIN custom navbar styles */
#navbar {
  .fa-bars { padding-top: 1.4rem; }
  .fa-phone { font-size: 1.2em; }
}
/* END custom navbar styles */

/* BEGIN custom Action Path Module styles */
#action-path {
  #lightbulb-outlet-icon { margin-top: 10px; }
  #heatpump-car-icon { margin-top: 27px; }
}
/* END custom Action Path Module styles */

.pointer { cursor: pointer; }

/* style rules for onboarding module on homepage */

#name-and-email.mobile-form {
  background-image: image-url('homepage-video-placeholder.jpg');
  background-position: 50% 50%;
}

.mobile-form{
  width:100%;
  min-height:100vh;
  .overlay-mobile{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.6;
    z-index: 2;
  }
}

#name-and-email {
  .video-container {
    width: 100%;
    height: 620px;
    video {
      width:100%;
      min-width:100%;
      height:100%;
      max-height:620px;
      overflow: hidden;
      object-fit: cover;
      position:absolute;
    }
  }
  .overlay-nonmobile {
    height: 620px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.4;
  }
  input[type=text], input[type=email] {
    border: 1px solid white;
    height: 42px;
  }
  ::placeholder{
    color: #858585;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
  }
}

/* end style rules for homepage onboard module */
#video-modal { display: none; }

.bg-lightgray{ background-color: #F9F9F9; }

input{ padding-left: 10px; }

#living-situation,
#footer {
  input[type=text],
  input[type=email],
  input[type=zip],
  input[type=tel],
  select {
    border: 1px solid #666;
    height: 42px;
  }
  select{
    -webkit-appearance: none;
    width: 100%;
  }
}

.border-light {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.125);
}

.border-light-gray { border-color: #c5c5c5; }

.devise-form,
.recommendation-form{
  input[type],
  textarea,
  select { border: 1px solid #DDDDDD; }
}

#profile-forms,
.recommendation-form,
.devise-form,
#footer{

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea { width:100%; }

  input[type=submit] { display: inline; }

  input.error { border-color: #D65A5A!important; }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea,
  select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  textarea:focus,
  select:focus {
    border-color: #00ccff;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }
}

/* styles for dashboard recommendations */
.rounded-20 { border-radius: 20px; }

.rounded-20-top { border-radius: 20px 20px 0 0; }

.rounded-20-bottom { border-radius: 0 0 20px 20px; }

/***** dashboard custom css ************/
.border-blue { border-color: #00ccff; }

#dashboard {
  hr {
      border: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0,0,0,0.125);
  }

  .border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
  }

  .border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,0.125);
  }

  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.125);
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

#dashboards{

  .table-light th,
  .table-light td {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0,0,0,0.125);
     padding: 4px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }

  .pagination a,
  .pagination span.current,
  .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
  }

  .pagination {
    border-left: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    .first{
      padding : 0;
      float: none;
      border: none;
    }
    .prev {
      padding : 0;
      float: none;
      border: none;
    }
    .page{
      padding : 0;
      float: none;
      border: none;
    }
    .next{
      padding : 0;
      float: none;
      border: none;
    }
    .last{
      padding : 0;
      float: none;
      border: none;
    }
  }
}

.right-10 { right: 10px; }

.top-10 { top: 10px; }

body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/* accordion element on FAQ page */
.accordion-content { display: none; }

span.toggle { width: 1em; }

#profile-forms.non-mobile{ min-height: 620px; }

#slider > div{ background: #00CCFF!important; }

/* Buttons */
.btn-navbar{
  border-width: 2px!important;
  font-size: 1.2em!important;
  &:hover{
    border-color: #00ccff;
    color: #00ccff!important;
  }
}

.btn-shame {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1rem;
  padding: .5rem 1rem;
  height: auto;
  vertical-align: middle;
  -webkit-appearance: none;
}
/* END custom.scss */
