.slick-track{
  display: flex;

  .slick-slide{
    display: flex;
    flex-direction: column;
    height: auto;
    outline: none;
    background-color: #f1f1f1;
  }
}

#btn-begin-onboard {
  height:42px;
  line-height: 0.6rem;
  width: 100%;
}

/* invalid state for housing toggle button on living situation form */
.btn-secondary--invalid {
  border-color: red!important;
  color: red!important;
}

/* interest form checkbox css*/
.btn-interest {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: solid 2px #666;
  position:relative;
  background-color: white;
  & > i {
    display: none;
  }
}

.btn-interest-active {
  background-color: #00CCFF;
  border-color: #00CCFF;
  & > i {
    display: inline;
  }
}
/* end interest form checkbox css */

/*svg icons*/
.fill-blue path { fill: #00ccff; }
.fill-blue rect { stroke: #00ccff; }
.fill-gray { fill:#c5c5c5; }
.fill-gray-05 { fill: #f3f3f3; }
.stroke-gray { stroke:#c5c5c5; }
.fill-black path { fill: #333; }
.fill-white path { fill: white; }


/* sticky footer css*/
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -434px;
}
.footer,
.push {
  height: 434px;
}

/* end sticky footer css */

/* BEGIN Onboarding steps css */
table#steps {
  width: 100%;
  td { width: 20%; }
}
/* END Onboarding steps css */

/******** concierge layout css ********/
.concierge-tools{
  background-color: #F9F9F9;
  .opt-concierge-tool { transition: all 0.1s linear; }
  .opt-concierge-tool:hover {
    background-color: #00ccff;
    a { color: white }
  }

  [data-disclosure] [data-details] {
    display: none;
  }
}

/******** highlight input fields with errors in red ********/
.invalid-field { border-color:red!important; }

/******** strikethrough css for price point on membership module ********/
.strikethrough { position: relative; }

.strikethrough:before {
  position: absolute;
  content: "";
  left: -10px;
  top: 50%;
  right: -10px;
  border-top: 4px solid orange;
  transform: rotate(-15deg);
}

/********  blog cards on homepage css ********/
.blog-card-image { height: 256px; }

#solar-blog-card-img{ background-image: image-url('solar-house'); }

#cant-go-solar-blog-card-img{ background-image: image-url('wind-turbines'); }

#get-efficient-blog-card-img{ background-image: image-url('led-bulbs'); }

#family-blog-card-img{ background-image: image-url('family-blog-card'); }

/******** page header css for FAQ, About, and Team pages ********/
.page-header-image {
  background-position: center;
  height: 300px;
  margin-top: 10px;
  h1{
    font-size: 56px;
    font-weight: 200;
  }
}

#team-header { background-image: image-url('team-hero-img.jpg'); }

#about-header { background-image: image-url('about_header.jpg'); }

#faq-header { background-image: image-url('bg_faq.jpg'); }


/******** Dashboard Styling ********/
.recommendation {
  min-height: 310px;
  &:hover { border-color: #00CCFF!important; }
}

/******** Dashboards index view ********/
#tbl-dashboards th .current{
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

#tbl-dashboards th .asc{ background-image: image-url('up_arrow.gif'); }

#tbl-dashboards th .desc{ background-image: image-url('down_arrow.gif'); }

/******** modal used for displaying Task/Product from dashboard ********/
.modal {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  .modal-content {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 20px;
  }
}

.modal-bg {
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

.hover-show { display: none; }

div:hover {
  &>.hover-show { display: block; }
}

/***** BEGIN checkout onboarding form components *******/
#checkout {
  #checkout-price {
    font-size: 80px;
    font-weight: 200;

    #checkout-dollar-sign {
      font-size:18px;
      left:-10px;
      top:18px;
    }
  }

  /*partner code input field*/
  #profile_partner_code{
    text-transform: uppercase;
    height: 44px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
/***** END checkout onboarding form components *******/

$breakpoint-xs: '(max-width: 40em)' !default;

// $breakpoint-md: '(max-width: 40em)';
@media #{$breakpoint-xs} {
  .xs-center { text-align: center; }
}

/* BEGIN custom navbar styles */
#nav-overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 0;
  right: 0;
  top: 0;
  background-color: #00ccff;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  &.open {
    height: 100%;
  }
}

/* Position the content inside the overlay */
#nav-overlay-content {
  position: relative;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  white-space: nowrap;
  overflow: hidden;
}
/* END custom navbar styles */

/* BEGIN custom Action Path Module styles */
#action-path {
  #lightbulb-outlet-icon { margin-top: 10px; }
  #heatpump-car-icon { margin-top: 27px; }
}
/* END custom Action Path Module styles */

.pointer { cursor: pointer; }

/* style rules for onboarding module on homepage */

#name-and-email.mobile-form {
  background-image: image-url('homepage-video-placeholder.jpg');
  background-position: 50% 50%;
}

.mobile-form{
  width:100%;
  min-height:100vh;
  .overlay-mobile{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.6;
    z-index: 2;
  }
}

#name-and-email {
  .video-bg-container {
    width: 100%;
    height: 620px;
    video {
      width:100%;
      min-width:100%;
      height:100%;
      max-height:620px;
      overflow: hidden;
      object-fit: cover;
      position:absolute;
    }
  }
  .overlay-nonmobile {
    height: 620px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.4;
  }
  input[type=text], input[type=email] {
    border: 1px solid white;
    height: 42px;
  }
  ::placeholder{
    color: #858585;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
  }
}

/* end style rules for homepage onboard module */
#video-modal { display: none; }

.bg-lightgray{ background-color: #F9F9F9; }

input{ padding-left: 10px; }

#living-situation{
  input[type=text],
  input[type=email],
  input[type=zip],
  input[type=tel],
  input[type=password],
  select {
    border: 1px solid #666;
    height: 42px;
  }
  select {
    -webkit-appearance: none;
    width: 100%;
  }
}

#profile-forms{
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea { width:100%; }

  input[type=submit] { display: inline; }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea,
  select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  textarea:focus,
  select:focus {
    border-color: #00ccff;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }
}
/* kaminari pagination styles */
.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #C1C1C1;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #C1C1C1;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
  span.current {
    color: #333;
    background-color: #D6D6D6;
  }
  a {
    color: #666;
  }
  a:hover {
    background-color: #00CCFF;
    color: white;
  }
}

/***** dashboard custom css ************/
#dashboard {
  .border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
  }

  .border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,0.125);
  }

  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.125);
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

#dashboards{

  .table-light th,
  .table-light td {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0,0,0,0.125);
     padding: 4px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
}

/* accordion element on FAQ page */
.accordion-content { display: none; }

span.toggle { width: 1em; }

#profile-forms.non-mobile{ min-height: 620px; }

/* Buttons */
.navbar-element {
  font-size: 1.2em!important;
  &:hover{
    border-color: #00ccff;
    color: #00ccff!important;
  }
}
/* END custom.scss */
