
/* Hover state for radio button */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/

/* Focus */
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #00ccff;
}

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: #00ccff;
  border-color: #00ccff;
}

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: #84c6ff;
}

/* Checkbox modifiers */
.checkbox .control-indicator {
  border-radius: .25rem;
}
.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

/******** highlight input fields with errors in red ********/
.invalid-field { border-color:red!important; }

/******** strikethrough css for price point on membership module ********/
.strikethrough { position: relative; }

.strikethrough:before {
  position: absolute;
  content: "";
  left: -10px;
  top: 50%;
  right: -10px;
  border-top: 4px solid orange;
  transform: rotate(-15deg);
}

#footer {
  a:hover, #social-icons .fa:hover { color: #00ccff; }
}

/********  blog cards on homepage css ********/
.blog-card-image { height: 256px; }

#solar-blog-card-img{ background-image: image-url('solar-house'); }

#cant-go-solar-blog-card-img{ background-image: image-url('wind-turbines'); }

#get-efficient-blog-card-img{ background-image: image-url('led-bulbs'); }

#family-blog-card-img{ background-image: image-url('family-blog-card'); }

/* CLEANING */
/*******************************/

/******** page header css for FAQ, About, and Team pages ********/
.page-header-image {
  background-position: center;
  height: 300px;
  margin-top: 100px;
  h1{
    font-size: 56px;
    font-weight: 200;
  }
}

#team-header { background-image: image-url('team-hero-img.jpg'); }

#about-header { background-image: image-url('about_header.jpg'); }

#faq-header { background-image: image-url('bg_faq.jpg'); }

/* Buttons */
.btn-navbar{
  border-width: 2px!important;
  font-size: 1.2em!important;
  &:hover{
    border-color: #00ccff;
    color: #00ccff!important;
  }
}

.btn-shame {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1rem;
  padding: .5rem 1rem;
  height: auto;
  vertical-align: middle;
  -webkit-appearance: none;
}

.bg-lightgray{ background-color: #F9F9F9; }

/* END OF CLEAING SECTION */
/*******************************/

/******** Dashboard Styling ********/
.recommendation {
  min-height: 310px;
  &:hover { border-color: #00CCFF; }
}

/******** Dashboards index view ********/
#tbl-dashboards th .current{
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}

#tbl-dashboards th .asc{ background-image: image-url('up_arrow.gif'); }

#tbl-dashboards th .desc{ background-image: image-url('down_arrow.gif'); }

/******** modal used for displaying Task/Product from dashboard ********/
.modal {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  .modal-content {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    padding: 40px;
    border-radius: 20px;
  }
}

.modal-bg {
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

nav {
  .nav-bg {
    height: 100%;
    display: table;
    z-index: -1;
    .content { display: none; }
  }
  &.open {
    height: 100%;
    z-index: 1000;
    .nav-bg {
      background-color: #00ccff;
      z-index:1000;
      position: fixed;
      .content { display: block; }
      .li a { background-color: #fff; }
    }
  }
}

.hover-show { display: none; }

div:hover {
  &>.hover-show { display: block; }
}

/* Overlay */
.overlay {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}

/***** BEGIN checkout onboarding form components *******/
#checkout {
  #checkout-price {
    font-size: 80px;
    font-weight: 200;

    #checkout-dollar-sign {
      font-size:18px;
      left:-10px;
      top:18px;
    }
  }

  /*partner code input field*/
  #profile_partner_code{
    text-transform: uppercase;
    height: 44px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 100px;
  }

  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
/***** END checkout onboarding form components *******/

$breakpoint-xs: '(max-width: 40em)' !default;
/* Basscss Responsive Margin */
@media #{$breakpoint-xs} {
  .xs-center { text-align: center; }
}

/* BEGIN custom navbar styles */
#navbar {
  .fa-bars { padding-top: 2.2rem; }
  .fa-phone { font-size: 1.2em; }
}
/* END custom navbar styles */

/* BEGIN custom Action Path Module styles */
#action-path {
  #lightbulb-outlet-icon { margin-top: 10px; }
  #heatpump-car-icon { margin-top: 27px; }
}
/* END custom Action Path Module styles */

.pointer { cursor: pointer; }

/* style rules for onboarding module on homepage */
.mobile-form{
  width:100%;
  height:100%;
  background-image: image-url('homepage-video-placeholder.jpg');
  background-position: 50% 50%;
  .overlay-mobile{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.6;
    z-index: 2;
  }
}

#name-and-email {
  .video-container {
    width: 100%;
    height: 620px;
    video {
      width:100%;
      min-width:100%;
      height:100%;
      max-height:620px;
      overflow: hidden;
      object-fit: cover;
      position:absolute;
    }
  }
  .overlay-nonmobile {
    height: 620px;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.4;
  }
  input[type=text], input[type=email] {
    border: 1px solid white;
    height: 42px;
  }
  ::placeholder{
    color: #858585;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
  }
}


/* end style rules for homepage onboard module */
#video-modal { display: none; }

input{ padding-left: 10px; }

#living-situation,
#footer {
  input[type=text],
  input[type=email],
  input[type=zip],
  input[type=tel],
  select {
    border: 1px solid #666;
    height: 42px;
  }
  select{
    -webkit-appearance: none;
    width: 100%;
  }
}

.border-light {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.125);
}

.border-light-gray { border-color: #c5c5c5; }

.devise-form,
.recommendation-form{
  input[type],
  textarea,
  select { border: 1px solid #DDDDDD; }
}

#profile-forms,
.recommendation-form,
.devise-form,
#footer{

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea { width:100%; }

  input[type=submit] { display: inline; }

  input.error { border-color: #D65A5A!important; }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea,
  select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }

  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  textarea:focus,
  select:focus {
    border-color: #00ccff;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }
}

/* styles for dashboard recommendations */
.rounded-20 { border-radius: 20px; }

.rounded-20-top { border-radius: 20px 20px 0 0; }

.rounded-20-bottom { border-radius: 0 0 20px 20px; }

/***** dashboard custom css ************/
.border-blue { border-color: #00ccff; }

#dashboard {
  hr {
      border: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0,0,0,0.125);
  }

  .border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
  }

  .border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,0.125);
  }

  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.125);
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

#dashboards{

  .table-light th,
  .table-light td {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0,0,0,0.125);
     padding: 4px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }

  .pagination a,
  .pagination span.current,
  .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
  }

  .pagination {
    border-left: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    .first{
      padding : 0;
      float: none;
      border: none;
    }
    .prev {
      padding : 0;
      float: none;
      border: none;
    }
    .page{
      padding : 0;
      float: none;
      border: none;
    }
    .next{
      padding : 0;
      float: none;
      border: none;
    }
    .last{
      padding : 0;
      float: none;
      border: none;
    }
  }
}

.right-10 { right: 10px; }

.top-10 { top: 10px; }

body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/* accordion element on FAQ page */
.accordion-content { display: none; }

span.toggle { width: 1em; }

#profile-forms.non-mobile{ min-height: 620px; }
#profile-forms { border-bottom: 2px solid lightgray; }

#slider > div{ background: #00CCFF!important; }


/* END custom.scss */
