/* Begin components.scss */

.page-header-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 100px
}

$light-gray: #c5c5c5;
$light-red: #D65A5A;

.light-gray { color: $light-gray; }

.bg-transparent{background-color: transparent;}

/* Dashboard Styling */
.recommendation {
  min-height: 310px;
  &:hover {
    border-color: #00CCFF;
  }
}

.index-product {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  .hover-show {
    display: none;
  } 
  &:hover {
    .hover-show {
      display: block;
    }
    border-color: rgba(0,0,0,.125);
  }
}

.hover-show {
  display: none;
}

div:hover {
  &>.hover-show {
    display: block;
  }
}

.modal {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  .modal-content {
    margin: 100px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
  }
  [data-dismiss=modal]:hover{
    cursor: pointer;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

nav {
  .nav-bg {
    height: 100%;
    background: none;
    display: table;
    z-index: -1;
    .content { display: none; }
  }
  &.open {
    height: 100%;
    z-index: 1000;
    .nav-bg {
      background-color: #00ccff;z-index:1000;
      position: fixed;
      .content { display: block; }
      .li a { background-color: #fff; }
    }
  }
}

.hover-show { display: none; }
div:hover {
  &>.hover-show { display: block; }
}

.bg-navy {
  background-color: #105585;
}

/* Overlay */
.overlay {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
}

/***** BEGIN checkout onboarding form components *******/
#checkout {
  #checkout-price {
    font-size: 80px;
    font-weight: 200;

    #checkout-dollar-sign {
      font-size:18px;
      left:-10px;
      top:18px;
    }
  }

  /*partner code input field*/
  #profile_partner_code{
    text-transform: uppercase; 
    padding-left: 8px;
    height:34px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width:100px; 
  }

  #partner-code-label{
    margin-top: 10px;
    margin-right: 10px;
  }

  @media (max-width: 40em) {
    #partner-code-label {
      float: none;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
}
/***** END checkout onboarding form components *******/

/* END components.scss */

/* BEGIN custom.scss */

$breakpoint-xs: '(max-width: 40em)' !default;
/* Basscss Responsive Margin */
@media #{$breakpoint-xs} {
  .xs-center {
    text-align: center;
  }
}
/* BEGIN custom height utilities */
.height-40 {
  height: 40px;
}

.height-32 {
  height: 32px;
}

.height-420 {
  height: 420px;
}
/* END custom height utilities */

/* BEGIN custom margin utilities */
.my8 {
  margin-top: 8em;
  margin-bottom: 8em;
}
/* END custom margin utlities */

/* BEGIN custom navbar styles */
#navbar {
  .fa-bars {
    font-size: 2rem;
    padding-top: 2.2rem;
  }
  #mobile-nav {
    ul { font-size: 3rem; }
  }
}

#navbar .fa-phone {
  font-size: 1.2em;
}
/* END custom navbar styles */

/* BEGIN custom Action Path Module styles */
#action-path {
  .wrapper { height:100px; }
  
  #lightbulb-outlet-icon { margin-top: 10px; }

  #heatpump-car-icon { margin-top: 27px; }
}
/* END custom Action Path Module styles */

.pointer:hover {
  cursor: pointer
}

button{
  outline: none;
}

/* style rules for onboarding module on homepage */
.mobile-form{
  position:relative;
  width:100%;
  height:100%;
  background-image: image-url('mobile_onboarding_bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  .overlay-mobile{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#000000, #727272);
    opacity: .6; 
    z-index: 2;
  }
}
#name-and-email {
  .video-container {
    display:block;
    width: 100%;
    height: 620px;
    overflow: hidden;
    video {
      width:100%;
      min-width:100%;
      height:100%;
      max-height:620px;
      overflow: hidden;
      object-fit: cover;
      position:absolute;
    }
  }
  .overlay-nonmobile {
    height: 620px;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(#000000, #727272);
    opacity: 0.6;
  }
}

/* end style rules for homepage onboard module */
#video-modal {
  display: none;
}

#close-modal {
  top: 8px;
  right: 8px;
}

#about-banner {
  background: image-url('bg_about-1.jpg');
  background-size:cover;
}

.bg-lightgray{
  background-color: #F9F9F9;
}

input{
  padding-left: 10px;
}

#name-and-email {
  input[type=text], input[type=email] {
    border: 2px solid white;
  }
  ::placeholder{
    color: #B6C7CB;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
  }
}

.border-width-2 { border-width: 2px; }

.border-light {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.125);
}

.border-light-gray { border-color: $light-gray; }
.border-solid { border-style: solid; }

.devise-form, .recommendation-form{
  input[type], textarea, select { border: 1px solid #DDDDDD; }
}

#profile-forms, .recommendation-form, .devise-form{
  .mln10px{ margin-left:-10px; }

  .pill-left {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  .pill-right {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  input[type=text],input[type=email],input[type=password],input[type=tel],textarea {
    width:100%;
  }

  input[type=submit] { display: inline; }

  input.error { border-color: $light-red!important; }

  input[type=text],
  input[type=email], 
  input[type=password], 
  input[type=tel], 
  textarea, 
  select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
  }

  input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,input[type=tel]:focus, textarea:focus, select:focus {
    border-color: #00ccff;
    padding: 3px 0px 3px 8px;
    margin: 0px 1px 3px 0px;
    /*border: 1px solid rgba(81, 203, 238, 1);*/
  }

  select{
    -webkit-appearance: none;
    width: 80px;
    height: 42px;
    background-size: 32%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: image-url('chevron-down.svg');
  }

}

/* styles for dashboard recommendations */
.rounded-20 {
  border-radius: 20px;
}

.rounded-20-top {
  border-radius: 20px 20px 0 0;
}

.rounded-20-bottom {
  border-radius: 0 0 20px 20px;
}

/***** dashboard custom css ************/
.border-blue {
  border-color: #00ccff;
}

#dashboard {
  hr {
      border: 0;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0,0,0,0.125);
  }

  .border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.125);
  }


  .border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,0.125);
  }

  .border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(0,0,0,0.125);
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

#dashboards{

  .table-light th, .table-light td {
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgba(0,0,0,0.125);
     padding: 4px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }

  .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

  .pagination {
    border-left: 1px solid #ddd;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
  }
}

.flash-msg-box {position: absolute; top: 50px;}

.right-10 { right: 10px; }

.top-10 { top: 10px; }

#team-header {
  background-image: image-url('team-hero-img.jpg');
}

#about-header {
  background-image: image-url('about_header.jpg');
}

.page-header-image {
  height: 380px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 101px;
}

#faq-header {
  background-image: image-url('bg_faq.jpg');
}

body.lock-position {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

#hp-video-placeholder{
  background-image: image-url('homepage-video-placeholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* accordion element on FAQ page */
.accordion-toggle{ cursor: pointer; }

.accordion-content { display: none; }

span.toggle { width: 1em; }

#profile-forms {
  min-height: 620px; 
  border-bottom: 2px solid lightgray;

  .btn-housing-active { background-color: #00CCFF; }
}

#slider > div{ background: #00CCFF!important; }

/* Buttons */
.btn-domino {
  height:3em;
  padding:1em;
  line-height: 1em;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
}

.btn-onboard-active {
  background-color: #00ccff;
  color: white;
  border: 2px solid #00ccff!important;
}

.btn-navbar{
  border-width: 2px!important;
  font-size: 1.2em!important;
  &:hover{
    border-color: #00ccff;
    color: #00ccff!important;
  }
}

.btn-shame {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1rem;
  padding: .5rem 1rem;
  height: auto;
  vertical-align: middle;
  -webkit-appearance: none;
}
/* END custom.scss */
