.amazon_picture
{
  display: flex;
  position: relative;
  img
  {
    margin: auto;
  }
}
.task.panel
{
  height: 157px;
  border: 1px solid #ccc;
  padding: 0px;
  div[class^=col]
  {
    display: flex;
    height: 100%;
    .content
    {
      margin: auto;
      padding: 20px;
    }
  }
  .done-state
  {
    overflow: hidden;
    padding: 0px;
    text-align: center;
    .gray
    {
      background-color: #d8d8d8;
      color: #FFF;
    }
    div[class^=col]
    {
      .content
      {
        font-size: 24px;
        .glyphicon
        {
          font-size: 48px;
        }
        .btn
        {
          font-size: 24px;
          padding: 4px 20px;
          padding-top: 12px;
        }
      }
    }
    .slide
    {
      left: -100%;
      position: absolute;
      padding-left: 0px;
    }
    &:hover .slide
    {
      left: 0px;
      transition: 1s;
    }
  }
}
.store.panel
{
  margin-bottom: 100px;
}
.amazon_product
{
  cursor: pointer;
  .done
  {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 10rem;
    color: #51E0A3;
    .glyphicon
    {
      margin: auto;
    }
  }
}