/* Product Font */

.adelle {font-family: $adelle-sans}

/* Basscss Type Scale */
.h0 { font-size: $h0 }

.h1 { font-size: $h1 }

.h2 { font-size: $h2 }

.h3 { font-size: $h3 }

.h4 { font-size: $h4 }

.h5 { font-size: $h5 }

.h6 { font-size: $h6 }

@if (variable-exists(breakpoints)){
  @each $bp-name, $bp-value in $breakpoints{
    @media (min-width: $bp-value) {
      .#{$bp-name}-h0 { font-size: $h0 }
      .#{$bp-name}-h1 { font-size: $h1 }
      .#{$bp-name}-h2 { font-size: $h2 }
      .#{$bp-name}-h3 { font-size: $h3 }
      .#{$bp-name}-h4 { font-size: $h4 }
      .#{$bp-name}-h5 { font-size: $h5 }
      .#{$bp-name}-h6 { font-size: $h6 }
    }
  }
}
/*FUOT*/

.wf-loading { visibility:hidden; }


/* Basscss Typography */

.font-family-inherit { font-family: inherit }

.font-size-inherit { font-size: inherit }

.text-decoration-none { text-decoration: none }

.line {
  text-decoration: none;
  display:inline-block;
  position: relative;
  z-index: 1;
}
.line:after{
  content: '';
  position: absolute;
  width: 100%;
  height:4px;
  bottom:1px;
  background-color: #b2efff;
  left:0;
  right:0;
  z-index:-1;
  transition: all 0.2s ease-in-out;
  -webkit-tranisition: all 0.2s ease-in-out;
  border-radius:0;

}
.line:hover:after {
  bottom: -4px;
  background-color: #66e0ff;
  transition: all 0.2s ease-in-out;
  -webkit-tranisition: all 0.2s ease-in-out;
  height: 2px;
  border-radius:1px;
}

.bold    { font-weight: 700}

.medium { font-weight: 600 }

.regular { font-weight: 400 }

.light { font-weight: 300 }

.italic  { font-style: italic }

.caps    { text-transform: uppercase; letter-spacing: $caps-letter-spacing; }

.left-align   { text-align: left }

.center       { text-align: center }

.right-align  { text-align: right }

.justify      { text-align: justify }

.nowrap { white-space: nowrap }

.break-word { word-wrap: break-word }

.line-height-0 {line-height: 0;} //temporary solution to global body{line-height:1.5}

.line-height-1 { line-height: $line-height-1 }

.line-height-2 { line-height: $line-height-2 }

.line-height-3 { line-height: $line-height-3 }

.line-height-4 { line-height: $line-height-4 }

.measure { max-width: 48rem }
.measure-narrow { max-width: 32rem }
.measure-wide { max-width: 60rem }

.list-style-none { list-style: none }

.underline { text-decoration: underline }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.tnum{
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
.subs {
  display: inline;
  font-variant-position: sub;
 -moz-font-feature-settings: "subs";
 -webkit-font-feature-settings: "subs";
 font-feature-settings: "subs";
}
// CSS classes from WordPress

.post-header {
  h1, h2 { font-weight: 300 }
  h1 { font-size: 2.5rem }
}

.post-content {
  font-size: 1.1rem;
  line-height: 1.75em;
  li { margin-bottom: 0.5em }
  a {
    color: $blue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.text-link {
  a {
    color: $blue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.wp-caption-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0 0 2em 0;
}
