div.img {

    border: 0px solid #ccc;
    border-radius: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.img_float {
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    float: left;
    width: 280px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

div.desc {
    padding: 5px;
    text-align: center;
}

div.exrp {
	  @extend div.desc;
    font-style: italic;
}


.clear {
  clear: both;
}