div.img_not_use {

    border: 0px solid #ccc;
    border-radius: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.img {
    margin: 5px;
    border: 0px solid #ccc;
    border-radius: 5px;
    float: left;
    width: 280px;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

div.desc {
    /*padding: 2px;*/
    text-align: center;
}

div.exrp {
	@extend div.desc;
    font-style: italic;
}


div.srch {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
}




.clear {
  clear: both;
}