button, .btn, a.btn
{
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  padding: .5rem 1.7rem .25rem;
  font-size: 1.2rem;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn-default
{
  background-color: $red;
  color: $white;
  border: none;
  &:hover, &:active, &:focus
  { 
    background-color: $red;
    color: $white;
    border: none;
  }
}

.btn.large, button.large
{
  font-size: 2rem;
  margin-top: 20px;
  padding: 20px 50px 10px;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

.btn.small, button.small
{
  padding: .6rem .8rem .3rem;
  line-height: 1.3rem;
  font-size: 1.1rem;
}

.btn.tiny
{
  padding: 5px 20px 3px;
}

.btn.transparent, button.transparent
{
  background-color: transparent;
  border: 2px solid $white;
  color: white;
}