button, .btn 
{
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 10px;
  border-style: none;
  background-color: $red;
  color: $white;
  &:hover, &:focus, &:active
  {
    color: $white;
  }
}
.btn:hover
{
  color: $white;
}

.btn.large, button.large
{
  font-size: 1.5rem;
  padding: 15px 30px;
  padding-top: 20px;
}
.btn.small, button.small
{
  padding: .6rem .8rem .3rem;
  line-height: 1.3rem;
  font-size: 1.1rem;
  background-color: #DB5461;
}