.calculator {
  background-color: rgba(0, 0, 0, 0.2);
  color: $light-color;
  @include border-radius;
  padding: 15px;

  .twitter-typeahead {
    width: 220px;
    display: table !important;
    margin: 0 auto;
  }
  input[type=text] {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .tt-menu {
    background-color: $light-color;
    color: $primary-color;
    border-color: rgb(204, 204, 204);
    width: 100%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.0588235) 0px 1px 0px 0px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .tt-suggestion {
    cursor: pointer;
    margin-bottom: 0;
    padding: 5px;
  }
  .tt-suggestion:hover, .tt-suggestion:focus, .tt-cursor {
    background-color: $green-color;
  }

  .button-row {
    margin-top: 15px;
  }
  .selector-title {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    vertical-align: middle;
  }
  .btn {
    color: $light-color;
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  input[type=checkbox] {
    width: 100%;
  }
  .btn:hover,
  .btn:focus {
    color: $light-color;
    background-color: $green-color;
  }
  .btn.active,
  .btn.active:hover,
  .btn.active:focus {
    color: $green-color;
    background-color: $light-color;
  }
  .start-over {
    font-weight: 300;
    font-size: 16px;
    a{color: $light-color;}
    margin-top: 20px;
  }
}

.calculator-result {
  display: none;

  .result-category {
    display: none;
  }
  .result-category.active {
    display: inherit;
  }
}

.calculator-result.active {
  display: inherit;
}
