//             primary light   green   dark               reserve
$defaultColor: #6E6E6E #FFF9F0 #5FC3A2 rgba(0, 0, 0, 0.2) #db5461;
$hundredColor: #6E6E6E #fdfdfd #3ebaec #0167ba            #ff9900;

$overlayColor: rgba(48, 48, 48, 0.7);

@mixin colorSet($color: $defaultColor) {
  $primary-color: nth($color, 1);
  $light-color: nth($color, 2);
  $green-color: nth($color, 3);
  $dark-color: nth($color, 4);
  $reserve-button-color: nth($color, 5);

  $footer-links-color: #313131;

  background-color: $light-color;
  color: $primary-color;

  .navbar.scrolled,
  .calculator .tt-menu,
  .calculator .btn.active,
  .calculator .btn.active:hover,
  .calculator .btn.active:focus,
  .concierge .reserve {
    background-color: $light-color;
  }
  button,
  .navbar,
  .dark,
  .calculator .tt-suggestion:hover,
  .calculator .tt-suggestion:focus,
  .calculator .tt-cursor,
  .calculator .btn:hover,
  .calculator .btn:focus,
  .about .quote {
    background-color: $green-color;
  }
  .calculator {
    background-color: $dark-color;
  }
  .reserve-button .btn,
  .getstarted-button .btn {
    background-color: $reserve-button-color;
  }
  .footer {
    background-color: $footer-links-color;
  }
  .concierge .reserve.submitted .btn,
  .footer .mailing-list.submitted .btn {
    background-color: $primary-color;
  }

  .calculator .tt-menu,
  .concierge .reserve {
    color: $primary-color;
  }
  button,
  .navbar a,
  .reserve-button .btn,
  .getstarted-button .btn,
  .dark,
  .calculator,
  .calculator .btn,
  .calculator .btn:hover,
  .calculator .btn:focus,
  .calculator .start-over a,
  .meet-millers,
  .meet-dan,
  .concierge a,
  .footer,
  .footer .link a,
  .footer p a,
  .about .quote {
    color: $light-color;
  }
  em,
  .navbar.scrolled a,
  .calculator .btn.active,
  .calculator .btn.active:hover,
  .calculator .btn.active:focus,
  .about .header,
  .how h1,
  .how p.header,
  .concierge .title,
  .loveus h1,
  .glyphicon-ok,
  .glyphicon-ok-circle {
    color: $green-color;
  }

  .how .why-reason {
    border: 1px solid $green-color;
  }

  .concierge .errors {
    color: $reserve-button-color;
  }

  .navbar.scrolled g,
  .how .steps circle {
    fill: $green-color;
  }
  .navbar g {
    fill: $light-color;
  }

  .how .steps g {
    stroke: $light-color;
  }
  .how g {
    stroke: $green-color;
  }
}

.overlay {
  background-color: $overlayColor;
}

body.index .navbar,
body.getstarted .navbar {
  background-color: rgba(0, 0, 0, 0);
}

body {
  @include colorSet();
}

.\00003100 { // must escape .100 for it to be valid in css
  @include colorSet($hundredColor);
}