.btn-navbar{
  border-width: 2px!important;
  font-size: 1.2em!important;
  &:hover{
    border-color: $blue;
    color: $blue!important;
  }
}

.btn
{
  .disabled
  {
    background-color: $gray;
  }
}

.btn-domino {
  height:3em;
  padding:1em;
  line-height: 1em;
  border-radius: 1.5em;
  border: none;
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1rem;
  padding: .5rem 1rem;
  height: auto;
  vertical-align: middle;
  -webkit-appearance: none;
}

.btn-onboard-active {
  background-color: #00ccff;
  color: white;
  border: 2px solid #00ccff!important;
}

/*Hover effect waiting for approval*/
/*.btn-outline:hover {
  border-color: $blue;
  background-color: $blue;
  font-color: $white;
}*/

/*.transition-ease {
  -webkit-transition: all 0.30s ease-in-out;
     -moz-transition: all 0.30s ease-in-out;
     -ms-transition: all 0.30s ease-in-out;
     -o-transition: all 0.30s ease-in-out;
}*/

