body {
  font-family: 'proxima-nova',sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova',sans-serif;
  font-weight: normal;
}

.measure {
  max-width:48em;

}

p {
  font-size: 20px;
  font-weight:300;
}
