@font-face {
  font-family: 'lato';
  src: font-url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: font-url('Lato-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

h1 {
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 60px;
  margin: 0;
}
h2 {
  font-size: 36px;
  letter-spacing: 0.4px;
  line-height: 50px;
  margin: 0;
}
h3 {
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 40px;
  margin: 0;
}
h4 {
  font-size: 12px;
  margin: 0;
}

p {
  margin: 0;
}