@font-face {
    font-family: 'ProximaNovaA';
    src: url('//mydomino.com/fonts/proximanovaa-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('//mydomino.com/fonts/proximanovaa-medium-webfont.woff2') format('woff2'),
         url('//mydomino.com/fonts/proximanovaa-medium-webfont.woff') format('woff'),
         url('//mydomino.com/fonts/proximanovaa-medium-webfont.ttf') format('truetype'),
         url('//mydomino.com/fonts/proximanovaa-medium-webfont.svg#proxima_nova_amedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaA';
    src: url('//mydomino.com/fonts/proximanovaa-light-webfont.eot');
    src: url('//mydomino.com/fonts/proximanovaa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('//mydomino.com/fonts/proximanovaa-light-webfont.woff2') format('woff2'),
         url('//mydomino.com/fonts/proximanovaa-light-webfont.woff') format('woff'),
         url('//mydomino.com/fonts/proximanovaa-light-webfont.ttf') format('truetype'),
         url('//mydomino.com/fonts/proximanovaa-light-webfont.svg#proxima_nova_alight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaA';
    src: url('proximanovaa-bold-webfont.eot');
    src: url('proximanovaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovaa-bold-webfont.woff2') format('woff2'),
         url('proximanovaa-bold-webfont.woff') format('woff'),
         url('proximanovaa-bold-webfont.ttf') format('truetype'),
         url('proximanovaa-bold-webfont.svg#proxima_nova_abold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNovaA';
    src: url('proximanovaa-boldit-webfont.eot');
    src: url('proximanovaa-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovaa-boldit-webfont.woff2') format('woff2'),
         url('proximanovaa-boldit-webfont.woff') format('woff'),
         url('proximanovaa-boldit-webfont.ttf') format('truetype'),
         url('proximanovaa-boldit-webfont.svg#proxima_nova_abold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

html
{
  font-size: 16px;
  line-height: 30px;
}

body 
{
  font-family: 'ProximaNovaA', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0px;
  font-weight: 300;
  color: $blue;
}
p
{
  color: $gray;
}
h1 
{
  font-size: 3rem;
  line-height: 4rem;
}
h2 
{
  font-size: 2.25rem;
  line-height: 3.25rem;
}
h3 
{
  font-size: 1.5rem;
  line-height: 2.5rem;
}
h4 
{
  font-size: 1.33rem;
  line-height: 1.5rem;
}