.footer {
  .top {
    padding: 40px 0 60px;
    text-align: center;

    .link {
      padding: 0 20px;
      display: inline-block;
    }
  }

  .social .link {
    float: left;
    padding: 0 25px 30px 0;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  .seia {padding-top: 20px;}

  .copyright {
    padding: 45px 0 25px;
    text-align: center;
  }
}
