.footer {
  text-align: center;
  padding-top: 30px;
  background-color: $dark-gray;
  .row
  {
    margin-bottom: 40px;
  }
  a, p
  {
    color: #FFF;
  }
  .seia
  {
    padding-top: 30px;
  }

  .copyright
  {
    padding-top: 45px;
  }
}
