.footer {
  text-align: center;
  color: #FFF;
  padding-top: 30px;
  background-color: $dark-gray;

  a, p
  {
    color: #FFF;
  }

  .row
  {
    margin-bottom: 30px;
  }

  img {
    margin: 0 auto;
    display: block;
  }

  .seia
  {
    padding-top: 35px;
  }

  .copyright
  {
    padding: 45px 0 25px;
    text-align: center;
  }
}
