form
{
  input 
  {
    background-color: transparent;
    width: 100%;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: $blue;
  }
  button, .btn
  {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .errors
  {
    ul
    {
      list-style-type: none;
      padding: 0;
      padding-top: 10px;
      border: 1px solid rgba(255,0,0,.5);
      border-radius: 2px;
    }
    li
    {
      color: red;
      padding: 5px;
      background-color: $white;
      text-align: left;
    }
  }
  &+.success
  {
    display: none;
    position: absolute;
    top: 0px;
    color: $blue;
    width: 100%;
    text-align: center;
  }
}
.glyphicon.huge
{
  font-size: 15rem;
}