form
{
  label
  {
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .checkbox label
  {
    text-transform: none;
  }
  input, textarea
  {
    background-color: transparent;
    width: 100%;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: $blue;
    margin-bottom: 30px;
  }
  select
  {
    width: 100%;
  }
  input[disabled]
  {
    cursor: not-allowed;
    background-color: #eee;
  }
  textarea
  {
    max-width: 100%;
    width: 100%;
  }
  &.new_amazon_storefront .checkbox
  {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  button[type="submit"], .btn[type="submit"]
  {
    font-size: 2rem;
    margin-top: 20px;
    padding: 20px 50px 10px;
    letter-spacing: .15rem;
    text-transform: uppercase;
    &.complete:disabled
    {
      background-color: #016B84;
      opacity: 1;
    }
    &.tiny
    {
      font-size: 1rem;
      margin-top: 0px;
      padding: 7px 20px 3px;;
    }
  }

  .errors
  {
    ul
    {
      list-style-type: none;
      padding: 0;
      margin-top: 10px;
      border: 1px solid rgba(255,0,0,.5);
      border-radius: 2px;
    }
    li
    {
      color: red;
      padding: 5px;
      background-color: $white;
      text-align: left;
    }
  }
  &+.success
  {
    display: none;
    color: $blue;
    width: 100%;
    text-align: center;
  }
}
.form-inline
{
  input:not([type="submit"])
  {
    padding: 5px;
    font-size: .9rem;
    line-height: 1.2rem;
    height: 30px;
    color: $gray;
  }
}
.blue
{
  input.form-control
  {
    border: none;
  }
}
.panel
{
  input.form-control, textarea.form-control
  {
    border: 2px solid $blue;
  }
}
.glyphicon.huge
{
  font-size: 15rem;
}