// Selectors in here should be truly global - used in multiple places throughout
// the app.

@mixin border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.center {text-align: center;  }

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body .container {
  padding-left: calc((100vw - 1000px) / 2);
  padding-right: calc((100vw - 1000px) / 2);
  width: 100%;
}

button {
  @include border-radius;
  border-style: none;
  font-size: 13px;
  font-weight: bold;
}
.reserve-button .btn {
  width: 270px;
  height: 35px;
  font-weight: bold;
}
.getstarted-button .btn {
  @include border-radius;
  width: 263px;
  height: 40px;
  border-width: 0;
  padding: 0;
  font-size: 24px;
  padding-top: 3px;
}
.small .getstarted-button .btn {
  width: 151px;
  height: 32px;
  font-size: 18px;
}
input {
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border-style: none;
  height: 30px;
  width: 270px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
