//States:
//Top-of-screen(not scrolled), Desktop
//Scrolled, Desktop
//Top of Screen, Mobile,
//Scrolled, mobile

$nav-height: 100px;

.navbar {
  background-color: rgba(48, 48, 48, 0.65);
  border-radius: 0px;
  height: $nav-height;
  padding-top: 12px;
  border-width: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;

  &.logo-only
  {
     .nav
     {
      display: none;
     }
  }

  background-color: transparent;
  svg g
  {
    fill: $white;
  }
  &.dark
  {
    background-color: rgba(48, 48, 48, 0.65);
  }

  li:not(.button)
  {
    a
    {
      &:focus
      {
        color: $white;
      }
      &:hover
      {
        color: #FFF;
        text-decoration: underline;
      }
      color: #FFF;
    }

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
  }

  &.fixed
  {
    position: fixed;
  }
}
//scrolled
.navbar.scrolled
{
  background-color: $white;
  color: $blue;
  height: auto;
  padding-top: 0px;
  ul.navbar-nav li a
  {
    &:hover
    {
      color: $blue;
    }
    color: $blue;
  }
  svg
  {
    g
    {
      fill: $blue;
    }
  }
}

.navbar:not(.scrolled) li.button 
{
  display: none;
}

//mobile
@media (max-width: 767px) {
  .navbar .navbar-collapse ul.navbar-nav
  {
    width: 100%;
  }
  .navbar-collapse
  {
    background: #FFF;
    ul.navbar-nav li a
    {
      color: #02CCFF;
    }
  }
}
@media (max-width: $screen-md-min)
{
  nav.scrolled ul.navbar-nav li:not(.button)
  {
    display: none;
  }
}
.navbar-toggle
{
  margin-top: 15px;
}
