//States:
//Top-of-screen(not scrolled), Desktop
//Scrolled, Desktop
//Top of Screen, Mobile,
//Scrolled, mobile

$nav-height: 100px;

.navbar {
  background-color: $white;
  border-radius: 0px;
  height: $nav-height;
  border-width: 0;
  z-index: 1000;
  padding: 10px 25px 0px;
  margin-bottom: 20px; 
  li:not(.button)
  {
    a
    {
      &:focus
      {
        color: $white;
      }
      &:hover
      {
        color: #FFF;
        text-decoration: underline;
      }
      color: #FFF;
    }
  }
  .dropdown-menu > li > a 
  {
    color: #333;
    &:hover
    {
      color: #333;
    }
  }
  //don't display navs on a logo only navbar
  &.logo-only
  {
    nav
    {
      display: none;
    }
  }
  &.blue
  {
    background-color: $blue;
    svg g
    {
      fill: $white;
    }
  }
  &.ultra-light-gray
  {
    background-color: #F9F9F9;
    color: $blue;
    svg g
    {
      fill: $blue;
    }
  }
  &.light-gray
  {
    background-color: #D8D8D8;
    color: $blue;
    svg g
    {
      fill: $blue;
    }
  }
  &.dark
  {
    background-color: rgba(48, 48, 48, 0.65);
    svg g
    {
      fill: $white;
    }
  }
  &.overlay
  {
    position: absolute;
  }      
  &.fixed
  {
    position: fixed;
  }
  &.transparent
  {
    background: transparent;
    svg g
    {
      fill: $white;
    }
  }
}
//scrolled
.navbar.scrolled
{
  background-color: $white;
  color: $blue;
  height: auto;
  padding-top: 0px;
  ul.navbar-nav li a
  {
    &:hover
    {
      color: $blue;
    }
    color: $blue;
  }
  svg
  {
    g
    {
      fill: $blue;
    }
  }
}

.navbar:not(.scrolled) li.button 
{
  display: none;
}

.concierge.navbar-fixed-top
{
  min-height: 20px;
  height: auto;
  padding: 0px;
  z-index: 2;
  background-color: $blue;
  .navbar-brand
  {
    color: #FFF;
  }
}

//mobile
@media (max-width: 767px) {
  .navbar .navbar-collapse ul.navbar-nav
  {
    width: 100%;
  }
  .navbar-collapse
  {
    background: #FFF;
    ul.navbar-nav li a
    {
      color: #02CCFF;
    }
  }
}
@media (max-width: $screen-md-min)
{
  nav.scrolled ul.navbar-nav li:not(.button)
  {
    display: none;
  }
}
.navbar-toggle
{
  margin-top: 15px;
}
