//States:
//Top-of-screen(not scrolled), Desktop
//Scrolled, Desktop
//Top of Screen, Mobile,
//Scrolled, mobile

$nav-height: 100px;

.navbar {
  background-color: $white;
  border-radius: 0px;
  height: $nav-height;
  border-width: 0;
  width: 100%;
  z-index: 1000;
  &.logo-only
  {
    nav
    {
      display: none;
    }
  }
  &.blue
  {
    background-color: $blue;
  }
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 0px; 
  z-index: 1000;
  &.gray
  {
    background-color: #F9F9F9;
    color: $blue;
    svg g
    {
      fill: $blue;
    }
  }
  svg g
  {
    fill: $blue;
  }
  .navbar-header
  {
     .nav
     {
      display: none;
     }
  }

  background-color: transparent;
  svg g
  {
    fill: $white;
  }
  &.dark
  {
    background-color: rgba(48, 48, 48, 0.65);
  }

  &.overlay
  {
    background-color: rgba(48, 48, 48, 0.65);
    position: absolute;
    svg g
    {
      fill: $white;
    }
  }      
  li:not(.button)
  {
    a
    {
      &:focus
      {
        color: $white;
      }
      &:hover
      {
        color: #FFF;
        text-decoration: underline;
      }
      color: #FFF;
    }
  }
  &.fixed
  {
    position: fixed;
  }
}
//scrolled
.navbar.scrolled
{
  background-color: $white;
  color: $blue;
  height: auto;
  padding-top: 0px;
  ul.navbar-nav li a
  {
    &:hover
    {
      color: $blue;
    }
    color: $blue;
  }
  svg
  {
    g
    {
      fill: $blue;
    }
  }
}

.navbar:not(.scrolled) li.button 
{
  display: none;
}

//mobile
@media (max-width: 767px) {
  .navbar .navbar-collapse ul.navbar-nav
  {
    width: 100%;
  }
  .navbar-collapse
  {
    background: #FFF;
    ul.navbar-nav li a
    {
      color: #02CCFF;
    }
  }
}
@media (max-width: $screen-md-min)
{
  nav.scrolled ul.navbar-nav li:not(.button)
  {
    display: none;
  }
}
.navbar-toggle
{
  margin-top: 15px;
}
