$nav-height: 100px;
@media (max-width: 768px) {
  .navbar .navbar-collapse ul.navbar-nav
  {
    width: 100%;
  }
  .navbar-collapse
  {
    background: #FFF;
    ul.navbar-nav li a
    {
      color: #02CCFF;
    }
  }
}
.navbar-toggle
{
  margin-top: 15px;
}

.navbar {
  &.fixed
  {
    position: fixed;
  }
  height: $nav-height;
  padding-top: 12px;
  border-width: 0;
  position: absolute;
  width: 100%;
  z-index: 1030;

  .navbar-header
  {
    padding: 0px 20px;
  }

  li:not(.button)
  {
    a
    {
      color: #FFF;
    }
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
  }
  li.button .btn.small
  {
    font-size: 1.8rem;
    padding-top: 10px;
    background-color: #DB5461;
  }
}

body.index .navbar li.button,
body.getstarted .navbar li.button {
  display: none;
}

body.index .navbar.scrolled li.button {
  display: inline-block;
}