$nav-height: 100px;

.navbar {
  height: $nav-height;
  padding: 12px 0;
  display: table-cell;
  vertical-align: middle;
  border-width: 0;

  .row {height: 100%;}
  ul{
    padding-top: 20px;
  }
  li{padding-left: 50px;}
}

body.index .navbar li.button,
body.getstarted .navbar li.button {
  display: none;
}

body.index .navbar.scrolled li.button {
  display: inherit;
}