$viewport-height: calc(100vh - #{$nav-height});

.intro {
  padding-top: 100px;
  padding-bottom: 30px;
  min-height: 100vh;
  background-image: url(homepage-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  .content {
    margin: auto;
    text-align: center;
    align-self: center;
    .title {margin-bottom: 30px;}
  }
}

.how {
  padding: 80px 0px;
  h1 {margin-bottom: 50px;}

  .steps {
    svg {
      width: 58px;
      height: 58px;
      font-family: 'ProximaNovaA' !important;
    }
  }
}

.meet-millers {
  position: relative;
  min-height: 600px;
  background-image: image-url('meet-millers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  .content.foreground.overlay{
    position: absolute;
    bottom: 0px;
    top:auto;
    height: auto;
    padding: 10px 0px;
  }
}

.loveus {
  h1 {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .reasons
  {
    .row
    {
      padding-bottom: 60px;
    }
  }
}
.testimonials
{
  .carousel-control.left, .carousel-control.right
  {
    background:transparent;
  }
  background-image: image_url('testimonials.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
  min-height: 600px;
  border-radius: 6px;
  .item, .carousel-inner
  {
    min-height: 600px;
  }
  .item
  {
    background-color: rgba(226, 108, 116, .8);
    .carousel-caption
    {
      min-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  p.testimonial {
    border: 1px solid #FFF;
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding: 20px;
    margin: auto;
    position: relative;
    span.byline
    {
      display: inline-block;
      position: absolute;
      bottom: -95px;
      line-heght: 2.5rem;
      left: 25px;
      text-align: left;
      font-size: 2.5rem;

    }
    &::before 
    {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 70px;
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: #FFF transparent;
      display: block;
      width: 0;
    }
    &::after 
    {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 71px;
      border-width: 19px 19px 0;
      border-style: solid;
      border-color: rgba(226, 108, 116, 1) transparent;
      display: block;
      width: 0;
    }
  }
}
.meet-dan {
  position: relative;
  min-height: 600px;
  background-image: image-url('feature-concierge-dan.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  button
  {
    margin-top: 30px;
  }
  .content {
    padding: 100px 0px;
  }
}

.exit {
  padding: 100px 0;
  h1 {margin: 35px 0 15px;}

  p {
    max-width: 650px;
    margin: 0 auto 50px auto;
  }
}
.concierge.hero {
  padding-top: 100px;
  height: 100vh;
  min-height: 600px;
  background-image: url(form-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  .content {
    margin: auto;
    text-align: center;
    align-self: center;
    .title {margin-bottom: 30px;}
  }
}
.new
{
  background: #00CCFF;
  color: #FFF;

  .contact-method
  {
    padding-bottom: 30px;
  }
  .panel.reserve 
  {
    @include border-radius;
    margin-top: -100px;
    padding: 35px 0px;
    color: #6E6E6E;
    .title, p {
      padding-bottom: 30px;
    }

    input {
      width: 100%;
      padding: 30px;
      font-size: 1.8rem;
    }

    button
    {
      font-size: 3rem;
      width: 100%;
      padding: 10px;
      padding-top: 15px;
    }

    .icon {
      display: none;
      font-size: 25rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .reserve.submitted .icon {
    display: inherit;
  }

  .moreways {
    margin-top: 25px;
  }

  .team {
    background-image: url(team-photo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
}

.about {
  .header {
    svg {
      height: 100px;
      margin: 64px auto 32px;
      display: block;
    }
    .title {font-weight: bold}
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
  .section {
    padding: 32px 0;

    h2 {
      margin-bottom: 28px;
      line-height: 42px;
    }
  }
  .quote {
    padding: 24px 40px;
    margin: 30px 0;
    .testimonial {
      line-height: 48px;
      margin-bottom: 8px;
    }
    .name {
      text-align: right;
    }
  }
  img {
    max-width: 800px;
    padding: 32px 0;
    display: block;
    margin: 0 auto;
  }
}

.privacy-policy, .terms-of-service {
  margin: 70px 0;
  h3 {margin-top: 30px;}
}