$viewport-height: calc(100vh - #{$nav-height});

.intro {
  padding-top: 100px;
  min-height: 100vh;
  background-image: url(homepage-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  .overlay
  {
    display: flex;
    min-height: 100vh;
  }
  &.alternate-background
  {
    background-image: url(bike.png);
  }
  .content {
    margin: auto;
    text-align: center;
    align-self: center;
    .title {margin-bottom: 30px;}
  }
}

.how {
  padding: 80px 0px;
  h1 {margin-bottom: 50px;}

  .steps {
    svg {
      circle
      {
        fill: $blue;
      }
      width: 58px;
      height: 58px;
      margin: 10px;
      font-family: 'ProximaNovaA' !important;
    }
  }
}

.meet-millers {
  position: relative;
  min-height: 600px;
  background-image: image-url('meet-millers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .content.foreground.overlay{
    position: absolute;
    bottom: 0px;
    top:auto;
    padding: 10px 0px;
  }
}

.loveus {
  h1 {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .reasons
  {
    .row
    {
      padding-bottom: 60px;
    }
  }
}
.testimonials
{
  .carousel-control.left, .carousel-control.right
  {
    background:transparent;
  }
  background-image: image_url('testimonials.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
  min-height: 600px;
  .item, .carousel-inner
  {
    min-height: 600px;
  }
  .item
  {
    background-color: rgba(226, 108, 116, .8);
    .carousel-caption
    {
      padding: 50px 0px;
      min-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  div.testimonial
  {
    p.byline
    {
      padding-left: 40px;
      text-align: left;
      font-size: 1.2rem;
      color: #FFF;
    }
    p.testimonial 
    {
      color: #FFF;
      border-radius: 6px;
      border: 3px solid #FFF;
      font-size: 1.5rem;
      line-height: 1.7rem;
      padding: 20px;
      margin: auto;
      margin-bottom: 20px;
      position: relative;
      &::before
      {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 70px;
        border-width: 20px 20px 0;
        border-style: solid;
        border-color: #FFF transparent;
        display: block;
        width: 0;
      }
      &::after 
      {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 76px;
        border-width: 14px 14px 0;
        border-style: solid;
        border-color: rgba(226, 108, 116, 1) transparent;
        display: block;
        width: 0;
      }
    }
  }
}
.meet-dan {
  position: relative;
  min-height: 600px;
  background-image: image-url('feature-concierge-dan.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  button
  {
    margin-top: 30px;
  }
  .content {
    padding: 100px 0px;
  }
}

.exit {
  padding: 100px 0;
  h1 {margin: 35px 0 15px;}

  p {
    max-width: 650px;
    margin: 0 auto 50px auto;
  }
}
.concierge.hero {
  padding-top: 100px;
  height: 100vh;
  min-height: 600px;
  background-image: url(form-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  .content {
    margin: auto;
    text-align: center;
    align-self: center;
    .title {margin-bottom: 30px;}
  }
}
.new
{
  .reserve.submitted .icon {
    display: inherit;
  }

  .glyphicon.success
  {
    color: $blue;
  }

  .moreways {
    margin-top: 25px;
  }

  .team {
    background-image: url(team-photo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
}

.about, .terms
{
  .navbar:not(.scrolled)
  {
    li.button
    {
      display: block;
    }
    background-color: $blue;
  }
  h1, h2, h3, .blue
  {
    margin-bottom: 30px;
  }
  p
  {
    margin-bottom: 20px;
  }
  .row
  {
    margin-bottom: 25px;
  }
}
