$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;

// Custom Media Query Variables

$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

/* Basscss Responsive Type */

@media #{$breakpoint-sm} {
.sm-h1 { font-size: $h1 }

.sm-h2 { font-size: $h2 }

.sm-h3 { font-size: $h3 }

.sm-h4 { font-size: $h4 }

.sm-h5 { font-size: $h5 }

.sm-h6 { font-size: $h6 }
}

@media #{$breakpoint-md} {
.md-h1 { font-size: $h1 }

.md-h2 { font-size: $h2 }

.md-h3 { font-size: $h3 }

.md-h4 { font-size: $h4 }

.md-h5 { font-size: $h5 }

.md-h6 { font-size: $h6 }
}

@media #{$breakpoint-lg} {

.lg-h1 { font-size: $h1 }

.lg-h2 { font-size: $h2 }

.lg-h3 { font-size: $h3 }
.lg-h4 { font-size: $h4 }

.lg-h5 { font-size: $h5 }

.lg-h6 { font-size: $h6 }

}
