$viewport-height: calc(100vh - #{$nav-height});

.intro {
  height: 100vh;
  min-height: 500px;
  background: url(homepage-hero.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  .content {
    position: relative;
    top: calc(50% + #{$nav-height});
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    .title {padding-bottom: 30px;}
  }
}

.explanation {
  min-height: $viewport-height;
  padding: 32px 0;

  .section {
    padding: 16px 0;
  }
  li {
    margin-bottom: 14px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .info-box {
    background-color: #ffffff;
    @include border-radius;
    padding: 20px;

    h3 {
      font-size: 22px;
      padding: 11px 0;
    }
    .reserve-button {
      margin-top: 14px;
    }
    .subtext {
      font-size: 11px;
      font-weight: lighter;
      font-style: italic;
      margin-top: 4px;
    }
  }
}

.calculator-section {
  padding-top: 70px;
  padding-bottom: 180px;
  min-height: 584px;
  height: $viewport-height;

  .drawing {
    max-width: 80%;
    height: auto;
    vertical-align: bottom;
    position: absolute;
  }
}

.how {
  padding-top: 80px;
  min-height: 560px;
  h1 {margin-bottom: 50px;}

  .steps {
    .step {
      padding-left: 0;
      padding-right: 48px;
      margin-bottom: 45px;
    }

    svg {
      width: 58px;
      height: 58px;
    }
  }
}

.meet-millers {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    bottom: 0;
  }

  .content {
    position: relative;
    padding: 10px 0;
  }
}

.loveus {
  margin-top: 45px;
  h1 {padding-bottom: 60px;}

  .table {
    margin: 0 auto;
    display:table;
    max-width: 600px;

    .reason {display: table-row;}

    .imgcontainer {
      padding-bottom: 100px;
      padding-right: 35px;
    }

    .imgcontainer, p {
      display:table-cell;
      vertical-align:middle;
    }
  }
}

.meet-dan {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
  }

  .content {
    position: relative;
    padding: 80px 0 80px 30px;
    max-width: 440px;
  }

  h3 {padding-bottom: 30px;}
}

.exit {
  padding: 100px 0;
  h1 {margin: 35px 0 15px;}

  p {
    max-width: 650px;
    margin: 0 auto 50px auto;
  }
}

.concierge {
  .top {
    height: 100vh;
    background: url(form-hero.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    .content {
      position: relative;
      top: calc(50% + #{$nav-height});
      -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
      transform: translateY(-55%);
      .title {padding-bottom: 30px;}
    }
  }

  #concierge {
    position: relative;
    top: -40px;
  }

  .reserve {
    height: 100%;
    @include border-radius;
    margin-top: -100px;
    padding: 35px 80px;
    .title, p {padding-bottom: 30px;}

    form {
      width: 90%;
      margin: 0 auto;
    }

    input, button {
      width: 100%;
      height: 60px;
    }

    input {
      padding-left: 20px;
      font-size: 18px;
    }

    button {
      font-size: 24px;
      font-weight: lighter;
    }

    .icon {
      display: none;
      font-size: 200px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .reserve.submitted .icon {
    display: inherit;
  }

  .moreways {
    margin-top: 25px;
  }

  .table {
    margin-top: 15px;
    margin-bottom: 0;
    display:table;
    text-align: left;

    .imgcontainer, p {
      display:table-cell;
      vertical-align:middle;
    }

    .imgcontainer {padding-right: 8px;}
    p.first {padding-right: 20px;}
  }

  .middle {
    margin-bottom: 100px;
  }

  .bottom {
    max-height: 500px;
    background: url(team-photo.jpg) no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    h2 {position: inherit}

    .getstarted-button {
      padding-top: 50px;
      position: inherit;
    }
  }
}

.about {
  .header {
    svg {
      height: 100px;
      margin: 64px auto 32px;
      display: block;
    }
    .title {font-weight: bold}
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
  .section {
    padding: 32px 0;

    h2 {
      margin-bottom: 28px;
      line-height: 42px;
    }
  }
  .quote {
    padding: 24px 40px;
    margin: 30px 0;
    .testamonial {
      line-height: 48px;
      margin-bottom: 8px;
    }
    .name {
      text-align: right;
    }
  }
  img {
    max-width: 800px;
    padding: 32px 0;
    display: block;
    margin: 0 auto;
  }
}

.privacy-policy, .terms-of-service {
  margin: 70px 0;
  h3 {margin-top: 30px;}
}