$section-height: calc(100vh - #{$nav-height});

@mixin section-container-height {
  height: $section-height;
  min-height: 500px;
}

.intro {
  @include section-container-height;

  .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }

  svg {
    margin-top: 40px;
  }
}

.explanation {
  min-height: $section-height;
  padding: 32px 0;

  .section {
    padding: 16px 0;
  }
  li {
    margin-bottom: 14px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .info-box {
    background-color: #ffffff;
    @include border-radius;
    padding: 20px;

    h3 {
      font-size: 22px;
      padding: 11px 0;
    }
    .reserve-button {
      margin-top: 14px;
    }
    .subtext {
      font-size: 11px;
      font-weight: lighter;
      font-style: italic;
      margin-top: 4px;
    }
  }
}

.calculator-section {
  padding-top: 70px;
  padding-bottom: 180px;
  min-height: 584px;
  height: $section-height;

  .drawing {
    max-width: 80%;
    height: auto;
    vertical-align: bottom;
    position: absolute;
  }
}

.how {
  padding-top: 32px;
  padding-bottom: 50px;
  h2 {margin-bottom: 24px;}
  h3 {margin-bottom: 5px;}

  .steps {
    .step {
      padding-left: 0;
      padding-right: 48px;
      margin-bottom: 45px;
    }

    svg {
      margin-bottom: 20px;
      width: 58px;
      height: 58px;
    }
  }

  .why-reason-container-left {
    padding-left: 0;
    padding-right: 18px;
  }
  .why-reason-container-right {
    padding-left: 0;
    padding-left: 18px;
  }
  .why-reason {
    @include border-radius;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 125px;
    height: 228px;
    h3 {margin-top: 0;}

    svg {
//      width: px;
      height: 125px;
      bottom: 0;
      right: 15px;
      position: absolute;
    }
  }
}

.concierge {
  padding-top: 70px;
  padding-bottom: 80px;

  .reason {
    height: 100px;

    svg {
      float: left;
      width: 58px;
      height: auto;
    }
    .reason-content {margin-left: 73px;}
    p {
      font-size: 13px;
      font-weight: lighter;
    }
  }
  .reserve {
    @include border-radius;
    padding: 40px 10px;

    p {
      font-style: italic;
      font-weight: lighter;
    }
    .subtext {
      font-size: 11px;
      font-weight: lighter;
      font-style: italic;
    }
    .icon {
      display: none;
      font-size: 200px;
      position: absolute;
      top: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .reserve.submitted .icon {
    display: inherit;
  }
}

.about {
  .header {
    svg {
      height: 100px;
      margin: 64px auto 32px;
      display: block;
    }
    .title {font-weight: bold}
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
  .section {
    padding: 32px 0;

    h2 {
      margin-bottom: 28px;
      line-height: 42px;
    }
  }
  .quote {
    padding: 24px 40px;
    margin: 30px 0;
    .testamonial {
      line-height: 48px;
      margin-bottom: 8px;
    }
    .name {
      text-align: right;
    }
  }
  img {
    max-width: 800px;
    padding: 32px 0;
    display: block;
    margin: 0 auto;
  }
}