$nav-height: 67px;
$section-height: calc(100vh - #{$nav-height});

@mixin section-container-height {
  height: $section-height;
  min-height: 500px;
}

@mixin border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.center {text-align: center;  }

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  height: $nav-height;
  padding-top: 8px;
  padding-bottom: 8px;
  display: table-cell;
  vertical-align: middle;

  .element{
    display: inline-block;
    float: none;
  }
  .row {height: 100%;}
  .logo {
    width: 160px;
    height: 45px;
  }
}

.intro {
  @include section-container-height;
  margin-top: $nav-height;

  .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }

  svg {
    margin-top: 40px;
  }
}

.explanation {
  min-height: $section-height;
  padding: 32px 0;

  .section {
    padding: 16px 0;
  }
  li {
    margin-bottom: 14px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .info-box {
    background-color: #ffffff;
    @include border-radius;
    padding: 20px;

    h3 {
      font-size: 22px;
      padding: 11px 0;
    }
    .reserve-button {
      margin-top: 14px;
    }
    .subtext {
      font-size: 11px;
      font-weight: lighter;
      font-style: italic;
      margin-top: 4px;
    }
  }
}

.calculator-section {
  padding-top: 70px;
  padding-bottom: 180px;
  min-height: 584px;
  height: $section-height;

  .drawing {
    max-width: 80%;
    height: auto;
    vertical-align: bottom;
    position: absolute;
  }
}

.how {
  padding-top: 32px;
  padding-bottom: 50px;
  h2 {margin-bottom: 24px;}
  h3 {margin-bottom: 5px;}

  .steps {
    .step {
      padding-left: 0;
      padding-right: 48px;
      margin-bottom: 45px;
    }

    svg {
      margin-bottom: 20px;
      width: 58px;
      height: 58px;
    }
  }

  .why-reason-container {
    padding-left: 0;
    padding-right: 20px;
  }
  .why-reason {
    @include border-radius;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 115px;
    height: 220px;
    h3 {margin-top: 0;}

    svg {
      width: 90px;
      height: 90px;
      bottom: 0;
      right: 22px;
      position: absolute;
    }
  }
}

.concierge {
  padding-top: 70px;
  padding-bottom: 80px;

  .reason {
    min-height: 100px;

    svg {
      float: left;
      width: 58px;
      height: auto;
    }
    .reason-content {margin-left: 73px;}
    p {
      font-size: 13px;
      font-weight: lighter;
    }
  }
  .reserve {
    @include border-radius;
    padding: 40px 10px;

    p {
      font-style: italic;
      font-weight: lighter;
    }
    .subtext {
      font-size: 11px;
      font-weight: lighter;
      font-style: italic;
    }
  }
}

.footer {
  padding-top: 30px;
  table {width: 100%;}

  .links {
    padding-top: 55px;
    padding-bottom: 100px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: normal;

    .logos {padding-left: 20%;}
    p.link {margin-bottom: 0;}
    a {
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

button {
  @include border-radius;
  border-style: none;
  font-size: 13px;
  font-weight: bold;
}
.reserve-button button {
  width: 270px;
  height: 35px;
}
input {
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border-style: none;
  height: 30px;
  width: 270px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}