.snippet {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 200px;
  height: 35px;
  @include border-radius;
  background-image: -webkit-gradient(
                  linear,
                  left bottom,
                  left top,
                  color-stop(0, #CCC),
                  color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
                  center bottom,
                  #CCC 0%,
                  #F5F5F5 100%
  );
}

.snippet .content {
  margin-top: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
}

.snippet .content a {
  color: #000;
  text-decoration: none;
}

.snippet .actions {
  font-size: 12px;
  float: right;
}

.snippet .actions a {
  text-decoration: none;
}

.nested_snippets {
  margin-left: 30px;
}

.nested_snippets .nested_snippets .nested_snippets .nested_snippets .nested_snippets {
  margin-left: 0;
}

.import-export {
  position: absolute;
  height: 100%;
  width: 450px;
  overflow-y: scroll;
}

.form-container {
  position: absolute;
  left: 450px;
}