.max-width-4.mx-auto.bg-gray-05.my4
  .max-width-2.mx-auto.p4.line-height-2.gray-60
    %h1.mt0 Thank you for sending us your employees CSV file. 
    %h2.line-height-2
      Your request will be processed shortly. Please check back later.
    
    = link_to root_path do 
      .btn.btn-md.btn-primary.btn-primary--hover
        Back to home