=simple_form_for @product do |form|
  =form.label :url, "Product URL"
  =form.input_field :url, class: 'text-input'
  .my2.block.right-align
    =form.submit "Add Product", class: "btn btn-sm btn-primary"
