=simple_form_for @product do |form|
  .clearfix
    =form.label :url, "Product URL", class: "block"
    =form.input_field :url, class: "field col-12"
  .clearfix
    =form.submit "Create", class: "btn bg-blue white rounded right mt2"