=simple_form_for @product do |form|
  .clearfix
    =form.label :url, "Product URL", class: "block"
    =form.input_field :url, class: "field col-12"
  .clearfix
    =form.submit "Add Product", class: "btn bg-blue white h3 px3 py2 rounded mt2"
