.product{data: {toggle: 'modal', target: "#product-#{product.id}"}}
  .status.caps{class: ('completed' if recommendation.done)}
    .completion-status-icon
    Bought
  %div
    =image_tag product.image_url
  %h4.center.bold.truncate
    =product.name