.product{class: product.id,data: {toggle: 'modal', target: "#product-#{product.id}"}}
  .status.uppercase{class: ('completed' if recommendation.done)}
    .completion-status-icon
    Bought
  .amazon_picture
    =image_tag product.image_url
  %h4.bold.title.text-center
    =product.name
