.modal{id: "product-#{product.id}"}
  .container
    .modal-dialog
      .modal-content
        .modal-header.relative
          .absolute.top-0.left-0.close.lh0{"data-dismiss" => "modal"}
            %span{ style: 'font-size: 2rem;' }
              .fa.fa-times.blue
        .modal-body
          .clearfix
            .sm-col.sm-col-12.md-col-6.center
              =image_tag product.image_url
            .sm-col.sm-col-12.md-col-6.center
              %h3
                =product.name
              %p
                =product.description
              =link_to "#{product.price} on Amazon", product.url, class: 'btn block center bg-navy white rounded mb1', target: "_blank"
              -if(!recommendation.done)
                =link_to "I've bought this", recommendation_complete_path(recommendation.id), class: 'btn block center bg-blue white rounded', method: :post
              -else
                =link_to "Mark as Unpurchased", recommendation_undo_complete_path(recommendation.id), class: 'btn block center bg-blue white rounded', method: :delete
          -if recommendation.comment.present?
            %hr
            .row
              .col-xs-12
                %h5.uppercase.bold 
                  =recommendation.concierge.name
                  Says
                %p
                  =recommendation.comment