.container
  .row
    .col-xs-12.text-center
      %h2 Product Library
      %table.table
        -@products.each do |product|
          =render 'product_row', product: product
      =link_to "Add New", new_product_path, class: 'btn btn-default pull-right'
      =link_to "Dashboards", dashboards_path, class: 'btn btn-default pull-left'