%div{style: 'background-color:#f3f3f3'}
  .max-width-4.mx-auto
    .clearfix
      .sm-col.sm-col-3.ml4
        %p.h5
          327 19th Street
          %br
          Oakland, CA 94612
          %br
          hello@mydomino.com
          %br
          800-979-2215

      .sm-col.sm-col-8
        .inline-block.m2.right
          %h4{style: 'margin-bottom: -10px;'} GET SOCIAL
          %ul.list-reset.h5
            %li Facebook
            %li Twitter
        .inline-block.m2.right
          %h4{style: 'margin-bottom: -10px;'} ABOUT US
          %ul.list-reset.h5
            %li Press
            %li Careers
            %li FAQ
        .inline-block.m2.right
          %h4{style: 'margin-bottom: -10px;'} COMPANY
          %ul.list-reset.h5
            %li Home
            %li Blog
            %li Terms of Service
            %li Privacy Policy
        .inline-block.m2.right
          %h4{style: 'margin-bottom: -10px;'} LEARN MORE
          %ul.list-reset.h5
            %li 
              =link_to "Clean Power", "/blog/category/clean-power/"
            %li Heating & Cooling
            %li Transportation
            %li Energy Freedom
            %li Concierge Corner

        