%nav.clearfix
  .max-width-8.mx-auto
    .sm-col.sm-col-12.p2
      = link_to embedded_svg('mydomino_logo_universal.svg'), root_path
      -if current_user.role == 'lead'
        =link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn-navbar gray-80 border p1 rounded text-decoration-none navbar-element right mt1'