%meta{name: 'google-site-verification', content: '5s_fZsv1gHwFzIdMwqyXngXqnTJolYGN-ZG70JJ8P3Q'}
%meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
%meta{name: 'description', content: '100% clean energy is awesome. MyDomino makes it easy. From solar panels to smart thermostats and everything in between, we’ve done the research and lined up deals so you don’t have to.' }
%meta{property: "og:type", content: "website"}
%meta{property: "og:title", content: "MyDomino"}
%meta{property: "og:image", content: "http://www.mydomino.com/assets/homepage-hero.jpg"}
%meta{property: "og:description", content: '100% clean energy is awesome. MyDomino makes it easy. From solar panels to smart thermostats and everything in between, we’ve done the research and lined up deals so you don’t have to.'}
%meta{property: "og:url", content: root_url}