.container.row.navbar.navbar-default.navbar-fixed-top
  = link_to embedded_svg('domino-logo.svg'), root_path
  .navbar-header.pull-right
    %ul.nav.navbar-nav
      %li
        %p= link_to 'About', about_path
      %li.button
        .small= render 'common/getstarted_button'
