%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path