%nav.navbar.navbar-default.gray
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header{style: "padding: 0px;"}
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
