%nav.navbar.navbar-default{class: content_for(:navbar_class) }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li.button
          = link_to anchor: 'get-started', class: 'button' do
            %button.btn.small
              GET STARTED
