%nav.navbar.navbar-default.navbar-fixed-top.concierge{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      =link_to 'Concierge Menu', amazon_storefronts_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      %li
        =link_to new_amazon_storefront_recommendation_path(@amazon_storefront) do
          .glyphicon.glyphicon-plus
          Add Recommendation
/      %li.dropdown
/        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
/          Dropdown
/          %b.caret
/        %ul.dropdown-menu
/          %li
/            %a{href: "#"} Action
/          %li
/            %a{href: "#"} Another action
/          %li
/            %a{href: "#"} Something else here
/          %li
/            %a{href: "#"} Separated link