-if concierge_signed_in?
  =render 'concierge_narrow_navbar'
.container
  .row
    .col-xs-12
      .store.panel
        %h2.bold
          Hi, 
          =@amazon_storefront.lead_name
        .row
          .col-xs-12
            %h3
              Our team of nerds loves to test and research green technologies.
            %p
              These
              %strong.blue-text
                hand-picked product recommendations
              will help you save energy and money.
              =#"#{@amazon_storefront.concierge.name}'s Recommendations"
        .row
          .col-xs-12
            .row
              %h4.uppercase{style: "font-weight: 400;margin-top:72px;"} Tasks
              %hr{style: "margin-top:8px;"}
              -@tasks.each do |task|
                =render task
        .row
          .col-xs-12
            .row
              %h4.uppercase{style: "font-weight: 400;margin-top: 150px;"} Products
              %hr{style: "margin-top:8px;"}
              -@products.each do |product|
                =render product

