.container
  .row
    .col-xs-12
      %h1
        =@amazon_storefront.lead_name
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .row
        -@amazon_storefront.amazon_products.each do |product|
          .col-xs-12.col-sm-6.col-md-4
            .amazon_picture
              =image_tag product.image_url
            =product.name
:javascript
  $(document).ready(function(){
    var maxHeight = 0;

    $("div.amazon_picture img").each(function(){
       if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
    });

    $("div.amazon_picture").height(maxHeight);
  });
