.container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .row
        -@amazon_storefront.amazon_products.each do |product|
          .col-xs-12.col-sm-6.col-md-4
            =image_tag product.image_url
            =product.name