-if concierge_signed_in?
  =render 'concierge_narrow_navbar'
  :css
    body
    {
      padding-top: 40px;
    }
  .modal.fade#new-recommendation
    .container
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            .row
              .col-xs-12
                =render 'recommendations/form'
.container
  .row
    .col-xs-12
      .store.panel
        %h2.bold.text-center
          Hi, 
          =@storefront.lead_name
        .row
          .col-xs-12
            %h3
              Our team of nerds loves to test and research green technologies.
            %p
              These
              %strong.blue-text
                hand-picked product recommendations
              will help you save energy and money.
              =#"#{@storefront.concierge.name}'s Recommendations"
        .row
          .col-xs-12
            .row
              %h4.uppercase{style: "font-weight: 400;margin-top:72px;"} Actions
              %hr{style: "margin-top:8px;"}
              -@tasks.each do |task|
                =render task
        .row
          .col-xs-12
            .row
              %h4.uppercase{style: "font-weight: 400;margin-top: 150px;"} Products
              %hr{style: "margin-top:8px;"}
              -@products.each do |product|
                =render product

